#set( $resourcesPath = $!utilWebconfig.getStaticResourcesPath() )
#set( $resourceVersion = $!utilWebconfig.getResourceVersion() )
<link rel="stylesheet" href="$!{resourcesPath}/resources/zui/css/zui.min.css?version=$!{resourceVersion}" >
<link rel="stylesheet" href="$!{resourcesPath}/resources/css/common.css?version=$!{resourceVersion}"/>