	<div class="jiux-footer jiuw2">
		<div class="footer-top ">
			<div class="footID clearfix jiuw2">
				<ul class="fl">
					<li><a href="$!rs_official_site/about/aboutus.html">关于九休</a></li>
					<li><a href="$!rs_official_site/about/contactus.html">联系我们</a></li>
					<li><a href="$!rs_official_site/feedback/">意见反馈</a></li>
					<li>招商咨询&nbsp;&nbsp;4000-696-888/9:00~22:00，周一到周日</li>
				</ul>
				<div class="fr">
					<!-- <a class="wb"></a> -->
					<a class="wx"><i></i></a>
					<a class="qq"><i></i></a>
				</div>
			</div>
		</div>
		<div class="footer-bom">
			<div class="footID jiuw2">
				<img src="$!rs_path_jiuxiu/img/b_logo.png">
				<a href = "$!jiuxiu.im.site/prod/im/JIUXIU_IM_1.0.exe">
				<div class="downloadIM fr"></div>
				</a>

				<p>COPYRIGHT&copy; 2016 JIUXIULVXING.COM 九休旅行版权所有</p>
				<p><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备16022217号-1</a></p>
			</div>
		</div>
	</div>
	
