
<!-- 九牛商户后台静态资源路径 -->
#set( $rs_path_jiuxiu = $utilWebconfig.getResourcePathJiuXiu() )
<!-- 九牛商户后台旧样式的资源路径 -->
#set( $rs_path_admin = $utilWebconfig.getResourcePathAdmin() )
<!-- 九牛官网域名-->
#set( $rs_official_site = $utilWebconfig.getJiuXiuOfficialSite() )
<!-- 系统根路径 -->
#set( $root_path = $utilWebconfig.getRootPath() )

#set( $jiuniu_update_file = $utilWebconfig.getActionUploadFilePath() )
#set( $jiuniu_im_site = $utilWebconfig.getIMPath() )

<!-- 是否是测试模式 -->
#set( $test = $utilWebconfig.isTestMode())
#if( $test )
	<!-- 测试模式下旧样式的src路径 -->
	#set( $rs_js_css_path_admin = $!rs_path_admin+"/res/src" )
	<!-- 测试模式下的src路径 -->
	#set( $rs_js_css_path_jiuxiu = $!rs_path_jiuxiu+"/res/src" )
#else
	<!-- 正式模式下旧样式的src路径 -->
	#set( $rs_js_css_path_admin = $!rs_path_admin+"/dest" )
	<!-- 正式模式下的src路径 -->
	#set( $rs_js_css_path_jiuxiu = $!rs_path_jiuxiu+"/dist" )
#end

<!-- tfs路径 -->
#set( $tfs = $utilWebconfig.getTfsRootPath())
#set( $filegw_url = $utilWebconfig.getFilegwPath())
#set( $filegw_domain = $utilWebconfig.getFilegwDomain())




#if( $user.nickname )
	#set( $username= $user.nickname )
#else
	#set( $username= $utilPhone.getMobile( $user.mobile) )
#end

#if( $user.avatar  )
	#set( $avatar= $!tfs + $utilImg.getImgUrl($user.avatar, 100) )
#else
	#set( $avatar= "$!rs_path_jiuxiu/img/default_1.png" )
#end

