<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	#parse("layout/layout-meta.vm")


	<link rel="shortcut icon" href="$!rs_path_jiuxiu/img/jiuxiu_favicon.ico" mce_href="$!rs_path_jiuxiu/img/jiuxiu_favicon.ico" type="image/x-icon" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/base.css">
	<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/account.css">
	<link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/common.css">

	<title>$!title</title>	
	
</head>
<body  class = "bodyWhite">
	<!-- 头部开始 -->
	<div class="clearfix actlg-header">
		<div class="logo"><a href="$!rs_official_site/officialweb/indexJX.html"><img src="$!rs_path_jiuxiu/img/loginlogo.jpg"/></a></div>
		<ul class="clearfix">
			<li><a class="on" href="$!rs_official_site/officialweb/indexJX.html">九休旅行APP</a></li>
			<li><a  href="$!rs_official_site/officialweb/recruitment.html">九休商务</a></li>
			<li><a href="$!root_path/home">商家中心</a></li>
		</ul>
		<div class="lgrg">
			<a  href="$root_path/user/login">登录</a>
			<a  href="$root_path/user/register">注册</a>
		</div>
	</div>
	
	$screen_content
	
	<!-- 首页的中心部分结束 -->
	#parse("layout/layout-footer.vm")
	
	<!-- 尾部结束 -->
	#parse("layout/layout-js.vm")
	<script>seajs.use("login");</script><!--应用程序模块入口JS-->
</body>
</html>

