	#parse("layout/layout-meta.vm")


	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta property="wb:webmaster" content="3aababe5ed22e23c" />     

    <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css" >
    <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/groupTravel.css?version=$!{utilWebconfig.getResourceVersion()}"/>
    <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/css/zui.min.css"/>
    
	<link rel="stylesheet" href="$rs_js_css_path_admin/css/addtravel.css"/>
	<link rel="stylesheet" href="$rs_js_css_path_admin/css/editer.css"/>
	
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/base.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/common.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/eredar.css">
	

	<script type="text/javascript" src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" ></script>
	<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.form.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_admin/layer/layer.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_admin/js/addtravel.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_admin/js/upldf.js"></script>
	
	
	
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/base.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/common.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/eredar.css">
