<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>

#set( $rs_path_jiuxiu = $utilWebconfig.getResourcePathJiuXiu() )
#set( $rs_path = $utilWebconfig.getResourcePath() )
#set( $root_path = $utilWebconfig.getRootPath() )
#set( $tfs = $utilWebconfig.getTfsRootPath() )
#set( $test = $utilWebconfig.isTestMode())


#if( $user.nickname )
	#set( $username= $user.nickname )
#else
	#set( $username= $utilWebconfig.getMobile( $user.mobile) )
#end
#if( $user.avatar  )
	#set( $avatar= $!tfs + $user.avatar)
#else
	#set( $avatar= "$!rs_path_jiuxiu/img/default_1.png" )
#end


	<link rel="shortcut icon" href="$!rs_path_jiuxiu/img/jiuxiu_favicon.ico" mce_href="$!rs_path_jiuxiu/img/jiuxiu_favicon.ico" type="image/x-icon" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/base.css">
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/common.css">
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/eredar.css">
</head>
<body>
	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="$!rs_path_jiuxiu/img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10">
						<img src="$avatar">
					<i></i></span>
					<span>Hi：</span> <span>$!username</span>
				</a>
				<a class="ext" href="/user/logout">退出</a>
			</div>
		</div>
	</div>

	<div class = "comwidth crumbs f12">您所在的位置：店铺管理><a class = "f12 gray6">基本信息</a></div>
		<div class = "comwidth clearfix" id = "eredar">
			<div class = "eredar-left">
				#parse("layout/menu.vm")
			</div>
			<div class = "eredar-right">
		    	$screen_content
			</div>
		</div>
	</div>
    
    <script type="text/javascript" src="$!rs_path_jiuxiu/src/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_path_jiuxiu/src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_path_jiuxiu/src/js/config.js"></script>		
</body>
</html>

