
<input type="hidden" id="root_path" value="$root_path">
<input type="hidden" id="filegw_url" value="$filegw_url">
<input type="hidden" id="filegw_domain" value="$filegw_domain">
<input type="hidden" id="jiuniu_update_file" value="$jiuniu_update_file">
<input type="hidden" id="static_path" value="$rs_js_css_path_jiuxiu">
<input type="hidden" id="tfs" value="$tfs">