	#set( $currentMenuId = $!currentMenu.id )
	
	#foreach($menu in $!menus)
		<dl #if($!{velocityCount} ==1) class = "first" #end>
			#if( $menu.type == 1 )
				<dd>$!menu.name</dd>
					#if( $menu.children )
						#foreach($child in $!$menu.children)
							#if( $child.type == 1 )
								<dt #if($!{velocityCount} ==1) class ="one #if( $currentMenuId == $child.id) on #end" #end>
									<a href="$!root_path$!{child.url}" >$!child.name</a>
								</dt>
							#end
						#end
					#end 
				
			#end
		</dl>
    #end
