<link rel="shortcut icon" href="http://s0.yimayholiday.com/PC_B2C/img/bitbug_favicon.ico" mce_href="http://s0.yimayholiday.com/PC_B2C/bitbug_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">

#set( $rs_path = $utilWebconfig.getResourcePath() )
#set( $root_path = $utilWebconfig.getRootPath() )
#set( $test = $utilWebconfig.isTestMode())
#if( $test )
	#set( $rs_js_css_path = $!rs_path+"/src" )
#else
	#set( $rs_js_css_path = $!rs_path+"/dist" )
#end
#set( $tfs = $utilWebconfig.getTfsRootPath())
#set( $user = $rc.get("user") )