#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("layout/layout-meta.vm")
	<title>申请入驻</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/filldata.css">
</head>


	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">账号类型选择</div>
		<div class="chsdm pt50 pb50">
			<i class="chst"></i><label  class="chst">请选择您要注册的账号类型，请谨慎选择，确定后不可再次修改</label>
		</div>
		<div class="chsdm">
			<div class="fl">
				<img src="$!rs_path_jiuxiu/img/chs_l.jpg">
				<h4>商家号</h4>
				<p>给企业和组织提供更强大的业务服
					务与用户管理能力，帮助企业快速
					实现全新的公众号服务平台。</p>
				<a href="$!root_path/apply/merchant/toAggrementPage">我是商家选这个</a>
				<div class="centline"></div>
			</div>
			<div class="fr">
				<img src="$!rs_path_jiuxiu/img/chs_r.jpg">
				<h4>达人号</h4>
				<p>给企业和组织提供更强大的业务服
					务与用户管理能力，帮助企业快速
					实现全新的公众号服务平台。</p>
				<a href="$!root_path/apply/talent/agreement">我是达人选这个</a>
			</div>
		</div>
	</div>

