#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>申请入驻</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/merchant.css">
</head>

<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/merchant.css">

<input type="hidden" id="merchantSubmit"  value="$!root_path/merchant/saveBasic">

	<!-- 面包屑 -->
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">基本信息</li>
					<li>账户信息</li>
				</ul>
			</div>
			<form class="registerform" method="post" action="">
				<input type="hidden" name="id" #if("$!id" == "") value="0" #else value="$!id" #end/>
			   <div class = "eredar-list eredar-list1 merchant-list1">
				    <p>	
						<em><font>*</font>昵称  :</em>
						<span>
							<input type="text" value="$!nickName" name="nickName" class="inputxt" datatype="s6-18" errormsg="昵称至少6个字符,最多18个字符！" />
						</span>
					</p>
					<p>
						<em>店铺负责人电话  :</em>
						<span>
							<input type="text" value="$!merchantPrincipalTel" name="merchantPrincipalTel" class="inputxt" datatype="m" errormsg="请输入店铺负责人手机号码！"  />
						</span>
					</p>
					<p>
						<em>客服电话  :</em>
						<span>
							<input type="text" value="$!serviceTel" name="serviceTel" class="inputxt" datatype="m" errormsg="请输入客服电话号码！"  />
						</span>
					</p>
					<p>
						<em class="mt">店铺地址  :</em>
						<span>
							<textarea tip="请在这里输入您的店铺地址。" value="" altercss="gray" class="gray" name="address"  datatype="*" errormsg="请在这里输入您的店铺地址！">$!address</textarea><label class = "lab">0/100</label>
						</span>
					</p>
					<div class="merchant-shop">
						<label class="mt"><font>*</font>店铺头像  :</label>
						<div class="bigbox">
							<span class="imgbox">
								<div class="canclick canclickL">
									#if("$!djImage" == "")
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
									#else
									<img src="$!imgSrc$!djImage">
									#end
								</div><div class="plhd"></div><div class="del">删除图片</div>
								<input type="file" name="adpicfile" class="adpicfile single">
								<input type="hidden" name="djImage" value="$!djImage">
							</span>
						<label class="lab">图片大小不超过500K,建议图片尺寸为：800*300,仅限于JPG,BMP,PNG格式</label>
			           </div>
					</div>
			    	<div class="merchant-shop">
						<label class="mt"><font>*</font>店铺店标  :</label>
						<div class="bigbox">
							<span class="imgbox">
								<div class="canclick canclickL">
									#if("$!txImage" == "")
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
									#else
									<img src="$!imgSrc$!txImage">
									#end
								</div><div class="plhd"></div><div class="del">删除图片</div>
								<input type="file" name="adpicfile" class="adpicfile single">
								<input type="hidden" name="txImage" value="$!txImage">
							</span>
						<label class="lab">图片大小不超过500K,建议图片尺寸为：200*200,仅限于JPG,BMP,PNG格式</label>
			           </div>
					</div>
				</div>
			</form>
			<div class = "eredar-list merchant-list2">
				<button id="save">保存</button>
			</div>
	#parse("layout/layout-js.vm")
	<script>seajs.use("merchant");</script>	
