<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="http://s0.test.jiuxiulvxing.com/busines/img/jiuxiu_favicon.ico" mce_href="http://s0.test.jiuxiulvxing.com/busines/img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>等待审核</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/filldata.css">
</head>
<body>
	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="http://s0.test.jiuxiulvxing.com/busines/img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10"><img src="http://s0.test.jiuxiulvxing.com/busines/img/default_1.png"><i></i></span>
					<span>Hi：</span><span>13655545879</span>
				</a>
				<a class="ext">退出</a>
			</div>
		</div>
	</div>
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家开通申请</div>
		<div class="titbox">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step step-on">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-on step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="waiting tc m60">
			<i></i><label class="f18 ml5 gray6">您的商家资料我们已经收到</label><br>
			<span class="f16 gray6">请等待审核结果，审核通过后即可使用！</span>
		</div>
	</div>
	<script type="text/javascript" src="http://s0.test.jiuxiulvxing.com/busines/src/js/sea.js"></script>
	<script type="text/javascript" src="http://s0.test.jiuxiulvxing.com/busines/src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="http://s0.test.jiuxiulvxing.com/busines/src/js/config.js"></script>		
	<script>seajs.use("merchant");</script>	
</body>
</html>
