<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.sellerAdmin.mapper.CategoryQualificationMapper" >
  <resultMap id="BaseResultMap" type="com.yimayhd.sellerAdmin.model.CategoryQualificationDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_category" property="merchantCategory" jdbcType="BIGINT" />
    <result column="qulification_id" property="qulificationId" jdbcType="BIGINT" />
    <result column="required" property="required" jdbcType="BIT" />
    <result column="serial_no" property="serialNo" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_category, qulification_id, required, serial_no, status, gmt_created, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from category_qualification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from category_qualification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.sellerAdmin.model.CategoryQualificationDO" >
    insert into category_qualification (id, merchant_category, qulification_id, 
      required, serial_no, status, 
      gmt_created, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{merchantCategory,jdbcType=BIGINT}, #{qulificationId,jdbcType=BIGINT}, 
      #{required,jdbcType=BIT}, #{serialNo,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.sellerAdmin.model.CategoryQualificationDO" >
    insert into category_qualification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantCategory != null" >
        merchant_category,
      </if>
      <if test="qulificationId != null" >
        qulification_id,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="serialNo != null" >
        serial_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantCategory != null" >
        #{merchantCategory,jdbcType=BIGINT},
      </if>
      <if test="qulificationId != null" >
        #{qulificationId,jdbcType=BIGINT},
      </if>
      <if test="required != null" >
        #{required,jdbcType=BIT},
      </if>
      <if test="serialNo != null" >
        #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.sellerAdmin.model.CategoryQualificationDO" >
    update category_qualification
    <set >
      <if test="merchantCategory != null" >
        merchant_category = #{merchantCategory,jdbcType=BIGINT},
      </if>
      <if test="qulificationId != null" >
        qulification_id = #{qulificationId,jdbcType=BIGINT},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=BIT},
      </if>
      <if test="serialNo != null" >
        serial_no = #{serialNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.sellerAdmin.model.CategoryQualificationDO" >
    update category_qualification
    set merchant_category = #{merchantCategory,jdbcType=BIGINT},
      qulification_id = #{qulificationId,jdbcType=BIGINT},
      required = #{required,jdbcType=BIT},
      serial_no = #{serialNo,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>