<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.sellerAdmin.mapper.HaRoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.yimayhd.sellerAdmin.model.HaRoleMenuDO">

        <id column="id" property="id" jdbcType="BIGINT"/>
    
        <result column="ha_menu_id" property="haMenuId" jdbcType="BIGINT"/>

        <result column="ha_role_id" property="haRoleId" jdbcType="BIGINT"/>

        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP"/>

        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>

        <result column="status" property="status" jdbcType="INTEGER"/>

</resultMap>

    <sql id="Base_Column_List">
        id,ha_menu_id,ha_role_id,gmt_created,gmt_modified,status
    </sql>

    <!--insert的时候要去掉ID，创建时间，更新时间和状态-->
    <insert id="addRoleMenu" parameterType="com.yimayhd.sellerAdmin.model.HaRoleMenuDO"  useGeneratedKeys="true" keyProperty="id">
        insert into ha_role_menu  (id,ha_menu_id,ha_role_id,gmt_created,gmt_modified,status)
        values (
        
          #{id,jdbcType=BIGINT},
        
          #{haMenuId,jdbcType=BIGINT},
        
          #{haRoleId,jdbcType=BIGINT},
        
          now(),
        
          #{gmtModified,jdbcType=TIMESTAMP},
        
          #{status,jdbcType=INTEGER}
        
        )
    </insert>

    <select id="getHaRoleMenuById" resultMap="BaseResultMap" parameterType="long">
        select <include refid="Base_Column_List"/>
        from ha_role_menu t
        where
        t.id = #{_parameter}
    </select>

    <sql id="search_clause">
        <where>
            <if test="entity != null">
                <if test="entity.status == null">
                    and t.status = 1
                </if>
                <if test="entity.status != null">
                    and t.status = #{entity.status}
                </if>
            </if>
            <if test="entity == null">
                and t.status = 1
            </if>
        </where>
    </sql>

    <select id="getList" resultMap="BaseResultMap" parameterType="com.yimayhd.sellerAdmin.base.PageQuery">
        select
        <include refid="Base_Column_List"/>
        from ha_role_menu t
        <include refid="search_clause"/>
        order by t.created_on desc
        <if test="isPaging != 0">
            limit #{from},#{pageSize}
        </if>
    </select>

    <select id="getCount" resultType="long" parameterType="com.yimayhd.sellerAdmin.model.HaRoleMenuDO">
        select count(1) from ha_role_menu t
        <include refid="search_clause"/>
    </select>

    <update id="modify" parameterType="com.yimayhd.sellerAdmin.model.HaRoleMenuDO">
        update ha_role_menu t
        <set>
        
            <if test="haMenuId != null">
                t.ha_menu_id = #{haMenuId,jdbcType=BIGINT},
            </if>
        
            <if test="haRoleId != null">
                t.ha_role_id = #{haRoleId,jdbcType=BIGINT},
            </if>
        
            <if test="gmtCreated != null">
                t.gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
            </if>
        
            <if test="gmtModified != null">
                t.gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        
            <if test="status != null">
                t.status = #{status,jdbcType=INTEGER}
            </if>
        
        </set>
        where
        t.id = #{id}
    </update>

    <update id="delete" parameterType="long">
      update ha_role_menu t set t.status = 0 where t.id = #{value}
    </update>
</mapper>