<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yimayhd.sellerAdmin.mapper.ScopeItemCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.yimayhd.sellerAdmin.model.ScopeItemCategoryDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_scope_id" property="businessScopeId" jdbcType="BIGINT" />
    <result column="item_category_id" property="itemCategoryId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, business_scope_id, item_category_id, status, gmt_created, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from scope_item_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from scope_item_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yimayhd.sellerAdmin.model.ScopeItemCategoryDO" >
    insert into scope_item_category (id, business_scope_id, item_category_id, 
      status, gmt_created, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{businessScopeId,jdbcType=BIGINT}, #{itemCategoryId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{gmtCreated,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yimayhd.sellerAdmin.model.ScopeItemCategoryDO" >
    insert into scope_item_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessScopeId != null" >
        business_scope_id,
      </if>
      <if test="itemCategoryId != null" >
        item_category_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessScopeId != null" >
        #{businessScopeId,jdbcType=BIGINT},
      </if>
      <if test="itemCategoryId != null" >
        #{itemCategoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimayhd.sellerAdmin.model.ScopeItemCategoryDO" >
    update scope_item_category
    <set >
      <if test="businessScopeId != null" >
        business_scope_id = #{businessScopeId,jdbcType=BIGINT},
      </if>
      <if test="itemCategoryId != null" >
        item_category_id = #{itemCategoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimayhd.sellerAdmin.model.ScopeItemCategoryDO" >
    update scope_item_category
    set business_scope_id = #{businessScopeId,jdbcType=BIGINT},
      item_category_id = #{itemCategoryId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>