<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--加载外部配置-->
    <context:property-placeholder location="WEB-INF/config.properties" file-encoding="utf-8" ignore-unresolvable="true"/>
    <context:property-placeholder location="WEB-INF/velocity.properties" file-encoding="utf-8" ignore-unresolvable="true"/>
    <context:property-placeholder location="WEB-INF/redis.properties" file-encoding="utf-8" ignore-unresolvable="true"/>
    <!--<context:property-placeholder location="WEB-INF/log4j.properties" file-encoding="utf-8" ignore-unresolvable="true"/>-->


    <!--程序中获取配置文件信息-->
    <util:properties id="properties" location="WEB-INF/config.properties"/>
    <!--dubbo-->
    <import resource="biz/spring-dubbo.xml"/>
    <import resource="biz/spring-consumer.xml"/>
    <!--加载数据源和事务配置-->
    <!--<import resource="biz/spring-mybatis.xml"/>-->
    <context:component-scan base-package="com.yimayhd.**.controller"/>

    <!--tfs-->
    <import resource="biz/tfs.xml"/>
    <!--tair-->
    <import resource="biz/spring-tair.xml"/>
    <!--service注入-->
    <import resource="biz/spring-service.xml"/>
    
    
    
    <import resource="biz/spring-session.xml"/>

    <import resource="biz/spring-manager.xml"/>
    <import resource="biz/spring-repo.xml"/>

    <!-- spring注解定时任务 -->
    <!--<task:annotation-driven/>-->
    <!---->
    <aop:aspectj-autoproxy expose-proxy="true"/>
    
    
</beans>