<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta name="generator" content="Aspose.Words for .NET 15.1.0.0"/>
    <title>九休开放平台</title></head>
<body>
<div><p style="line-height:20pt; margin:0pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><span
        style="font-family:宋体; font-size:20pt; font-weight:bold">&#xa0;</span></p>
    <p style="line-height:20pt; margin:0pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:20pt; font-weight:bold">九休开放平台必买店铺合作协议</span></p>
    <p style="line-height:20pt; margin:0pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:20pt; font-weight:bold">（直营）</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
            style="font-family:宋体; font-size:14pt; font-weight:bold">                       </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold"> 合同编号：</span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold; text-decoration:underline"> $!pdfDomain.code</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">甲方（委托人）</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> $!pdfDomain.merchantName</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                                    </span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">地    址</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                                                       </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">          </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">法定代表</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">联系电话：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">      </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                            </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">联 系 人</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">              </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">联系电话：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">      </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">    </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                         </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">乙方（居间人）</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                                              </span>
        <ins style="-aw-revision-author:'何敏'; -aw-revision-datetime:'2016-04-19T10:31:00'"><span
                style="font-family:宋体; font-size:12pt; text-decoration:underline">      </span></ins>
        <span style="font-family:宋体; font-size:12pt; text-decoration:underline">         </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">地    址</span><span
            style="font-family:宋体; font-size:12pt">：</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                                     </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                        </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">联 系 人</span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal">：</span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">       </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">        </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">       </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">联系电话：</span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; font-weight:normal; text-decoration:underline">                         </span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:24pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">甲乙</span><span
            style="font-family:宋体; font-size:12pt">双方在平等</span><span
            style="font-family:宋体; font-size:12pt">互利</span><span
            style="font-family:宋体; font-size:12pt">的基础上，</span><span
            style="font-family:宋体; font-size:12pt">依据诚实信用原则，</span><span
            style="font-family:宋体; font-size:12pt">根据相关法律</span><span
            style="font-family:宋体; font-size:12pt">、</span><span
            style="font-family:宋体; font-size:12pt">法规规定，经</span><span
            style="font-family:宋体; font-size:12pt">友好</span><span
            style="font-family:宋体; font-size:12pt">协商达成如</span><span
            style="font-family:宋体; font-size:12pt">下</span><span style="font-family:宋体; font-size:12pt">协议</span><span
            style="font-family:宋体; font-size:12pt">，以兹共同遵守。签订本协议并完成注册后，甲方须遵守</span><span
            style="font-family:宋体; font-size:12pt">《</span><span style="font-family:宋体; font-size:12pt">九休</span><span
            style="font-family:宋体; font-size:12pt">开放平台</span><span
            style="font-family:宋体; font-size:12pt">总则</span><span style="font-family:宋体; font-size:12pt">》</span><span
            style="font-family:宋体; font-size:12pt">与</span><span style="font-family:宋体; font-size:12pt">《</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台必买店铺管理规定</span><span
            style="font-family:宋体; font-size:12pt">》</span><span style="font-family:宋体; font-size:12pt">的规定。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:24pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">第一条  合作方式</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">1.1 </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">         </span><span
            style="font-family:宋体; font-size:12pt">（必买店铺对外宣传名）为甲方经营管理的店铺</span><span
            style="font-family:宋体; font-size:12pt">（以下称“甲方店铺”）。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">1.2“</span><span style="font-family:宋体; font-size:12pt">九休开放平台”为乙方经营管理的互联网交易第三方平台，可为甲方店铺提供</span><span
            style="font-family:宋体; font-size:12pt">宣传推广、</span><span
            style="font-family:宋体; font-size:12pt">虚拟空间租用、商品</span><span style="font-family:宋体; font-size:12pt">在</span><span
            style="font-family:宋体; font-size:12pt">线售卖等居间服务。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">1.3</span><span style="font-family:宋体; font-size:12pt">乙方作为居间人接受甲方的委托，通过“九休开放平台”为甲方提供订立合同的媒介服务；甲方作为委托人按照本协议的约定向乙方支付服务报酬。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">第二条  </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">保证金</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">2.1甲方应自本协议签订之日起</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt">个工作日</span><span
            style="font-family:宋体; font-size:12pt">内向乙方支付保证金</span><span style="font-family:宋体; font-size:12pt">￥</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt">元（大写：人民币</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">        </span><span
            style="font-family:宋体; font-size:12pt">元整 ）至乙方指定的银行账户。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">2.2保证金用于保证甲方的商品质量和服务质量，确保甲方店铺运营规范。当甲方发生侵权、违约、违规行为时，乙方有权依照本协议及《九休开放平台总则》、</span><span
            style="font-family:宋体; font-size:12pt">《</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台</span><span
            style="font-family:宋体; font-size:12pt">必买店铺管理规定</span><span
            style="font-family:宋体; font-size:12pt">》</span><span style="font-family:宋体; font-size:12pt">的约定或规定扣除相应的保证金作为违约金或给予消费者赔偿。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">2.3若甲方保证金不足￥</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt">元（大写：人民币</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">       </span><span
            style="font-family:宋体; font-size:12pt">元整 ）的，甲方应当于</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">      </span><span
            style="font-family:宋体; font-size:12pt">个工作日</span><span style="font-family:宋体; font-size:12pt">内补足，否则乙方有权关闭甲方</span><span
            style="font-family:宋体; font-size:12pt">“</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台”</span><span style="font-family:宋体; font-size:12pt">店铺直至甲方补足保证金之日。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">2.4若本协议不再履行、无效或解除的（因甲方违约导致本协议解除的情形除外），乙方应当于本协议不再履行、无效或解除之日起</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">     </span><span
            style="font-family:宋体; font-size:12pt">个工作日向甲方无息返还保证金。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">第三条  服务报酬</span></p>
    <p style="line-height:28pt; margin:0pt 0pt 5pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.1 卖家向</span><span
            style="font-family:宋体; font-size:12pt">九休平台</span><span style="font-family:宋体; font-size:12pt">支付的服务报酬 = 单笔交易佣金，其中：</span><span
            style="font-family:宋体; font-size:12pt"> </span></p>
    <p style="line-height:28pt; margin:0pt 0pt 5pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">单笔交易佣金= 单笔支付成交额（不含邮费）×</span><span
            style="font-family:宋体; font-size:12pt">5%</span></p>
    <p style="line-height:26pt; margin:0pt 0pt 0pt 21pt; orphans:0; text-align:justify; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.2优惠政策：</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; text-decoration:none">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">                                                                  </span><span
            style="font-family:宋体; font-size:12pt">                              </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.3结算</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">协议双方同意采用</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">月结 </span><span
            style="font-family:宋体; font-size:12pt">的结算方式，</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> 当月 </span><span
            style="font-family:宋体; font-size:12pt">结算</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> 上月 </span><span
            style="font-family:宋体; font-size:12pt">交易完成的订单款项（若遇国家节假日或星期六、星期天，对账时间、结算时间相应顺延至国家节假日或星期六、星期天后第二个工作日），甲方可在后台查询相应的结算账单。</span>
    </p>
    <p style="line-height:26pt; margin:0pt 0pt 0pt 5.25pt; orphans:0; text-align:justify; text-indent:15.75pt; widows:0">
        <span style="font-family:宋体; font-size:12pt">3.4本协议履行过程中的一切费用均应支付至本协议签署栏约定的银行账户，付款方按照本协议的约定向收款方该账户支付款项的，视为付款方已经完全履行本协议约定的付款义务。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.5甲方应当自行承担因第三方支付平台支付银行资金往来产生的费用，费用为每笔交易额的</span><span
            style="font-family:宋体; font-size:12pt">1</span><span style="font-family:宋体; font-size:12pt">%</span><span
            style="font-family:宋体; font-size:12pt">。 </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.6</span><span style="font-family:宋体; font-size:12pt"> </span><span
            style="font-family:宋体; font-size:12pt">甲方应当将签署栏中约定的银行账户与网络账户绑定，乙方向银行账户与网络账户付款均视为有效支付。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">3.7甲方通过乙方平台提取己方网络账户中款项时，会产生一定的提现手续费，该费用由</span><span
            style="font-family:宋体; font-size:12pt">甲方自行承担，并支付给第三方支付平台或银行，相关提现规则以第三方支付平台或银行的规定为准。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">第四条  </span><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">责任条款</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.1甲方理解并同意，甲方与其客户是必买店铺服务合同的双方当事人，乙方仅作为居间人为甲方提供订立合同的媒介服务。若甲方与客户在履行必买店铺服务合同的过程中发生纠纷的，或客户在享受必买店铺服务过程中遭受人身财产损失的，与乙方无涉。若乙方依照“</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台</span><span style="font-family:宋体; font-size:12pt">”相关规则对客户先行赔付的，对于乙方代为赔付部分，甲方应负责赔偿。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.2合作期间，</span><span style="font-family:宋体; font-size:12pt">甲方应保证店铺商品具有合法经营资质及符合国家食品质量安全标准和有关食品行业强制执行标准，若因甲方原因引起的任何纠纷、投诉、新闻媒体曝光或政府部门查处（包括但不限于资质、宣传不实、食品安全卫生不达标等），甲方应承担一切责任并及时妥善解决，如造成乙方损失，乙方有权要求甲方赔偿由此造成的直接或间接损失，并有权随时暂停甲方的商品售卖业务并终止本协</span><span
            style="font-family:宋体; font-size:12pt">议。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.3甲方须保证在“</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台</span><span style="font-family:宋体; font-size:12pt">”销售的</span><span
            style="font-family:宋体; font-size:12pt">商品类型</span><span style="font-family:宋体; font-size:12pt">、价格等信息的真实、准确、有效，不存在侵犯任何第三方合法权益的行为。若前述信息发生变更的，甲方应及时给予更新，否则由此导致的后果由甲方自行承担。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.4</span><span
            style="font-family:宋体; font-size:12pt">订单确认后，甲方</span><span style="font-family:宋体; font-size:12pt">按照订单信息，以快递、邮寄或其他符合该类商品运输标准的形式及时给顾客发货，甲方应当确保商品的运输方式卫生、安全。若出现商品质量问题、退换货、投诉、货物丢失的情况，由</span><span
            style="font-family:宋体; font-size:12pt">此造成的赔偿、损失由甲方依法承担，与乙方无涉。</span><span
            style="font-family:宋体; font-size:12pt">若因此造成乙方损失的，甲方应赔偿乙方的一切直接和间接损失。</span><span
            style="font-family:宋体; font-size:12pt">此外，甲方应将上述情况及时通知乙方，并向乙方支付该订单对应的服务费。如果甲方一个季度内出现三次上述情况，乙方有权提前终止与甲方的合作</span><span
            style="font-family:宋体; font-size:12pt">。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.5禁止切客：甲方不得以给予低价、赠送礼品、享受差别待遇等方式诱导</span><span
            style="font-family:宋体; font-size:12pt">客户</span><span
            style="font-family:宋体; font-size:12pt">取消在“</span><span style="font-family:宋体; font-size:12pt">九休开放平台</span><span
            style="font-family:宋体; font-size:12pt">”的</span><span style="font-family:宋体; font-size:12pt">订单</span><span
            style="font-family:宋体; font-size:12pt">，使客户成为甲方会员或以甲方/第三方名义直接</span><span
            style="font-family:宋体; font-size:12pt">消费。</span><span style="font-family:宋体; font-size:12pt">如甲方存在上述情形，则乙方有权立即暂停或终止与甲方的合作，甲方应立即将未结算服务费支付给乙方并赔偿乙方因此造成的一切直接或间接损失。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.</span><span style="font-family:宋体; font-size:12pt">6</span><span
            style="font-family:宋体; font-size:12pt">违约方对守约方的赔偿指因其违约行为造成的一切直接或间接损失，包括但不限于诉</span><span
            style="font-family:宋体; font-size:12pt">讼费、保全费、律师费、差旅费、行政部门罚款、调查取证费用。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">4.</span><span style="font-family:宋体; font-size:12pt">7</span><span
            style="font-family:宋体; font-size:12pt">甲方应当于</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">       </span><span
            style="font-family:宋体; font-size:12pt">年_</span><span style="font-family:宋体; font-size:12pt">___</span><span
            style="font-family:宋体; font-size:12pt">月</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> </span><span
            style="font-family:宋体; font-size:12pt">日前完成在“</span><span
            style="font-family:宋体; font-size:12pt">九休开放平台</span><span
            style="font-family:宋体; font-size:12pt">”的</span><span
            style="font-family:宋体; font-size:12pt">注册/续签工作</span><span
            style="font-family:宋体; font-size:12pt">。</span><span style="font-family:宋体; font-size:12pt">因注册/续签时甲方须点击同意乙方制定的《九休开放平台总则》、《九休开放平台酒店管理规定》、《九休开放平台达人管理规定》、《九休开放平台同城玩乐管理规定》、《九休开放平台景区管理规定》、《九休开放平台旅行社管理规定》、</span><span
            style="font-family:宋体; font-size:12pt">《九休开放</span><span
            style="font-family:宋体; font-size:12pt">平台</span><span style="font-family:宋体; font-size:12pt">必买店</span><span
            style="font-family:宋体; font-size:12pt">铺管理规定》</span><span
            style="font-family:宋体; font-size:12pt">、</span><span
            style="font-family:宋体; font-size:12pt">《九休开放平台评价规则》</span><span
            style="font-family:宋体; font-size:12pt">及</span><span style="font-family:宋体; font-size:12pt">《九休开放平台卖家积分管理规则》方能完成注册/续签，甲方须充分阅读并理解前述规定的内容。甲方注册/</span><span
            style="font-family:宋体; font-size:12pt">续签成功后，视为甲方无条件同意前述规定的内容。</span><span
            style="font-family:宋体; font-size:12pt"> </span><span style="font-family:宋体; font-size:12pt">如甲方未于上述期限内完成“九休开放平台”上的注册/续签工作，迟延履行达15天及以上，可视为甲方放弃在乙方平台注册或续签的权利，乙方有权选择单方解除本协议，并有权采取关闭甲方店铺等措施且不承担任何责任。</span>
    </p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt; font-weight:bold">第五条  其他</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">5.1 本协议履行过程中发生争议的，双方应友好协商处理，协商不成的，</span><span
            style="font-family:宋体; font-size:12pt">任何一方均有权向合同签订地有管辖权的人民法院提起诉讼</span><span
            style="font-family:宋体; font-size:12pt">。</span><span style="font-family:宋体; font-size:12pt"> </span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">5.2 本协议有效期自</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">    </span><span
            style="font-family:宋体; font-size:12pt">年</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt">月</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt">日至</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">    </span><span
            style="font-family:宋体; font-size:12pt">年</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt">月</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline">  </span><span
            style="font-family:宋体; font-size:12pt">日，期满双方未续约的，本协议不再履行，乙方有权关闭甲方“九休开放平台”店铺。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">5.3本协议一式</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> 贰 </span><span
            style="font-family:宋体; font-size:12pt">份，甲方持</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> 壹 </span><span
            style="font-family:宋体; font-size:12pt">份，乙方持</span><span
            style="font-family:宋体; font-size:12pt; text-decoration:underline"> 壹 </span><span
            style="font-family:宋体; font-size:12pt">份，具有同等法律效力。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">5.4本协议经双方签字盖章后生效。</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; text-indent:21pt; widows:0"><span
            style="font-family:宋体; font-size:12pt">5.5合同签订地：云南省昆明市西山区。</span></p>
    <p style="line-height:26pt; margin:0pt 0pt 5pt; orphans:0; page-break-before:always; text-align:justify; widows:0">
        <span style="font-family:宋体; font-size:12pt; font-weight:bold">本页为签署页，无正文</span></p>
    <table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-left:0pt; width:498.85pt">
        <tr style="height:181.2pt">
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">甲方：</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">(盖章)：</span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">乙方：</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">(盖章)：</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p><img
                    src="$!resourcePath/img/gz.png" width="119" height="119"
                    style="-aw-left-pos:47.95pt; -aw-rel-hpos:column; -aw-rel-vpos:paragraph; -aw-top-pos:-52pt; -aw-wrap-type:none; margin-left:47.95pt; margin-top:-52pt; position:absolute; z-index:0"/>
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">签约日期：$!pdfDomain.year年   $!pdfDomain.month月   $!pdfDomain.day日</span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">签约日期：$!pdfDomain.year年   $!pdfDomain.month月   $!pdfDomain.day日</span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">授权代表（签名）：   </span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">授权代表（签名）：   </span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">业务联系人：</span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">业务联系人：</span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">财务联系人：  </span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">财务联系人：  </span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">传真：  </span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">传真：  </span></p></td>
        </tr>
        <tr>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">地址：</span></p></td>
            <td colspan="2"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:238.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">地址：</span></p></td>
        </tr>
        <tr>
            <td rowspan="3"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:37.15pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; widows:0"><span
                        style="font-family:宋体; font-size:12pt">甲方账户信息</span></p></td>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:190.3pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">账户名: $!pdfDomain.accountName </span></p></td>
            <td rowspan="3"
                style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:43.25pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:center; widows:0"><span
                        style="font-family:宋体; font-size:12pt">乙方账户信息</span></p></td>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:184.2pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">账户名:   </span></p></td>
        </tr>
        <tr>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:190.3pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">账号：$!pdfDomain.accountNo</span></p></td>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:184.2pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">账号：</span></p></td>
        </tr>
        <tr>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:190.3pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">开户行：$!pdfDomain.accountBank</span></p></td>
            <td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:184.2pt">
                <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
                        style="font-family:宋体; font-size:12pt">开户行：</span></p></td>
        </tr>
        <tr style="height:0pt">
            <td style="width:47.95pt; border:none"></td>
            <td style="width:201.1pt; border:none"></td>
            <td style="width:54.05pt; border:none"></td>
            <td style="width:195pt; border:none"></td>
        </tr>
    </table>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p>
    <p style="line-height:26pt; margin:0pt; orphans:0; text-align:justify; widows:0"><span
            style="font-family:宋体; font-size:12pt">&#xa0;</span></p></div>
</body>
</html>