#set($baseInfo = $product.baseInfo)
<table border="0" class="table tab-inputgroup base-info">
	<tbody>
		<tr>
			<td>商品类型：</td>
			<td>$!{itemType.text}</td>
		</tr>
		<tr>
			<td><span class="red">*</span>商品标题：</td>
			<td>
				<input type="text" value="$!baseInfo.name" class="form-control item-name" placeholder="请输入商品标题" maxlength="38">
				<span class="limit">38字</span>
			</td>
		</tr>
		<tr>
			<td>商品代码：</td>
			<td>
				<input type="text" value="$!{baseInfo.code}" class="form-control item-code w300" placeholder="请输入商品编号" maxlength="20"/>
				<span class="limit">20字</span>
				<span class="ml10">注：商品代码供商家管理商品使用，不会展示给用户</span>
			</td>
		</tr>
		<tr>
			<td><span class="red">*</span>出发地：</td>
			 <td>
				<div>
					<button type="button" class="btn btn-success select-departs"  #if($baseInfo.allDeparts) disabled="disabled" #end>选择出发地</button>
					<label class="checkbox-inline ml20">
						<input type="checkbox" class="all-departs" value="true" #if($baseInfo.allDeparts) checked #end/>全国
                    </label>
					<div id="departs-content" class="mt5">
						#if(!$baseInfo.allDeparts)
							#if(${isDraft})
								#foreach($depart in $baseInfo.departs)
									<button class="btn btn-info departs remove-self" rid="$!{depart.id}" rcode="$!{depart.code}">$!{depart.name}</button>
								#end
							#else
								#foreach($depart in $baseInfo.departs)
									<button class="btn btn-info departs remove-self" rid="$!{depart.id}" rcode="$!{depart.city.code}">$!{depart.city.name}</button>
								#end
							#end
						#end
					</div>
				</div>
			 </td>
		</tr>
		<tr>
			<td><span class="red">*</span>目的地：</td>
			<td>
				<div>
					<button type="button" class="btn btn-success select-dests">选择目的地</button>
					<div id="dests-content">
						#if(${isDraft})
							#foreach($dest in $baseInfo.dests)
								<button class="btn btn-info dests remove-self" pid="$!{dest.pid}"  pcode="$!{dest.pcode}" pname="$!{dest.pname}" rid="$!{dest.id}" rcode="$!{dest.code}">$!{dest.name}</button>
							#end
						#else
							#foreach($dest in $baseInfo.dests)
								<button class="btn btn-info dests remove-self" rid="$!{dest.id}" pid="$!{dest.pid}" rcode="$!{dest.city.code}" pcode="$!{dest.pcode}" pname="$!{dest.pname}">$!{dest.city.name}</button>
							#end
						#end
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="red">*</span>行程天数（天）：</td>
			<td><input type="text" value="$!{baseInfo.days}" class="form-control days int-only" placeholder="请填写1-100整数" maxlength="3"/></td>
		</tr>
		<tr>
			<td><span class="red">*</span>线路亮点：</td>
			<td>
				<textarea class="form-control textarea-count description" rows="3" placeholder="把线路亮点写出来，订单量嗖嗖往上涨哟…">$!{baseInfo.description}</textarea>
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">200字</span></div>
			</td>
		</tr>
		<tr>
			<td><span class="red">*</span>线路主题：</td>
			<td>
				#foreach($theme in $themes)
				<label class="checkbox-inline">
					<input type="checkbox" class="productTag" rId="${theme.id}" rName="${theme.name}" #if($product.baseInfo.containsTag($theme.id)) checked #end/>${theme.name}
				</label>
				#end
			</td>
		</tr>
		<tr>
			<td><span class="red">*</span>商品图：</td>
			<td>
				<div class="uploadbox clearfix">
                    <input type="hidden" class="uplUrl" value="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file_string" />
                    <input type="hidden" class="imgUrl" value="$!{utilWebconfig.getTfsRootPath()}" />	
					<div class="imgbox">												
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 0)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(0)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(0)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">									
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 1)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(1)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(1)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 2)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(2)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(2)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 3)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(3)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(3)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">							
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 4)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(4)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(4)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="upl-tips">
        				<p>图片大小不超过500K，格式为JPG,JPEG,PNG；建议图片尺寸为：750*420</p>
        				<p>至少上传1张图片，第一张图片将被展示在搜索结果列表页面和订单页面</p>
                    </div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	$(".all-departs").change(function() {
		if($(".all-departs:checked").length == 1) {
			$(".select-departs").attr("disabled",true);
			$("#departs-content").empty();
		} else {
			$(".select-departs").attr("disabled",false);
		}
	});
	$(document).delegate(".remove-self",'click',function() { 
		$(this).remove();
    });
	$(function(){
		if($(".productTag:checked").length >= 3) {
			$(".productTag").not(".productTag:checked").attr("disabled",true);
		} else {
			$(".productTag").not(".productTag:checked").attr("disabled",false);
		}
	});
	$(".productTag").change(function() {
		if($(".productTag:checked").length >= 3) {
			$(".productTag").not(".productTag:checked").attr("disabled",true);
		} else {
			$(".productTag").not(".productTag:checked").attr("disabled",false);
		}
	});
	$(".select-departs").click(function() {
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/resourceForSelect/selectDeparts','选择出发地 ',function() {
			var departs = win.getSelected() || [];
			//console.log(JSON.stringify(departs));
			if(departs.length == 0) return true;
			if(departs.length > 100) {
				layer.alert("出发地最多选择100个", {
    				icon : 2
    			});
				return false;
			}
			var content = $("#departs-content");
			content.empty();
			for(i in departs) {
				var depart = departs[i];
				if($(".departs[rId='"+depart.id+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info departs remove-self'>"+depart.name+"</button>");
				btn.attr("rId", depart.id);
				btn.attr("rCode", depart.code);
				content.append("  ").append(btn);
			}
			return true;
		});
	});
	$(".select-dests").click(function() {
		var selIdArr = [];
		$('#dests-content button').each(function () {
			selIdArr.push($(this).attr('rid'));
		});
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/resourceForSelect/selectDests/$itemType?selectedIds='+selIdArr,'选择目的地 ',function() {
			var dests = win.getSelected();
			//console.log(JSON.stringify(dests));
			if(dests.length == 0) return false;
			if(dests.length > 15) {
				layer.alert("目的地最多选择15个", {
    				icon : 2
    			});
				return false;
			}
			var content = $("#dests-content");
			content.empty();
			for(i in dests) {
				var dest = dests[i];
				if($(".dests[rId='"+dest.id+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info dests remove-self' >"+dest.name+"</button>");
				btn.attr("rId", dest.id);
				btn.attr("rCode", dest.code);
				btn.attr("pid", dest.pid);
				btn.attr("pcode", dest.pcode);
				btn.attr("pname", dest.pname);
				content.append("  ").append(btn);
			}
			return true;
		});
	});
	// 获取行程信息
	function getBaseInfo() {
        var picUrls = [];
		$(".base-info").find(".picCode").each(function(){
			var picCode = $(this).val();
			if(picCode) { 
				picUrls.push(picCode);
			}
		});
		var themes = [];
		$(".productTag:checked").each(function(){
			themes.push($(this).attr("rId"));
		});
		var departs = [];
		$(".departs").each(function(){
			departs.push({id:$(this).attr("rId"),name:$(this).text(),code:$(this).attr("rCode")});
		});
		var dests = [];
		$(".dests").each(function(){
			if ($(this).attr('pid') && $(this).attr('pid')!=0 && $(this).attr('pid')!=$(this).prev('.dests').attr('pid')) {
				dests.push({id:$(this).attr('pid'),name:$(this).attr('pname'),code:$(this).attr('pcode')})
			}
			dests.push({id:$(this).attr("rId"),name:$(this).text(),code:$(this).attr("rCode")});
		});
		//去重
		var dests_temp = [],arr_temp=[];
		for (var i = 0;i<dests.length;i++) {
			if (arr_temp.indexOf(dests[i].id)==-1){
				arr_temp.push(dests[i].id);
				dests_temp.push(dests[i]);
			} 
		}
		dests = dests_temp;
		
		var result = {
			#if($product)
			lineId:$!{product.baseInfo.lineId},
			itemId:$!{product.baseInfo.itemId},
			#end
			categoryId:$!{categoryId},
			type:$!{itemType.value},
			name:$(".item-name").val(),
			code:$(".item-code").val(),
            picUrls:picUrls,
			days:$(".days").val() || 0,
			description:$(".description").val(),
			themes:themes,
			allDeparts:$(".all-departs:checked").val()||false,
			departs:departs,
			dests:dests
		};
		var departs = [];
		return result;
	}
    function delPic(obj) {
        $(obj).prev().remove();
        $(obj).remove();
    }

</script>