#set($baseInfo = $product.baseInfo)
<table border="0" class="table tab-inputgroup base-info">
	<tbody>
		<tr>
			<td>商品类型：</td>
			<td>$!{itemType.text}</td>
		</tr>
		<tr>
			<td>*商品标题：</td>
			<td><input type="text" value="$!baseInfo.name" class="form-control item-name" placeholder="请输入商品标题" maxlength="38"></td>
		</tr>
		<tr>
			<td>商品代码：</td>
			<td><input type="text" value="$!{baseInfo.code}" class="form-control item-code" placeholder="请输入商品编号" maxlength="20"/></td>
		</tr>
		<tr>
			<td>*出发地：</td>
			 <td>
				<div>
					<label class="checkbox-inline">
						<input type="checkbox" class="all-departs" value="true" #if($baseInfo.allDeparts) checked #end/>全国
                    </label>
					<button type="button" class="btn btn-success select-departs"  #if($baseInfo.allDeparts) disabled="disabled" #end>选择出发地</button>
					<div id="departs-content">
						#if(!$baseInfo.allDeparts)
							#foreach($depart in $baseInfo.departs)
						<button class="btn btn-info departs remove-self" rid="$!{depart.id}">$!{depart.city.name}</button>
							#end
						#end
					</div>
				</div>
			 </td>
		</tr>
		<tr>
			<td>*目的地：</td>
			<td>
				<div>
					<button type="button" class="btn btn-success select-dests">选择目的地</button>
					<div id="dests-content">
						#foreach($dest in $baseInfo.dests)
						<button class="btn btn-info dests remove-self" rid="$!{dest.id}">$!{dest.city.name}</button>
						#end
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>*行程天数（天）：</td>
			<td><input type="text" value="$!{baseInfo.days}" class="form-control days int-only" placeholder="请填写整数"/></td>
		</tr>
		<tr>
			<td>*线路亮点：</td>
			<td>
				<textarea class="form-control textarea-count description" rows="3" placeholder="请输入亮点描述" maxlength="200">$!{baseInfo.description}</textarea>
				<span class="word-num">0/200字</span>
			</td>
		</tr>
		<tr>
			<td>*线路主题：</td>
			<td>
				#foreach($theme in $themes)
				<label class="checkbox-inline">
					<input type="checkbox" class="productTag" rId="${theme.id}" rName="${theme.name}" #if($product.baseInfo.containsTag($theme.id)) checked #end/>${theme.name}
				</label>
				#end
			</td>
		</tr>
		<tr>
			<td>*商品图：</td>
			<td>
				<div class="uploadbox clearfix">
                    <input type="hidden" class="uplUrl" value="$!{utilWebconfig.getActionUploadFilePath()}" />
                    <input type="hidden" class="imgUrl" value="$!{utilWebconfig.getTfsRootPath()}" />	
					<div class="imgbox">												
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 0)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(0)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(0)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">									
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 1)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(1)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(1)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 2)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(2)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(2)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 3)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(3)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(3)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
					<div class="imgbox">							
						<div class="dimg">
							#if($baseInfo.picUrls && $baseInfo.picUrls.size() > 4)
							<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(4)}">
							<input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(4)}">
							#else
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
							<input type="hidden" class="picCode baseInfo-picCode">
							#end
						</div>
						<div class="upimgbtn">
							<a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
							<button class="del">删除图片</button>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	$(".all-departs").change(function() {
		if($(".all-departs:checked").length == 1) {
			$(".select-departs").attr("disabled",true);
			$("#departs-content").empty();
		} else {
			$(".select-departs").attr("disabled",false);
		}
	});
	$(document).delegate(".remove-self",'click',function() { 
		$(this).remove();
    });
	$(function(){
		if($(".productTag:checked").length >= 3) {
			$(".productTag").not(".productTag:checked").attr("disabled",true);
		} else {
			$(".productTag").not(".productTag:checked").attr("disabled",false);
		}
	});
	$(".productTag").change(function() {
		if($(".productTag:checked").length >= 3) {
			$(".productTag").not(".productTag:checked").attr("disabled",true);
		} else {
			$(".productTag").not(".productTag:checked").attr("disabled",false);
		}
	});
	$(".select-departs").click(function() {
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/resourceForSelect/selectDeparts?itemId='+$("#itemId").val(),'选择出发地 ',function() {
			var departs = win.getSelected() || [];
			console.log(JSON.stringify(departs));
			if(departs.length == 0) return true;
			if(departs.length > 15) {
				layer.alert("出发地最多选择15个", {
    				icon : 2
    			});
				return false;
			}
			var content = $("#departs-content");
			content.empty();
			for(i in departs) {
				var depart = departs[i];
				if($(".departs[rId='"+depart.id+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info departs remove-self'>"+depart.name+"</button>");
				btn.attr("rId", depart.id);
				content.append("  ").append(btn);
			}
			return true;
		});
	});
	$(".select-dests").click(function() {
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/resourceForSelect/selectDests?itemId='+$("#itemId").val(),'选择目的地 ',function() {
			var dests = win.getSelected();
			console.log(JSON.stringify(dests));
			if(dests.length == 0) return true;
			if(dests.length > 15) {
				layer.alert("目的地最多选择15个", {
    				icon : 2
    			});
				return false;
			}
			var content = $("#dests-content");
			content.empty();
			for(i in dests) {
				var dest = dests[i];
				if($(".dests[rId='"+dest.id+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info dests remove-self'>"+dest.name+"</button>");
				btn.attr("rId", dest.id);
				content.append("  ").append(btn);
			}
			return true;
		});
	});
	// 获取行程信息
	function getBaseInfo() {
        var picUrls = [];
		$(".base-info").find(".picCode").each(function(){
			var picCode = $(this).val();
			if(picCode) { 
				picUrls.push(picCode);
			}
		});
		var themes = [];
		$(".productTag:checked").each(function(){
			themes.push($(this).attr("rId"));
		});
		var departs = [];
		$(".departs").each(function(){
			departs.push({id:$(this).attr("rId")});
		});
		var dests = [];
		$(".dests").each(function(){
			dests.push({id:$(this).attr("rId")});
		});
		var result = {
			#if($product)
			lineId:$!{product.baseInfo.lineId},
			itemId:$!{product.baseInfo.itemId},
			#end
			categoryId:$!{categoryId},
			type:$!{itemType.value},
			name:$(".item-name").val(),
			code:$(".item-code").val(),
            picUrls:picUrls,
			days:$(".days").val() || 0,
			description:$(".description").val(),
			themes:themes,
			allDeparts:$(".all-departs:checked").val()||false,
			departs:departs,
			dests:dests
		};
		var departs = [];
		return result;
	}
    function delPic(obj) {
        $(obj).prev().remove();
        $(obj).remove();
    }
</script>