<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/upload.js"></script>
-->
<div class="baseInfo">
	<div class="baseInfoList">
        <p class="lineDetail">线路明细</p>
        <table>
			#if($product.baseInfo.id > 0)
			<tr>
                <td>资源编号：</td>
                <td>$!{product.baseInfo.id}<input type="hidden" value="$!{product.baseInfo.id}" id="line-id"/></td>
            </tr>
			#end
            <tr>
                <td><span class="spColor">*</span>商品类型：</td>
                <td>$!{lineType.desc}<input type="hidden" class="productType" value="$!{lineType.type}"/></td>
            </tr>
            <tr >
                <td><span class="spColor">*</span>商品名称：</td>
                <td><input type="text" class="form-control productName" placeholder="请输入商品名称" value="$!product.baseInfo.name"/></td>
            </tr>
			<tr>
                <td>商品代码：</td>
                <td><input type="text" class="form-control productCode" placeholder="请输入商品代码" value="$!product.baseInfo.code"/></td>
            </tr>
			<tr>
                <td>出发地：</td>
                <td><span id="departs-content"></span><button type="button" class="btn btn-success select-departs">选择出发地</button></td>
            </tr>
			<tr>
                <td>目的地：</td>
                <td><span id="dests-content"></span><button type="button" class="btn btn-success select-dests">选择目的地</button></td>
            </tr>
			<tr>
                <td><span class="spColor">*</span>行程天数：</td>
                <td><input type="text" class="form-control days" placeholder="请输入行程天数" value="$!product.baseInfo.days"/></td>
            </tr>
			<tr>
                <td><span class="spColor">*</span>线路亮点：</td>
                <td>
                    <div><input type="text" class="form-control highlight1" placeholder="请输入亮点描述1（必填）" value="$!product.baseInfo.highlight1"/></div>
					<div><input type="text" class="form-control highlight2" placeholder="请输入亮点描述2（必填）" value="$!product.baseInfo.highlight2"/></div>
					<div><input type="text" class="form-control highlight3" placeholder="请输入亮点描述3（必填）" value="$!product.baseInfo.highlight3"/></div>
				</td>
            </tr>
			<tr>
                <td><span class="spColor">*</span>线路主题：</td>
                <td>
					#foreach($theme in $themes)
                        <input type="checkbox" class="productTag" rId="${theme.id}" rName="${theme.name}" id="theme_${theme.id}" #if($product.baseInfo.containsTag($theme.id)) checked #end/><label for="theme_${theme.id}">${theme.name}</label>
					#end
                </td>
            </tr>
			
			
    		<tr>
                <td><span class="spColor">*</span>商品封面图：</td>
                <td class="fileWrap">
                    <button type="button" class="btn btn-success">选择图片</button>
                    <input id="productImageAppFile" class="fileBtn" type="file" accept="image/png,image/gif,image/jpeg"/>
                    <img class="productImageAppUrlImg img-circle" src="#if($!{product.baseInfo.productImageApp})$!{utilWebconfig.getTfsRootPath()}$!{product.baseInfo.productImageApp} #end"/>
                    <input class="productImageAppUrlVal" type="hidden" value="$!product.baseInfo.productImageApp"/>
                </td>
            </tr>
 			<tr>
                <td><span class="spColor">*</span>详情轮播图</td>
                <td class="fileWrap detailAppImagesTd" id="detailAppImagesTd">
                    <input id="detailAppImagesBatchUploadBtn" class="" type="file" multiple="multiple" >
                    <h5>图片大小不超过2M，背景图尺寸为：750x360 1~5张
                    </h5>
    				#foreach($pic in $!product.baseInfo.detailAppImages)
                        <img class="detailAppImages img-circle" imgUrl="$pic" src="$utilWebconfig.getTfsRootPath()$pic"><button type="button" class="btn btn-link" onclick="delPic(this)">删除</button>
    				#end
                </td>
                <input class="detailAppImagesVal" type="hidden" name="picturesStr">
            </tr>
			<tr>
                <td><span class="spColor">*</span>商品订单图：</td>
                <td class="fileWrap">
                    <button type="button" class="btn btn-success">选择图片</button>
                    <input id="orderImageFile" class="fileBtn" type="file" accept="image/png,image/gif,image/jpeg"/>
                    <img class="orderImageUrlImg img-circle" src="#if($!{product.baseInfo.orderImage})$!{utilWebconfig.getTfsRootPath()}$!{product.baseInfo.orderImage} #end"/>
                    <input class="orderImageUrlVal" type="hidden" value="$!product.baseInfo.orderImage"/>
                </td>
            </tr>
        </table>
	</div>
</div>
<script type="text/javascript">
	$(function(){
        /****************批量上传pic_urls*****************/
        $(document).delegate("#detailAppImagesBatchUploadBtn",'change',function(){
            fileUpload('#detailAppImagesBatchUploadBtn',2,function(dataVal){
                for(var key in dataVal.data){
                    $('.detailAppImagesTd').append('<img class="detailAppImages img-circle" imgUrl="' + dataVal.data[key]+'" src="' + tfsRootPath + dataVal.data[key]+'" alt="">');
                    $('.detailAppImagesTd').append('<button type="button" class="btn btn-link" onclick="delPic(this)">删除</button>');
                }
                var imgs = 0;
                $(".detailAppImagesTd").find("img").each(function(){
                    imgs = imgs + 1;
                    if(imgs > 5) {
                        layer.msg('图片不能大于5张', {icon: 2});
//                        $('.detailAppImagesTd').remove(this.next());
                        $(this).next().remove();
                        $(this).remove();
                    }
                });
            });
        });
        //上传图片
        $(document).delegate("#productImageAppFile",'change',function(){
            fileUpload('#productImageAppFile',1,function(data){
                if(data && data.status == 200){
                    $('.productImageAppUrlVal').val(data.data);
                    $('.productImageAppUrlImg').attr('src',tfsRootPath + data.data);
                }else{
                    layer.msg('图片上传失败，请重试', {icon: 2});
                }
			});
        });
		$(document).delegate("#productImagePcFile",'change',function(){
            fileUpload('#productImagePcFile',1,function(data){
                if(data && data.status == 200){
                    $('.productImagePcUrlVal').val(data.data);
                    $('.productImagePcUrlImg').attr('src',tfsRootPath + data.data);
                }else{
                    layer.msg('图片上传失败，请重试', {icon: 2});
                }
			});
        });
		$(document).delegate("#tripImageFile",'change',function(){
            fileUpload('#tripImageFile',1,function(data){
                if(data && data.status == 200){
                    $('.tripImageUrlVal').val(data.data);
                    $('.tripImageUrlImg').attr('src',tfsRootPath + data.data);
                }else{
                    layer.msg('图片上传失败，请重试', {icon: 2});
                }
			});
        });
		$(document).delegate("#orderImageFile",'change',function(){
            fileUpload('#orderImageFile',1,function(data){
                if(data && data.status == 200){
                    $('.orderImageUrlVal').val(data.data);
                    $('.orderImageUrlImg').attr('src',tfsRootPath + data.data);
                }else{
                    layer.msg('图片上传失败，请重试', {icon: 2});
                }
			});
        });
	});
	$(".addItem").click(function(){
		var content = $(".extra-info");
		var item = $("<tr class='extra-info-item'/>");
		item.append($("<td><input type='text' class='form-control extra-info-item-title' placeholder='费用包含'></td>"));
		item.append($("<td><textarea class='form-control extra-info-item-text' rows='3'></textarea></td>"));
		var delete_btn = $("<button class='btn btn-primary itemDelete'>删除</button>");
		delete_btn.click(function(){
			$(this).parent().parent().remove();
		});
		item.append($("<td/>").append(delete_btn));
		content.append(item);
	});
	$(".itemDelete").click(function(){
		$(this).parent().parent().remove();
	});
	$(document).delegate(".departs",'click',function() { 
		$(this).remove();
    });
	$(".select-departs").click(function() {
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectTravelKa','选择旅游咖 ',function() {
			var kas = win.getItems();
			var content = $(".departs-content");
			for(var i in kas) {
				var ka = kas[i];
				var name = ka.nickName || ka.name;
				if($(".masters[rName='"+ka.name+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info masters'>"+name+"</button>");
				btn.click(function(){
					$(this).remove();
				});
				btn.attr("rName",ka.name);
				content.append("  ").append(btn);
			}
			//console.log(JSON.stringify(kas));
			//一般设定yes回调，必须进行手工关闭
			return true;
		});
	});
	$(document).delegate(".dests",'click',function() { 
		$(this).remove();
    });
	$(".select-dests").click(function() {
		openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectTravelKa','选择旅游咖 ',function() {
			var kas = win.getItems();
			var content = $(".dests-content");
			for(var i in kas) {
				var ka = kas[i];
				var name = ka.nickName || ka.name;
				if($(".masters[rName='"+ka.name+"']").length > 0) continue;
				var btn = $("<button class='btn btn-info masters'>"+name+"</button>");
				btn.click(function(){
					$(this).remove();
				});
				btn.attr("rName",ka.name);
				content.append("  ").append(btn);
			}
			//console.log(JSON.stringify(kas));
			//一般设定yes回调，必须进行手工关闭
			return true;
		});
	});
	// 获取行程信息
	function getBaseInfo() {
//		var productImageApp = $(".productImageAppUrlVal").val();
//		var tripImage = $(".tripImageUrlVal").val();
//		var orderImage = $(".orderImageUrlVal").val();
//        var picUrls = '';
//        var detailAppImages = new Array();
//        $('.detailAppImages').each(function(){
//            detailAppImages.push( $(this).attr('imgUrl'))
//            if(picUrls){
//                picUrls += '|' + $(this).attr('imgUrl');
//            }else{
//                picUrls += $(this).attr('imgUrl');
//            }
//        });
		var themes = [];
		$(".productTag:checked").each(function(){
			themes.push($(this).attr("rId"));
		});
//		var masters = [];
//		$(".masters").each(function(){
//			masters.push($(this).attr("rName"));
//		});
		var publisher = $(".publisher");
		var result = {
			id:$("#line-id").val()||0,
			type:$(".productType").val(),
			name:$(".productName").val(),
			code:$(".productCode").val(),
//			productImageApp:productImageApp,
//			orderImage:orderImage,
//          detailAppImages:detailAppImages,
			days:$(".days").val(),
			highlight1:$(".highlight1").val(),
			highlight2:$(".highlight2").val(),
			highlight3:$(".highlight3").val(),
			themes:themes
		};
		return result;
	}
    function delPic(obj) {
        $(obj).prev().remove();
        $(obj).remove();
    }
</script>