#set($layout="layout/layout-blank.vm")
<!DOCTYPE html>
<html>
    <head>
		#parse("layout/layout-meta.vm")
        <title>$!{itemType.text}</title>
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css">
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/groupTravel.css?version=$!{utilWebconfig.getResourceVersion()}"/>
		<link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/css/zui.min.css"/>
		
		
        <link rel="stylesheet" href="$rs_js_css_path_admin/css/base.css">
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/common.css"/>
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/addtravel.css"/>
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/editer.css"/>
		
        <style type="text/css">
        	//禁用输入法
        	.double-only{ime-mode:"disabled"}
        	.int-only{ime-mode:"disabled"}
        </style>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.form.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/layer/layer.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/addtravel.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/upldf.js"></script>
		
		
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
		<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/js/zui.min.js" type="text/javascript" ></script>
		<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/moment.js" type="text/javascript"></script>
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/calendar-tool.js" type="text/javascript"></script>
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/input.js" type="text/javascript"></script>
        <!-- 富文本编辑 -->
        <!--
        <script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" charset="utf-8" src="${utilWebconfig.getStaticResourcesPath()}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
        -->
	</head>
	<body>
		<div class="tab-container">	
            <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#tab1" data-toggle="tab">基本信息</a>
                </li>
                <li>
                  <a href="#tab2" data-toggle="tab">详细描述</a>
                </li>
				#if($utilItem.isFreeLine($itemType))
                <li>
                  <a href="#tab3" data-toggle="tab">机酒景信息</a>
                </li>
				#end
                <li>
                  <a href="#tab4" data-toggle="tab">行程信息</a>
                </li>
                <li>
                  <a href="#tab5" data-toggle="tab">价格信息</a>
                </li>
                <li>
                  <a href="#tab6" data-toggle="tab">预定须知</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane baseInfo in active" id="tab1">
                    #parse("/system/comm/line/baseInfo.vm")
                </div>
            	<div class="tab-pane" id="tab2" style="width: 96%;margin: 15px auto;">
					#set($pictureText = $product.pictureText)
            		#parse("/system/comm/line/pictureText.vm")
                </div>
				#if($utilItem.isFreeLine($itemType))
            	<div class="tab-pane tripPackageInfo" id="tab3">
                    #parse("/system/comm/line/routePlan.vm")
                </div>
				#end
                <div class="tab-pane tripInfo" id="tab4">
                    #parse("/system/comm/line/routeInfo.vm")
                </div>
                <div class="tab-pane priceInfo" id="tab5">
                    #parse("/system/comm/line/priceInfo.vm")
                </div>
            	<div class="tab-pane" id="tab6" style="width: 96%;margin: 15px auto;">
            		#parse("/system/comm/line/needKnow.vm")
            	</div>
            </div>
            #if(!${product.isReadonly()})
            <div class="groupTravelBot">
                <button class="btn btn-primary save">保  存</button>
            	<button class="btn btn-primary reload" onclick="location.reload();">重  载</button>
            </div>
			#end
        </div>
	</body>
</html>
<script type="text/javascript" src="$rs_js_css_path_admin/js/editer.js"></script>
<script type="text/javascript">
$(".save").click(function(){
    var result = {
        baseInfo:getBaseInfo(),
		pictureText:getPictureText(),
		#if($utilItem.isFreeLine($itemType))
		routePlan:getRoutePlan(),
		#end
        routeInfo:getRouteInfo(),
        priceInfo:getPriceInfo(),
		needKnow:getNeedKnow()
    };
	console.log(JSON.stringify(result.baseInfo));
	console.log(JSON.stringify(result.pictureText));
	#if($utilItem.isFreeLine($itemType))
	console.log(JSON.stringify(result.routePlan));
	#end
	console.log(JSON.stringify(result.routeInfo));
	console.log(JSON.stringify(result.priceInfo));
	console.log(JSON.stringify(result.needKnow));
	var params = {
		json:JSON.stringify(result)
	};
    var url = "$!{utilWebconfig.getActionDefaultFontPath()}/line/save";
    $.post(url,params,function(data){
		if(data.success) {
			layer.alert('保存成功', {
                time: 0 //不自动关闭
                ,yes: function(index){
                    
                    //layer.close(index);
					//// 刷新父页面
					//top.freshPrevFrame();
					//top.tabTopClose(this);
					window.location.href = "$!{utilWebconfig.getActionDefaultFontPath()}/item/list"; 
                }
            });
		} else {
			layer.alert(data.resultMsg, {
				icon : 2
			});
		}
    },"json");
});
</script>