<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/upload.js"></script>
-->
#set($needKnowItems = $needKnow.needKnowItems)
<table class="table tab-inputgroup" id="need-know">
	<tbody>
		<tr class="need-know-item">
			<td><span class="red">*</span>费用包含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用包含"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 0)
					#set($content = $needKnowItems.get(0).content)
					#set($length = $content.length())
				#end
				#if(!$product&&!$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、大交通：  __________—__________  往返经济舱机票（含税）；省内往返旅游巴士；
2、住宿：行程所列酒店标准2人间，如单人拼不上房间，需自补单房差；
3、餐食：行程内所列餐食，酒店内含早餐，正餐标准__________元；
4、导服：当地中文导游服务、持全国导游资格证上岗；
5、门票：景点首道大门票；
6、保险：已含旅行社责任险，不含旅游人身意外保险（建议您积极购买旅游意外保险/航空保险、如出现意外将多一份保障）；
7、儿童： 2-12周岁的儿童只含往返机票、车位、餐位，不含门票以及酒店住宿。</textarea>
				#elseif(!$product&&$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、大交通：  __________—__________  往返经济舱机票（含税）；行程中往返旅游巴士；
2、住宿：行程所列酒店标准2人间，如单人拼不上房间，需自补单房差；
3、餐食：行程内所列餐食，*正*早，正餐标准*元；
4、导服：当地中文/英文导游服务；
5、门票：景点首道大门票；
6、保险：已含旅行社责任险，不含旅游人身意外保险（建议您积极购买旅游意外保险/航空保险、如出现意外将多一份保障）；
7、儿童： 2-12周岁的儿童只含往返机票、车位、餐位，不含门票以及酒店住宿。</textarea>
				#else
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">2000字</span></div>
			</td>
		</tr>
		<tr class="need-know-item">
			<td><span class="red">*</span>费用不含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用不含"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 1)
					#set($content = $needKnowItems.get(1).content)
					#set($length = $content.length())
				#end
				#if(!$product&&!$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、旅游意外伤害保险及航空意外险（建议旅游者购买）；
2、自费选择项目，自由活动期间的餐食费和交通费；
3、个人消费（如酒店内洗衣、电话及未提到的其它服务）；
4、中国境内机场（车站）接送，行李物品托管或超重费；
5、酒店押金，单间差或加床费用，酒店内洗衣、理发、电话、传真、收费电视、饮品、烟酒等个人消费；
6、因交通延误、取消等意外事件或战争、罢工、自然灾害等不可抗拒力导致的额外费；
7、因旅游者违约、自身过错、自身疾病导致的人身财产损失而额外支付的费用；
8、“费用包含”内容以外的所有费用；
备注：未尽事宜详询业务员或带团导游。</textarea>
				#elseif(!$product&&$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、旅游意外伤害保险及航空意外险（建议旅游者购买）；
2、自费选择项目，自由活动期间的餐食费和交通费；
3、个人消费（如酒店内洗衣、电话及未提到的其它服务）；
4、中国境内机场（车站）接送，行李物品托管或超重费；
5、酒店押金，单间差或加床费用，酒店内洗衣、理发、电话、传真、收费电视、饮品、烟酒等个人消费；
6、因交通延误、取消等意外事件或战争、罢工、自然灾害等不可抗拒力导致的额外费；
7、因旅游者违约、自身过错、自身疾病导致的人身财产损失而额外支付的费用；
8、“费用包含”内容以外的所有费用；
备注：未尽事宜详询业务员或带团导游。</textarea>
				#else
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">500字</span></div>
			</td>
		</tr>
		#if($utilItem.isAboardLine($itemType))
		<tr class="need-know-item">
			<td><span class="red">*</span>护照签证须知：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="护照签证须知"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 2)
					#set($content = $needKnowItems.get(2).content)
					#set($length = $content.length())
				#end
				#if(!$product&&$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、护照需出行前游客自行办理，大约5~10个工作日即可办理完成
2、该产品下单时，支持不填写护照号，之后会有相关人员联系您关于护照事项
3、签证事项：</textarea>
				#else
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">2000字</span></div>
			</td>
		</tr>
		#end
		<tr class="need-know-item">
			<td><span class="red">*</span>预订说明：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="预订说明"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 3)
					#set($content = $needKnowItems.get(3).content)
					#set($length = $content.length())
				#end
				#if(!$product&&!$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、本产品不接受  __________  岁以上的客人预订，不接受非大陆籍客人预订，敬请谅解！
2、本产品适用于持中国公民二代身份证的客人预订，目的地海拔较高，有严重高血压、心脏病等疾病的客人及老年客人，请根据自身条件，遵医嘱，谨慎决定是否出行。
3、本产品最低成团人数  __________  人，如未达到最低成团人数，将在出发前7天通知不成团，未通知的视为成团。如不成团，我们会为您推荐其他出发班期或更换其他同类产品，如您不接受上述方案，将全额退还您支付的费用。
4、请您在预订时务必提供准确、完整的信息（姓名、性别、证件号码、国籍、联系方式、是否成人或儿童等），以免产生预订错误，影响出行。如因客人提供错误个人信息而造成损失，需自行承担。最终的航班信息请以出团通知书为准，特价舱位不接受您的更改及退订要求，敬请谅解。
5、如因意外事件及不可抗力，包括但不限于航空公司运力调配、航权审核、机场临时关闭、天气原因、航空管制等，导致航班取消或延期的，旅行社将尽最大努力协助您办理变更事宜，如产生差价，多退少补。
6、儿童门票不接受预订，请自行在景区购买。
7、本行程为散客拼团线路，在保证承诺的服务内容和标准不变的前提下，会与其他旅行社的客人拼成一个团，统一安排行程。在不影响您行程的情况下，部分行程段可能会和其他线路游客合并用车、共同游玩，具体以当天陪同工作人员协调安排为准。导游、司机可能会根据天气、交通等情况，对您的行程进行适当调整（如调整景点游览顺序等），以确保行程顺利进行。如因不可抗力等因素确实无法执行原行程计划，对于因此而造成的费用变更，我社实行多退少补，敬请配合。
8、出游过程中，如遇不可抗力因素造成景点未能正常游玩，导游经与客人协商后可根据实际情况取消或更换该景点，或由导游在现场按旅游产品中的门票价退还费用，退费不以景区挂牌价为准，敬请谅解。
9、行程内的游览时间，特别是印象丽江演出时间可能会根据当地实际情况略有调整；玉龙雪山景区内索道会因天气原因或索道维修而临时停开，导游会根据当天情况，对您的行程做出相应合理的调整。
10、行程中的赠送项目，如因交通、天气等不可抗因素导致不能赠送的、或因您个人原因不能参观的，费用不退，敬请谅解。
11、团队行程中，非自由活动期间，不允许提前离团或中途脱团，如有不便敬请谅解。如您选择中途离团，未完成部分将被视为您自行放弃，不退任何费用。
12、本产品门票为团队优惠联票，持老年证、军官证、学生证等优惠证件的人群均不再享受门票优惠。</textarea>
				#elseif(!$product&&$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、本产品不接受  __________  岁以上的客人预订，不接受非大陆籍客人预订，敬请谅解！
2、本产品适用于持中国公民二代身份证的客人预订，有严重高血压、心脏病等疾病的客人及老年客人，请根据自身条件，遵医嘱，谨慎决定是否出行。
3、本产品最低成团人数  __________  人，如未达到最低成团人数，将在出发前7天通知不成团，未通知的视为成团。如不成团，我们会为您推荐其他出发班期或更换其他同类产品，如您不接受上述方案，将全额退还您支付的费用。
4、请您在预订时务必提供准确、完整的信息（姓名、性别、证件号码、国籍、联系方式、是否成人或儿童等），以免产生预订错误，影响出行。如因客人提供错误个人信息而造成损失，需自行承担。最终的航班信息请以出团通知书为准，特价舱位不接受您的更改及退订要求，敬请谅解。
5、如因意外事件及不可抗力，包括但不限于航空公司运力调配、航权审核、机场临时关闭、天气原因、航空管制等，导致航班取消或延期的，旅行社将尽最大努力协助您办理变更事宜，如产生差价，多退少补。
6、本行程为散客拼团线路，在保证承诺的服务内容和标准不变的前提下，会与其他旅行社的客人拼成一个团，统一安排行程。在不影响您行程的情况下，部分行程段可能会和其他线路游客合并用车、共同游玩，具体以当天陪同工作人员协调安排为准。导游、司机可能会根据天气、交通等情况，对您的行程进行适当调整（如调整景点游览顺序等），以确保行程顺利进行。如因不可抗力等因素确实无法执行原行程计划，对于因此而造成的费用变更，我社实行多退少补，敬请配合。
7、出游过程中，如遇不可抗力因素造成景点未能正常游玩，导游经与客人协商后可根据实际情况取消或更换该景点，或由导游在现场按旅游产品中的门票价退还费用，退费不以景区挂牌价为准，敬请谅解。
8、行程内的游览时间，可能会根据当地实际情况略有调整，导游会根据当天情况，对您的行程做出相应合理的调整。
9、行程中的赠送项目，如因交通、天气等不可抗因素导致不能赠送的、或因您个人原因不能参观的，费用不退，敬请谅解。
10、团队行程中，非自由活动期间，不允许提前离团或中途脱团，如有不便敬请谅解。如您选择中途离团，未完成部分将被视为您自行放弃，不退任何费用。
11、本产品门票为团队优惠联票，持老年证、军官证、学生证等优惠证件的人群均不再享受门票优惠。</textarea>
				#else
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">2000字</span></div>
			</td>
		</tr>
		<tr class="need-know-item">
			<td><span class="red">*</span>退改规定：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="退改规定"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 4&&$utilItem.isAboardLine($itemType))
					#set($content = $needKnowItems.get(4).content)
					#set($length = $content.length())
				#else
					#set($content = $needKnowItems.get(3).content)
					#set($length = $content.length())
				#end
				#if(!$product&&!$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、用户支付成功后，不得做任何变更，也不予退款，敬请您阅知；
2、如需退订或修改，出发前  __________  天提出，需支付  __________  损失费；
3、出发前  __________  天可免费退改。	</textarea>
				#elseif(!$product&&$utilItem.isAboardLine($itemType))
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、用户支付成功后，不得做任何变更，也不予退款，敬请您阅知；
2、如需退订或修改，出发前  __________  天提出，需支付  __________  损失费；
3、出发前  __________  天可免费退改。</textarea>
				#else
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">500字</span></div>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	function getNeedKnow() {
		var result = [];
		$(".need-know-item").each(function() {
			var title = $(this).find(".need-know-item-key").val();
			var content = $(this).find(".need-know-item-value").val();
			result.push({
				title:title,
				content:content
			});
		});
		return {
			needKnowItems:result
		};
	}
</script>