<div id="editers">
	<div class="editer-tip">
    	<p><b>编辑小助手：</b></p>
    	<p>1、点击页面下方的“添加文本”/“上传图片”按钮，可新添加文本段或图片</p>
    	<p>2、点击“上移”和“下移”，可调整文本段和图片之间的顺序</p>
    	<p>3、最多添加20段图片或文字</p>
		<p>4、图片大小不能超过500K，建议尺寸：800*450，格式为JPG,JPEG,PNG</p>
    </div>
	<div class="bd">
		#foreach($pictureTextItem in $pictureText.pictureTextItems)
			#if($pictureTextItem.type.equalsIgnoreCase('text'))
			#set($contentHtml = $!pictureTextItem.value.replaceAll("\n","<br/>"))
		<p class="text">
			<font>$!contentHtml</font>
		</p>
			#elseif($pictureTextItem.type.equalsIgnoreCase('img'))
		<p class="pic">
			<img src="$!{utilWebconfig.getTfsRootPath()}$!{pictureTextItem.value}">
			<input type="hidden" class="imgDateVal" value="$!{pictureTextItem.value}">
		</p>
			#end
		#end
	</div>
	<div class="hd clearfix">
		<ul class="clearfix">
			<li><a href="javascript:void(0)" class="addtext">+添加文本</a></li>
			<li><a href="javascript:void(0)" class="addpic">+添加图片</a></li>
		</ul>
	</div>
	<textarea name="content" id="contentText" style="display:none;">$!{pictureText.pictureTextItemsJson}</textarea>
	<input type="hidden" id="uploadAction" value="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file"/>
	<input type="hidden" id="imgUrl" value="$!{utilWebconfig.getTfsRootPath()}"/>
</div>
<script type="text/javascript">
	function getPictureText() {
		var content = $("#contentText").val();
		return {
			pictureTextItems:JSON.parse(content || "[]")
		};
	}
</script>