<div class="price-info">
    <form action="">
        <input type ="hidden" id ="priceInfoJson" name ="priceInfoJson" value ='$!{priceInfoJson}' />
        <div class="ml40 mt20">
            <label class="label">提前报名天数：</label>
            #if($product)
                <input type="text" class="day-limit inputxt" value="$!{product.priceInfo.limit}" maxlength="5">
            #else
                <input type="text" class="day-limit inputxt" maxlength="4" value="1">
            #end
        </div>
       #* #foreach($tc in ${product.priceInfo.tcs})
            #set($tcId = $velocityCount)
            <a>$tc</a>
        #end*#
        <div class="ml40 mt20 add-tc">
            <label class="label"><a href="javascript:;" class="btn btn-orange add-package">添加新套餐</a></label>
        </div>
        <div class="mt20 tc-tab-content">
            <label class="label">套餐名称：</label>
            <input type="text" class="inputxt tc-name" placeholder="0">
            <div class="clearfix datepicker mt20">
                <input type="hidden" class="rds" value="120">
                <table class="fl">
                    <tr>
                        <td class="tdyears clearfix" colspan="7">
                            <i class="fl prev"></i>
                            <i class="fr next"></i>
                            <label id="SY"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdmonth" colspan="7">
                            <ul>
                                <li>1月</li>
                                <li>2月</li>
                                <li>3月</li>
                                <li class="on">4月</li>
                                <li>5月</li>
                                <li>6月</li>
                                <li>7月</li>
                                <li>8月</li>
                                <li>9月</li>
                                <li>10月</li>
                                <li>11月</li>
                                <li>12月</li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="tdweek">
                        <td>
                            <input type="checkbox" week="0">周日
                        </td>
                        <td>
                            <input type="checkbox" week="1">周一</td>
                        <td>
                            <input type="checkbox" week="2">周二</td>
                        <td>
                            <input type="checkbox" week="3">周三</td>
                        <td>
                            <input type="checkbox" week="4">周四</td>
                        <td>
                            <input type="checkbox" week="5">周五</td>
                        <td>
                            <input type="checkbox" week="6">周六</td>
                    </tr>
                </table>
                <div class="setvalue fr">
                    <h2>价格设置</h2>
                    <dl>
                        <dt data-pTxt="成">成人：</dt>
                        <dd class="mt10">
                            <label>价格：</label>
                            <input type="text" class="price" maxlength="9">
                        </dd>
                        <dd class="mt10">
                            <label>库存：</label>
                            <input type="text" class="stock" maxlength="9">
                        </dd>
                        <dt data-pTxt="儿" class="mt10">儿童：</dt>
                        <dd class="mt10">
                            <label>价格：</label>
                            <input type="text" class="price" maxlength="9">
                        </dd>
                        <dd class="mt10">
                            <label>库存：</label>
                            <input type="text" class="stock" maxlength="9">
                        </dd>
                        <dt data-pTxt="单房差" class="mt10">单房差：</dt>
                        <dd class="mt10">
                            <label>价格：</label>
                            <input type="text" class="price" maxlength="9">
                        </dd>
                        #*<dd class="mt10"><input type="hidden" class="stock" maxlength="9" value="999"></dd>*#
                        <dd class="btn mt10">
                            <a class="setvl">确定</a>
                            <a class="clearvl">清除</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="ml30"><span class="red">*</span> 按住Ctrl键，可实现多选日期；按住Shift键，可实现选择时间段。</div>
        </div>
    </form>
    <!-- 弹框套餐内容 start -->
    <div class="package-name mt20">
        <span class="bred">*</span> 套餐名称：
        <input type="text" class="tc-name" placeholder="请输入套餐名称" maxlength="20">
    </div>
    <!-- 弹框套餐内容 end -->
</div>

<script>
   /* var  updatedSKU = [],
         deletedSKU = [];*/
    // 修改套餐
    $(document).delegate(".tc-tab-content input","change",function(){
        $('.add-tc .btn-outline').each(function(){
            if($(this).hasClass('active')){
                var skuId = $(this).attr("data-sku-id");
                skuId && updatedSKU.push(skuId);
            }
        });
    });

    //删除套餐
    /*$('.add-tc').on('click','.icon-close',function () {
        var skuId = $(this).parent().attr("data-sku-id");
        $(document).on('click','dialog .ok',function () {

            alert('a')
            return true;
        });
    });*/

    function getPriceInfo() {
        var tcs = [];

        $(".price-info .btn-outline").each(function(index,btn) {
            var _tc = JSON.parse($(btn).attr('data-tc'));
            tcs.push(_tc);
        });

        var result = {
            tcs: tcs,
            updatedSKU: updatedSKU,
            deletedSKU: deletedSKU,
            limit: $(".day-limit").val() || 0
        };
        return result;
    }

</script>