<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
-->
<div class="tripInfo">
	<ul id="day_tab" class="nav nav-tabs tripInfoNav">
		#foreach($tripDay in $product.routeInfo.routeDays)
		<li class='day_${velocityCount}_tab day_tab #if(${velocityCount}==1) active #end' day-id='${velocityCount}'>
			<a href='#day_${velocityCount}_page' data-toggle='tab' class='day_tab_a'>Day</a><i class='icon icon-trash myTrash'></i>
		</li>
		#end
        <li class="day_btn">
          <button class='btn btn-primary addDay'>添加1天</button>
		  <script type="text/javascript">
		  	var dayId;
			$(function() {
        		dayId = $(".day_tab").length;
				show();
        	});

			$(document).delegate(".myTrash","click",function(){
				var tab = $(this).parent();
				var day = tab.attr("day-id");
				// 删除当前的
				setAllRouteItem(day,deletedRouteItems);
				// 更新后续所有
				tab.nextAll().each(function() {
					var _day = $(this).attr("day-id");
					setAllRouteItem(_day,updatedRouteItems);
				});
                var tabConId = $(this).prev().attr("href");
                $(".tripInfo .tab-content .tab-pane").removeClass("active");
                $(".tripInfoNav .day_tab").removeClass("active");
				if($(tabConId).prev().length != 0){
                    $(tabConId).prev().addClass("active");
                    $(tabConId).remove();
				}else{
                    $(tabConId).remove();
					$(".tripInfo .tab-content .tab-pane:first").addClass("active");
				}
				if($(this).parent().prev().length != 0){
                    $(this).parent().prev().addClass("active");
                    $(this).parent().remove();
				}else{
                    $(this).parent().remove();
					$(".tripInfoNav .day_tab:first").addClass("active");
                }
				show();
			});

		  	$(".addDay").click(function() {
				dayId = dayId + 1;
				var tab = createDayTab(dayId);
				var page = createDayPage(dayId);
				$(".day_btn").before(tab);
				$(".tab-content").append(page);
				tab.children("a").click();
				show();
			});
			//重新计算day_tab显示天数
			function show() {
				$(".day_tab_a").each(function(idx,el){
					$(el).text("Day"+(idx+1));
				});
			}
			// 创建一天的Tab
			function createDayTab(dayId) {
				var li = $("<li class='day_"+dayId+"_tab day_tab' day-id='"+dayId+"'></li>");
				li.append($("<a href='#day_"+dayId+"_page' data-toggle='tab' class='day_tab_a'>Day</a><i class='icon icon-trash myTrash'></i>"));
				return li;
			}

			// 创建一天的page
			function createDayPage(dayId) {
				var page = $("<div class='tab-pane' id='day_"+dayId+"_page'></div>");
				// 行程描述
				var title = $("<div class='panel trip-title'></div>");
                title.append($("<div class='panel-heading travelPanel'><i class='icon icon-2x icon-exclamation-sign'></i><span class='tripAddSp'>行程标题</span></div>"));
                var title_content = $("<div class='panel-body trip-title-content'></div>");
				title_content.append($("<input type='text' class='form-control trip-title-text' id='day_"+dayId+"_trip_title'/>"));
                title.append(title_content);	
				page.append(title);
				// 行程描述
				var desc = $("<div class='panel trip-description'></div>");
                desc.append($("<div class='panel-heading travelPanel'><i class='icon icon-2x icon-exclamation-sign'></i><span class='tripAddSp'>行程描述</span></div>"));
                var desc_content = $("<div class='panel-body trip-description-content'></div>");
				desc_content.append($("<textarea class='form-control trip-description-textarea' rows='3' id='day_"+dayId+"_trip_description'></textarea>"));
                desc.append(desc_content);	
				page.append(desc);
				// 行程图片
				var images = $("<div class='panel trip-images'></div>");
                images.append($("<div class='panel-heading travelPanel'><i class='icon icon-2x icon-exclamation-sign'></i><span class='tripAddSp'>行程图片</span></div>"));
                var images_content = $("<div class='panel-body trip-images-content'></div>");
				var image_size = 5;
				while(image_size > 0) {
    				var image = $("<div class='imgbox'/>");
    				var image_form = $("<form action='$!{utilWebconfig.getActionDefaultFontPath()}/upload/file' method='post' class='imgform' enctype='multipart/form-data'/>");
    				var dimg = $("<div class='dimg'/>")
    					.append("<img src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==' img-root='$!utilWebconfig.getTfsRootPath()'/>")
						.append("<input type='hidden' class='picCode day_"+dayId+"_trip_image'/>");
    				var upimgbtn = $("<div class='upimgbtn'/>")
    					.append("<input type='file' name='picfile' class='picfile'>")
    					.append("<button class='upl'>上传图片</button>")
    					.append("<button class='del'>删除图片</button>");
    				images_content.append(image.append(image_form.append(dimg).append(upimgbtn)));
                	image_size--;
				}
				images.append(images_content);	
				page.append(images);
				return page;
			}
          </script>
        </li>
    </ul>
    <div class="tab-content">
		#foreach($tripDay in $product.routeInfo.routeDays)
		#set($day = ${velocityCount})
		<div class="tab-pane in #if(${day}==1) active #end" id="day_${velocityCount}_page">
			<div class="panel trip-title">
				<div class="panel-heading travelPanel"><i class="icon icon-2x icon-exclamation-sign"></i><span class="tripAddSp">行程标题</span></div>
				<div class="panel-body trip-title-content">
					<input type="text" class="form-control trip-title-text" id="day_${velocityCount}_trip_title" route-item-id="$!{tripDay.descriptionRouteItemId}" value="$!{tripDay.title}"/>
				</div>
			</div>
			<div class="panel trip-description">
				<div class="panel-heading travelPanel"><i class="icon icon-2x icon-exclamation-sign"></i><span class="tripAddSp">行程描述</span></div>
				<div class="panel-body trip-description-content">
					<textarea class="form-control trip-description-textarea" rows="3" id="day_${velocityCount}_trip_description" route-item-id="$!{tripDay.descriptionRouteItemId}">$!{tripDay.description}</textarea>
				</div>
			</div>
			<div class="panel trip-images">
				<div class="panel-heading travelPanel"><i class="icon icon-2x icon-exclamation-sign"></i><span class="tripAddSp">行程图片</span></div>
				<div class="panel-body trip-images-content">
					<div class="imgbox">
						<form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">													
							<div class="dimg">
								#if($tripDay.picUrls && $tripDay.picUrls.size() > 0)
								<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(0)}" img-root="$!utilWebconfig.getTfsRootPath()">
								#else
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
								#end
								<input type="hidden" class="picCode">
							</div>
							<div class="upimgbtn">
								<input type="file" name="picfile" class="picfile">
								<button class="upl">上传图片</button>
								<button class="del">删除图片</button>
							</div>													
						</form>
					</div>
					<div class="imgbox">
						<form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">													
							<div class="dimg">
								#if($tripDay.picUrls && $tripDay.picUrls.size() > 1)
								<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(1)}" img-root="$!utilWebconfig.getTfsRootPath()">
								#else
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
								#end
								<input type="hidden" class="picCode">
							</div>
							<div class="upimgbtn">
								<input type="file" name="picfile" class="picfile">
								<button class="upl">上传图片</button>
								<button class="del">删除图片</button>
							</div>													
						</form>
					</div>
					<div class="imgbox">
						<form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">													
							<div class="dimg">
								#if($tripDay.picUrls && $tripDay.picUrls.size() > 2)
								<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(2)}" img-root="$!utilWebconfig.getTfsRootPath()">
								#else
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
								#end
								<input type="hidden" class="picCode">
							</div>
							<div class="upimgbtn">
								<input type="file" name="picfile" class="picfile">
								<button class="upl">上传图片</button>
								<button class="del">删除图片</button>
							</div>													
						</form>
					</div>
					<div class="imgbox">
						<form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">													
							<div class="dimg">
								#if($tripDay.picUrls && $tripDay.picUrls.size() > 3)
								<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(3)}" img-root="$!utilWebconfig.getTfsRootPath()">
								#else
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
								#end
								<input type="hidden" class="picCode">
							</div>
							<div class="upimgbtn">
								<input type="file" name="picfile" class="picfile">
								<button class="upl">上传图片</button>
								<button class="del">删除图片</button>
							</div>													
						</form>
					</div>
					<div class="imgbox">
						<form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">													
							<div class="dimg">
								#if($tripDay.picUrls && $tripDay.picUrls.size() > 4)
								<img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(4)}" img-root="$!utilWebconfig.getTfsRootPath()">
								#else
								<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
								#end
								<input type="hidden" class="picCode">
							</div>
							<div class="upimgbtn">
								<input type="file" name="picfile" class="picfile">
								<button class="upl">上传图片</button>
								<button class="del">删除图片</button>
							</div>													
						</form>
					</div>
				</div>
			</div>
		</div>
		#end
    </div>
	<script type="text/javascript">
		$(".trip-description-textarea").change(function() {
			// update
			var route_item_id = $(this).attr("route-item-id");
			setRouteItem(route_item_id,false,updatedRouteItems);
		});
		var updatedRouteItems=[];
		var deletedRouteItems=[];
		// 设置更新
		function setRouteItem(item_id,detail_id,arr) {
			// TODO 设置更新
			if(item_id&&item_id>0) {
				arr.push(item_id);
			}
			if(detail_id&&detail_id>0) {
				arr.push(detail_id);
			}
			// alert(arr);
		}
		// 设置全更新
		function setAllRouteItem(day,arr) {
			
			var description_content = $("#day_"+day+"_trip_description");
			route_item_id = description_content.attr("route-item-id");
			setRouteItem(route_item_id,null,arr);
			
		}
		function getUpdatedRouteItems() {
			return updatedRouteItems;
		}
		function getDeletedRouteItems() {
			return deletedRouteItems;
		}
		// 获取行程信息
		function getRouteDays() {
			var result = [];
			$(".day_tab").each(function(){
				var day_id = $(this).attr("day-id");
				var day = {};
				// 描述
				day["routeItemId"] = $("#day_"+day_id+"_trip_description").attr("route-item-id");
				day["title"] = $("#day_"+day_id+"_trip_title").val()||"";
				day["description"] = $("#day_"+day_id+"_trip_description").val()||"";
				var picUrls = [];
				$(".day_"+day_id+"_trip_image").each(function() {
					if($(this).val()) {
						picUrls.push($(this).val());
					}
				});
				day["picUrls"]=picUrls;
				result.push(day);
			});
			// alert(JSON.stringify(result));
			return result;
		}
		
		function getRouteInfo() {
			return {
				#if($!{product.routeInfo})
				routeId: $!{product.routeInfo.routeId},
				#end
				routeDays:getRouteDays(),
    			updatedRouteItems:getUpdatedRouteItems(),
    			deletedRouteItems:getDeletedRouteItems()
			};
		}
    </script>
</div>