<script type="text/javascript"src="$utilWebconfig.getStaticResourcesPath()/resources/ckeditor/ckeditor.js"></script>
<form class="form-signin" id="loginForm" action="/upload/ckeditor" method="post" role="form" enctype="application/x-www-form-urlencoded">
<textarea name="activityDetailWeb" id="editor1" class="ckeditor" rows="10" cols="80"></textarea>
<textarea name="activityDetailApp" id="editor2" class="ckeditor" rows="10" cols="80"></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">保存</button>
</form>

