<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
        >

    <bean id="importUserService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.user.client.service.UserService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="version" value="${dubbo.import.user.version}"/>
        <property name="check" value="${dubbo.import.consumer.user.check}"/>
    </bean>
    
    <bean id="userServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.user.client.service.UserService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="version" value="${dubbo.import.user.version}"/>
        <property name="check" value="${dubbo.import.consumer.user.check}"/>
    </bean>
    
    <!-- 区域ID  专用   不要修改 userAddressServiceRef    
    	网络抖动    远程调用异常    
		dubbo  check = true
		  一期完成后添加
    -->
    <bean id="userAddressServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.user.client.service.UserAddressService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="version" value="${dubbo.import.user.version}"/>
        <property name="check" value="${dubbo.import.consumer.user.check}"/>
    </bean>
</beans>