<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
        >

	<bean id="operationClientServerConsumer" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.OperationClientServer"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
	
	
	<bean id="appVersionClientServiceConsumer" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.AppVersionClientService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
    
    <bean id="comCenterServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.commentcenter.client.service.ComCenterService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
        

    
     <bean id="regionClientServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.RegionClientService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
    
    
    <bean id="showcaseClientServerRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.ShowcaseClientServer"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
    
    <bean id="boothClientServerRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.BoothClientServer"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
    
    <bean id="regionIntroduceClientServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.resourcecenter.service.RegionIntroduceClientService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.resources.dubbo.check}"/>
        <property name="version" value="${consumer.resource.dubbo.version}"/>
    </bean>
    
</beans>