<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<bean id="merchantService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.user.client.service.MerchantService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}"/>
		<property name="check" value="${consumer.dubbo.check}"/>
        <property name="retries" value="${dubbo.retries}"/>
		<property name="version" value="${consumer.dubbo.member.version}" />
	</bean>
	
	<bean id="userService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.user.client.service.UserService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}"/>
		<property name="check" value="${consumer.dubbo.check}"/>
        <property name="retries" value="${dubbo.retries}"/>
		<property name="version" value="${consumer.dubbo.user.version}" />
	</bean>
	
	<bean id="talentInfoDealService" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.membercenter.client.service.back.TalentInfoDealService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}"/>
		<property name="check" value="${consumer.dubbo.check}"/>
        <property name="retries" value="${dubbo.retries}"/>
		<property name="version" value="${consumer.dubbo.member.version}" />
	</bean>
</beans>