<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<!-- =========================== item =============================== -->
	<!--demo开始 -->
	<bean id="categoryServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface"
			value="com.yimayhd.ic.client.service.item.CategoryService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.item.check}" />
		<property name="version" value="${consumer.dubbo.item.version}" />
	</bean>
	<bean id="itemQueryServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface"
			value="com.yimayhd.ic.client.service.item.ItemQueryService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.item.check}" />
		<property name="version" value="${consumer.dubbo.item.version}" />
	</bean>
	<bean id="itemPublishServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface"
				  value="com.yimayhd.ic.client.service.item.ItemPublishService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.item.check}" />
		<property name="version" value="${consumer.dubbo.item.version}" />
	</bean>

	<bean id="hotelServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface"
			value="com.yimayhd.ic.client.service.item.HotelService" />
		<property name="application" ref="dubboApplicationConfig" />
		<property name="registry" ref="dubboRegistryConfig" />
		<property name="timeout" value="${consumer.dubbo.timeout}" />
		<property name="check" value="${consumer.dubbo.item.check}" />
		<property name="version" value="${consumer.dubbo.item.version}" />
	</bean>

	<bean id="resourcePublishServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
		<property name="interface" value="com.yimayhd.ic.client.service.item.ResourcePublishService"/>
		<property name="application" ref="dubboApplicationConfig"/>
		<property name="registry" ref="dubboRegistryConfig"/>
		<property name="timeout" value="${consumer.dubbo.timeout}"/>
		<property name="check" value="${consumer.dubbo.item.check}"/>
		<property name="version" value="${consumer.dubbo.item.version}"/>
	</bean>

</beans>