<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="gfTagBiz" class="com.yimayhd.gf.biz.GFTagBiz"/>
	<bean id ="commissionBiz" class="com.yimayhd.commission.biz.CommissionBiz"/>
	<bean id ="itemRebateBiz" class="com.yimayhd.commission.biz.ItemRebateBiz"/>
</beans>