<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
        >

    <!-- ============================== snscecenter ================================== -->
    <bean id="snsCenterServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.snscenter.client.service.SnsCenterService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.dubbo.sns.check}"/>
        <property name="version" value="${consumer.dubbo.sns.version}"/>
    </bean>
</beans>