<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
        >

	<!-- ===========================  trade =============================== -->
	<bean id="iMallHaremServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.tradecenter.client.service.imall.IMallHaremService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.dubbo.trade.check}"/>
        <property name="version" value="${consumer.dubbo.trade.version}"/>
    </bean>

    <bean id="tcQueryServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.tradecenter.client.service.trade.TcQueryService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.dubbo.trade.check}"/>
        <property name="version" value="${consumer.dubbo.trade.version}"/>
    </bean>

    <bean id="tcTradeServiceRef" class="com.alibaba.dubbo.config.spring.ReferenceBean">
        <property name="interface" value="com.yimayhd.tradecenter.client.service.trade.TcTradeService"/>
        <property name="application" ref="dubboApplicationConfig"/>
        <property name="registry" ref="dubboRegistryConfig"/>
        <property name="timeout" value="${consumer.dubbo.timeout}"/>
        <property name="check" value="${consumer.dubbo.trade.check}"/>
        <property name="version" value="${consumer.dubbo.trade.version}"/>
    </bean>
</beans>