<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	>
	<bean id="dtManager" class="com.taobao.tair.impl.DefaultTairManager" init-method="init"
          >
       <property name="configServerList">
            <list>
                <value>${tair.configServer.main}</value>
                <value>${tair.configServer.slave}</value>
            </list>
        </property>
        <property name="groupName" value="${tair.groupName.per}" />
        <property name="timeout" value="${tair.timeout}" />
    </bean>
    
    <bean id="tcCacheManager" class="com.yimayhd.sellerAdmin.tair.TcCacheManager">
		<property name="tairManager" ref="dtManager"></property>
		<property name="namespace" value="${tair.sellerAdmin.namespace}"></property>
	</bean>
</beans>