<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
       >
    
	<bean id="verifyCodeManager" class="com.yimayhd.user.session.manager.VerifyCodeManager"></bean>

    <bean id="sessionTempDefaultTairManager" class="com.taobao.tair.impl.DefaultTairManager" init-method="init">
		<property name="configServerList">
			<list>
				<value>${tair.configServer.main}</value>
				<value>${tair.configServer.slave}</value>
			</list>
		</property>
		<property name="groupName" value="${tair.groupName.temp}" />
		<property name="timeout" value="${tair.timeout}" />
	</bean>
	<bean id="sessionCacheManager" class="com.yimayhd.user.session.manager.cache.SessionCacheManager">
		<property name="tairManager" ref="sessionTempDefaultTairManager"/>
	</bean>
	
	<bean id="sessionManager" class="com.yimayhd.user.session.manager.SessionManager">
		<property name="cacheManager" ref="sessionCacheManager"></property>
	</bean>
	
	
    
</beans>