<h1>俱乐部成员列表</h1>
    <form class="form-signin" id="clubMemberListForm" name="clubMemberListForm" action="$!utilWebconfig.getActionDefaultFontPath()/clubManage/clubMember/$!clubId" method="GET" role="form">
        <div class="tableGroup whole">
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>手机号</th>
                    <th>昵称</th>
                    <th>姓名</th>
                    <th>等级</th>
                    <th>加入时间</th>
                </tr>
                    #foreach($user in $userList)
                    <tr>
                        <td>$!velocityCount</td>
                        <td>$!user.tel</td>
                        <td>$!user.name</td>
                        <td>$!user.userName</td>
                        #*TODO*#
                        <td>TODO</td>
                        <td>$utilDate.dateToString($!user.gmtCreated,"yyyy-MM-dd HH:mm:ss")</td>
                    </tr>
                    #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("clubMemberListForm")
    </form>