<link href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/moment.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/calendar-tool.js" type="text/javascript"></script>
<div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#goFlight" data-toggle="tab">去程</a>
    </li>
    <li>
      <a href="#backFlight" data-toggle="tab">返程</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane in active" id="goFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control input-date' placeholder='请选择出发日期' id="forwardDepartDate"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出城市" id="forwardDepartCity"></td>
            </tr>
			<tr>
				<td>*出发机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发机场" id="forwardDepartStation"></td>
            </tr>
			<tr>
				<td>*到达日期：</td>
				<td><input type="text" class='form-control input-date' placeholder='请选择到达日期' id="forwardArriveDate"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="forwardArriveCity"></td>
            </tr>
			<tr>
				<td>*到达机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达机场" id="forwardArriveStation"></td>
            </tr>
			<tr>
				<td>航班公司：</td>
				<td>
					<select class="form-control company" id="forwardCompany">
                        <option value="">请选择航班公司</option>
					#foreach($flightCompany in $flightCompanys)
                        <option value='${utilText.toJSONString(${flightCompany})}'>${flightCompany.name}</option>
					#end
					</select>
				</td>
            </tr>
			<tr>
				<td>航班号：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班号" id="forwardFlightNum"></td>
            </tr>
			<tr>
				<td>计划起飞时间：</td>
				<td><input type="text" class='form-control forward-plan-time' placeholder='请选择计划起飞时间' readonly id="forwardDepartTime"></td>
            </tr>
			<tr>
				<td>计划到达时间：</td>
				<td><input type="text" class='form-control forward-plan-time' placeholder='请选择计划到达时间' readonly id="forwardArriveTime"></td>
            </tr>
			<tr>
				<td>运行时间：</td>
				<td><input type="text" class="form-control" placeholder="自动计算运行时间" readonly id="forwardRunTime"></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane in" id="backFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control input-date' placeholder='请选择出发日期' id="returnDepartDate"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出城市" id="returnDepartCity"></td>
            </tr>
			<tr>
				<td>*出发机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发机场" id="returnDepartStation"></td>
            </tr>
			<tr>
				<td>*到达日期：</td>
				<td><input type="text" class='form-control input-date' placeholder='请选择到达日期' id="returnArriveDate"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="returnArriveCity"></td>
            </tr>
			<tr>
				<td>*到达机场：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达机场" id="returnArriveStation"></td>
            </tr>
			<tr>
				<td>航班公司：</td>
				<td>
    				<select class="form-control company" id="returnCompany">
                        <option value="">请选择航班公司</option>
    				#foreach($flightCompany in $flightCompanys)
                        <option value='${utilText.toJSONString(${flightCompany})}'>${flightCompany.name}</option>
    				#end
    				</select>
                </td>
            </tr>
			<tr>
				<td>航班号：</td>
				<td><input type="text" class="form-control" placeholder="请输入航班号" id="returnFlightNum"></td>
            </tr>
			<tr>
				<td>计划起飞时间：</td>
				<td><input type="text" class='form-control return-plan-time' placeholder='请选择计划起飞时间' readonly id="returnDepartTime"></td>
            </tr>
			<tr>
				<td>计划到达时间：</td>
				<td><input type="text" class='form-control return-plan-time' placeholder='请选择计划到达时间' readonly id="returnArriveTime"></td>
            </tr>
			<tr>
				<td>运行时间：</td>
				<td><input type="text" class="form-control" placeholder="自动计算运行时间" readonly id="returnRunTime"></td>
            </tr>
        </table>
    </div>
  </div>
</div>
<script type="text/javascript">
	// 日期输入框初始化
	$(".input-date").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd"
    });
	$(".forward-plan-time").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd hh:ii"
    });
	$(".return-plan-time").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd hh:ii"
    });
	$(".forward-plan-time").change(function() {
		var start_date = $("#forwardDepartTime").val();
		var end_date = $("#forwardArriveTime").val();
		if(!start_date || !end_date) {
    		$("#forwardRunTime").val("");
		} else {
    		var start = CalendarY.parse(start_date);
        	var end = CalendarY.parse(end_date);
    		var run_time = CalendarY.getTimeDifferenceByMinute(start,end);
			$("#forwardRunTime").val(run_time);
		}
	});
	$(".return-plan-time").change(function() {
		var start_date = $("#returnDepartTime").val();
		var end_date = $("#returnArriveTime").val();
		if(!start_date || !end_date) {
    		$("#returnRunTime").val("");
		} else {
    		var start = CalendarY.parse(start_date);
        	var end = CalendarY.parse(end_date);
    		var run_time = CalendarY.getTimeDifferenceByMinute(start,end);
			$("#returnRunTime").val(run_time);
		}
	});
	function getFlightDetail() {
		var result = {};
		$(".form-control").each(function() {
			var id = $(this).attr("id");
			if($(this).hasClass("company")) {
				var company = $(this).val();
				if(company) {
					company = JSON.parse(company);
    				result[id+"Name"] = company.name;
    				result[id+"Pic"] = company.logoUrl;
				}
			} else if($(this).hasClass("forward-plan-time") || $(this).hasClass("return-plan-time")) {
				var plan_time = $(this).val();
				if(plan_time) {
					result[id] = CalendarY.parse($(this).val()+":00").getTime();
				}
			} else {
				result[id] = $(this).val();
			}
		});
		return result;
	}
</script>