<div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#goFlight" data-toggle="tab">去程</a>
    </li>
    <li>
      <a href="#backFlight" data-toggle="tab">返程</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane in active" id="goFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control' placeholder='请输入出发日期' id="forwardDepartDate"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发城市" id="forwardDepartCity"></td>
            </tr>
			<tr>
				<td>*到达日期：</td>
				<td><input type="text" class='form-control' placeholder='请输入达到日期' id="forwardArriveDate"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="forwardArriveCity"></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane in" id="backFlight">
		<table class="table">
			<tr>
				<td>*出发日期：</td>
				<td><input type="text" class='form-control' placeholder='请选择出发日期' id="returnDepartDate"></td>
            </tr>
			<tr>
				<td>*出发城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入出发城市" id="returnDepartCity"></td>
            </tr>
			<tr>
				<td>*到达日期：</td>
				<td><input type="text" class='form-control' placeholder='请输入出发日期' id="returnArriveDate"></td>
            </tr>
			<tr>
				<td>*到达城市：</td>
				<td><input type="text" class="form-control" placeholder="请输入到达城市" id="returnArriveCity"></td>
            </tr>
        </table>
    </div>
  </div>
</div>
<script type="text/javascript">
	function getFlightInfo() {
		var result = {};
		$(".form-control").each(function() {
			var id = $(this).attr("id");
			result[id] = $(this).val();
		});
		return result;
	}
</script>