<link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/common.css"/>
<div>
    <form class="form-signin" id="roleListForm" name="roleListForm" action="/systemManage/roleListPOST" method="POST" accept-charset="utf-8" role="form">
        <div class="inputGroup whole">
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">角色编号</button>
                    </span>
                    <input type="text" class="form-control" name="roleId" value="$!roleListQuery.roleId">
                    
                </div>
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">角色创建日期</button>
                    </span>
                    <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="createBeginTime" value="$!roleListQuery.createBeginTime">
                    <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
                    <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="createEndTime" value="$!roleListQuery.createEndTime">
                </div>
                
                <div class="input-group inpSingle ">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">角色状态</button>
                    </span>
                   <select name="status" data-placeholder="请选择..." class="chosen-select form-control">
			            <!--<option value="10" #if($!role.status == 10) selected #end>全部</option>-->
			            <option value="1" #if($!role.status == 1) selected #end>正常</option>
			            <option value="0" #if($!role.status == 0) selected #end>删除</option>
          			</select>
                </div>
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">角色名称</button>
                    </span>
                    <input type="text" class="form-control" name="roleName" value="$!roleListQuery.roleName">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">查询</button>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary" onclick="resetForm();">重置</button>
                </div>
               
        </div>
        <div class="tableGroup whole">
            <table class="table table-hover">
                  <tr>
                    <td colspan="8" align="center"><h2>角色列表</h2></td>
                  </tr>
                <tr>
					<th>角色编号</th>
                    <th>角色名称</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                  #foreach($role in $roleList)
	                <tr>
	                   <td>角色编号：$!role.id</td>
					   <td>$!role.name</td>
					   <td>$!utilDate.dateToString($!role.gmtCreated,"yyyy-MM-dd HH:mm:ss")</td>
					   <td>$!utilDate.dateToString($!role.gmtModified,"yyyy-MM-dd HH:mm:ss")</td>
					   #if($!role.status == 1)
							<td>正常</td>
							<td>
							<!--<button type="button" class="btn btn-lg btn-primary addRefund" data-toggle="modal" data-target="#refundModal" tradeNO="$!trade.tradNO">退款</button>-->
								<button type="button" class="btn btn-primary roleEdit" roleId="$!role.id" roleName="$!role.name">编辑</button>
								<button type="button" class="btn btn-primary roleStatus" roleId="$!role.id" roleStatus="2">删除</button>
							</td>
					   #else
							<td>删除</td>
							<td>
							<!--<button type="button" class="btn btn-lg btn-primary addRefund" data-toggle="modal" data-target="#refundModal" tradeNO="$!trade.tradNO">退款</button>-->
								<button type="button" class="btn btn-primary roleEdit" roleId="$!role.id" roleName="$!role.name">编辑</button>
								<button type="button" class="btn btn-primary roleStatus" roleId="$!role.id" roleStatus="1">启用</button>
							</td>
					   #end
	                </tr>
                  #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("roleListForm")
    </form>

    <!-- 退款模态框 -->
	<!--
    <div class="modal fade" id="refundModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">对话框标题</h4>
                </div>
                <div class="modal-body dialogPoint">
                    <form class="form-signin" id="refundAddForm" action="/refundManage/add" method="POST" role="form">
                        <div class="form-group">
                            <ul class="formPoint">
                            	 <li> 退款金额：￥86.00   退款路径：支付宝/微信/银联 </li>
                                <li>
                                    <label for="refundMoney">退款金额</label>
                                    <input id="refundMoney" type="text" class="form-control refundMoney" placeholder="退款金额" name="refundMoney" value="">
                                </li>
                                <li>
                                    <label for="shouldRefundPoint">需返还积分</label>
                                    <input type="text" class="form-control shouldRefundPoint pointShow" placeholder="需返还积分" name="shouldRefundPoint" value="" readonly="">
                                </li>
                                <li>
                                    <label for="availablePoint">可返还积分</label>
                                    <input type="text" class="form-control availablePoint pointShow" placeholder="可返还积分" name="availablePoint" value="" readonly="">
                                </li>
                                
                                
                            </ul>
                          
                            <button id="btnSubmit" class="btn btn-large btn-block btn-primary" type="button" disabled="">提交</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary">确定</button>
                </div>

            </div>
        </div>
				</div> -->

</div>
<script>
	$(".form-date").datetimepicker(
     {
         language:  "zh-CN",
         weekStart: 1,
         todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 2,
         minView: 2,
         forceParse: 0,
         format: "yyyy-mm-dd"
    });
    function getOrder(id)
    {
	    top.tabsAdd('',"/B2C/orderManage/membershipCardOrder/"+id,2,"会员卡订单详情");
    }

    $(function(){
 
		$(".roleEdit").click(function() {
      		var roleId = $(this).attr("roleId");
			var roleName = $(this).attr("roleName");
			window.parent.tabsAdd("roleList"+roleId, "/systemManage/roleDetail/"+roleId, 3, "角色:"+roleName+" 的详情");
      	});
      	$(".roleStatus").click(function() {
			var roleId = $(this).attr("roleId");
			var roleStatus = $(this).attr("roleStatus");
			$.post('$!utilWebconfig.getActionDefaultFontPath()'+'/systemManage/roleList/updateStatus/'+roleId,
					{'roleStatus': roleStatus},
					function(data) {
                    	if(data.status == 200){
                        	layer.alert('操作成功', {
                            	icon: 1,
                            	time: 1500
                        	}, function(){
                            	window.location.href = window.location.href;
                        	});
                    	}else{
                        	layer.alert('操作失败', {
                            	icon: 2,
                            	time: 2000
                        	}, function(){
                            	window.location.href = window.location.href;
                        	});

                    	}						
					});
      	});
		
    });
</script>