<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" href="../src/css/base.css">
</head>
<body>
<table class="addfood">
	<tr>
		<td class="tit"><span>*</span><label>商家名称：</label></td>
		<td><input class="busname" placeholder="请输入商家名称"></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>商家图片：</label></td>
		<td>
			<div class="uploadbox clearfix">
				<div class="imgbox">
					<div class="dimg">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div>
					<div class="upimgbtn">
						<input type="hidden" name="filevalue">
						<input type="file" name="picfile" class="picfile">
						<button class="upl">上传图片</button>
						<button class="del">删除图片</button>
					</div>
				</div>
				<div class="imgbox">
					<div class="dimg">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div>
					<div class="upimgbtn">
						<input type="hidden" name="filevalue">
						<input type="file" name="picfile" class="picfile">
						<button class="upl">上传图片</button>
						<button class="del">删除图片</button>
					</div>
				</div>
				<div class="imgbox">
					<div class="dimg">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div>
					<div class="upimgbtn">
						<input type="hidden" name="filevalue">
						<input type="file" name="picfile" class="picfile">
						<button class="upl">上传图片</button>
						<button class="del">删除图片</button>
					</div>
				</div>
				<div class="imgbox">
					<div class="dimg">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div>
					<div class="upimgbtn">
						<input type="hidden" name="filevalue">
						<input type="file" name="picfile" class="picfile">
						<button class="upl">上传图片</button>
						<button class="del">删除图片</button>
					</div>
				</div>
				<div class="imgbox">
					<div class="dimg">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
					</div>
					<div class="upimgbtn">
						<input type="hidden" name="filevalue">
						<input type="file" name="picfile" class="picfile">
						<button class="upl">上传图片</button>
						<button class="del">删除图片</button>
					</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>联系电话：</label></td>
		<td><input placeholder="请输入电话或手机号"></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>营业时间：</label></td>
		<td><input placeholder="请输入营业时间"></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>人均消费：</label></td>
		<td><input placeholder="请输入人均消费"></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>服务设施：</label></td>
		<td><label class="ck"><input type="checkbox">wifi</label><label class="ck"><input type="checkbox">wifi</label>
		<label class="ck"><input type="checkbox">wifi</label><label class="ck"><input type="checkbox">wifi</label>
		<label class="ck"><input type="checkbox">wifi</label><label class="ck"><input type="checkbox">wifi</label></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>商家住址：</label></td>
		<td><select><option>--请选择--</option></select>&nbsp;&nbsp;<input class="address" placeholder="请输入商家住址"></td>
	</tr>
	<tr>
		<td class="tit"><span>*</span><label>商家地图：</label></td>
		<td><label>经度：</label><input>&nbsp;&nbsp;&nbsp;&nbsp;<label>纬度：</label><input>&nbsp;&nbsp;<button>查找经纬度</button></td>
	</tr>
	<tr>
		<td colspan="2" class="save"><button>保存</button></td>
	</tr>
</table>
<script type="text/javascript" src="../src/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../src/js/jquery.form.js"></script>
<script>
 var uploadPic=function(img,fileObj) {
	  var $imgbox=$(img).closest('.imgbox'),_self=this;
	  //$(fileObj).wrap("<form id='uploadform' action='../../../handle.php' method='post' enctype='multipart/form-data'></form>");
	  $(fileObj).wrap("<form id='uploadform' action='http://192.168.1.126/filegw/file/upload' method='post' enctype='multipart/form-data'></form>");
	  $('#uploadform').ajaxSubmit({
	  		dataType:'json',
            success: function (data) {
            	if(data.status==200){
            		$imgbox.find('img').attr('src',data.data?'http://img.test.yimayholiday.com/v1/tfs/'+data.data:'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
            		$imgbox.find('input:hidden').val(data.data);
            		$imgbox.addClass('imgbox-action');
            		$imgbox.find('.upl').hide();
            	}else{
					alert(data.message);
					return;
            	}
            	$(this).off();
				$imgbox.find('button,input').show();
			    $imgbox.find('.upimgbtn').append('<input type="file" name="picfile" class="picfile">');
				$imgbox.find('.picfile').on('change',function(){changeboximg();});
				$imgbox.find('.upl').hide();
            },
            error:function(err){console.log(err);
				$public.dialog.msg('请求发生错误！','error');
            }
      }).remove();
	  return false;
 }

var changeboximg=function(){
		var $imgbox=$(this).closest('.imgbox');
		uploadPic($imgbox.find('img').get(0),this);
	}
$(function(){
	$('.picfile').on('change',changeboximg);
	$('.del').on('click',function(){
		var $imgbox=$(this).hide().closest('.imgbox');
		$imgbox.find('img').attr('src','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
		$imgbox.find('input:hidden').val('');
		$imgbox.find('.upl').show();
		$imgbox.find('.picfile').remove();
	});
	$('.upl').click(function(){
		var $imgbox=$(this).closest('.imgbox');
		$imgbox.find('.picfile').remove();
		$(this).before('<input type="file" name="picfile" class="picfile" style="display:none;">');
		$imgbox.find('.picfile').on('change',changeboximg).trigger("click");
	});
});
</script>
</body>
</html>