<!-- head start-->
#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("layout/layout-meta.vm")
	<title>选择酒店</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/addhotelproduct.css">
</head>
<!-- head end-->
	<!-- 面包屑 -->
	<div class = "comwidth crumbs f12">您所在的位置：添加酒店商品><a class = "f12 gray6">选择酒店</a></div>
	<div class = "comwidth clearfix" id = "eredar">
		<div class = "eredar-left">
			<dl class = "first">
				<dd>商品管理</dd>
				<dt class = "one">添加商品</dt>
				<dt>商品列表</dt>
			</dl>
			<dl>
				<dd>添加酒店商品</dd>
				<dt class = "on">选择酒店</dt>
				<dt>基本信息</dt>
				<dt>价格日历</dt>
			</dl>
			<dl>
				<dd>添加景区门票</dd>
				<dt>基本信息</dt>
				<dt>价格日历</dt>
			</dl>
			<dl>
				<dd>订单管理</dd>
				<dt class = "one">订单列表</dt>
			</dl>
			<dl>
				<dd>店铺管理</dd>
				<dt class = "one">基本信息</dt>
				<dt>账户信息</dt>
			</dl>
			<dl>
				<dd>对账管理</dd>
				<dt class = "one">月结账单</dt>
			</dl>
		</div>
		<div class = "eredar-right">
			<div class = "eredar-info clearfix">
				<ul>
					<li class = "first on">选择酒店</li>
					<li>基本信息</li>
					<li>价格日历</li>
				</ul>
			</div>
			<div class="panel on">
				<div class="hotelinfo">
					<p>
						<span class="nm"><span class="bred">*</span><label>酒店信息：</label></span>
						<span class="info-bar">
							<label class="htn">如家酒店望京店</label>
							<label class="smtt">地址：</label><label class="address">北京市海淀区中关村东路1号院</label>
							|<label class="smtt">电话：</label><label class="tel">010-83122549</label>
						</span>
						<button class="choicehotel">查询酒店</button>
					</p>
					<div>
						<span class="nm"><span class="bred">*</span><label>酒店信息：</label></span>
						<span class="info-box clearfix">
							<ul class="clearfix">
								<li>
									<div class="radio-bar clearfix">
										<label class="fl"><input type="radio" name="gp"> 房型1</label>
										<img class="fr" src="http://s0.test.jiuxiulvxing.com/PC_JX/img/droptip_up.jpg">
									</div>
									<div class="bar-box">
										<ul class="clearfix">
											<li>
												<label>房型：</label>
												<label>房型说明</label>
											</li>
											<li>
												<label>面积：</label>
												<label>120平方米</label>
											</li>
											<li>
												<label>床型：</label>
												<label>大床1.8m</label>
											</li>
											<li>
												<label>可住：</label>
												<label>2人</label>
											</li>
											<li>
												<label>网络：</label>
												<label>有wifi</label>
											</li>
											<li>
												<label>窗户：</label>
												<label>有窗</label>
											</li>
										</ul>
										<div class="img-group">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
										</div>
									</div>
								</li>
								<li>
									<div class="radio-bar clearfix">
										<label class="fl"><input type="radio" name="gp"> 房型2</label>
										<img class="fr" src="http://s0.test.jiuxiulvxing.com/PC_JX/img/droptip_up.jpg">
									</div>
									<div class="bar-box">
										<ul class="clearfix">
											<li>
												<label>房型：</label>
												<label>房型说明</label>
											</li>
											<li>
												<label>面积：</label>
												<label>120平方米</label>
											</li>
											<li>
												<label>床型：</label>
												<label>大床1.8m</label>
											</li>
											<li>
												<label>可住：</label>
												<label>2人</label>
											</li>
											<li>
												<label>网络：</label>
												<label>有wifi</label>
											</li>
											<li>
												<label>窗户：</label>
												<label>有窗</label>
											</li>
										</ul>
										<div class="img-group">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
										</div>
									</div>
								</li>
								<li>
									<div class="radio-bar clearfix">
										<label class="fl"><input type="radio" name="gp"> 房型3</label>
										<img class="fr" src="http://s0.test.jiuxiulvxing.com/PC_JX/img/droptip_up.jpg">
									</div>
									<div class="bar-box">
										<ul class="clearfix">
											<li>
												<label>房型：</label>
												<label>房型说明</label>
											</li>
											<li>
												<label>面积：</label>
												<label>120平方米</label>
											</li>
											<li>
												<label>床型：</label>
												<label>大床1.8m</label>
											</li>
											<li>
												<label>可住：</label>
												<label>2人</label>
											</li>
											<li>
												<label>网络：</label>
												<label>有wifi</label>
											</li>
											<li>
												<label>窗户：</label>
												<label>有窗</label>
											</li>
										</ul>
										<div class="img-group">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
										</div>
									</div>
								</li>
								<li>
									<div class="radio-bar clearfix">
										<label class="fl"><input type="radio" name="gp"> 房型4</label>
										<img class="fr" src="http://s0.test.jiuxiulvxing.com/PC_JX/img/droptip_up.jpg">
									</div>
									<div class="bar-box">
										<ul class="clearfix">
											<li>
												<label>房型：</label>
												<label>房型说明</label>
											</li>
											<li>
												<label>面积：</label>
												<label>120平方米</label>
											</li>
											<li>
												<label>床型：</label>
												<label>大床1.8m</label>
											</li>
											<li>
												<label>可住：</label>
												<label>2人</label>
											</li>
											<li>
												<label>网络：</label>
												<label>有wifi</label>
											</li>
											<li>
												<label>窗户：</label>
												<label>有窗</label>
											</li>
										</ul>
										<div class="img-group">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
											<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/temp_1.png">
										</div>
									</div>
								</li>
							</ul>
						</span>
					</div>
					<div class="savenext">
						<button>保存并下一步</button>
					</div>
				</div>
			</div>
			<div class="panel">
				<div class="baseinfo">
					<form>
						<table>
							<tr>
								<td class="coltxt">商品类型：</td>
								<td><label>酒店</label></td>
							</tr>
							<tr>
								<td class="coltxt">酒店名称：</td>
								<td><label>皇冠假日酒店</label></td>
							</tr>
							<tr>
								<td class="coltxt"><span class="bred">*</span>商品标题：</td>
								<td><input type="text" class="inputxt" maxlength="38" name=""><span class="mark"><label>1</label>/38字</span></td>
							</tr>
							<tr>
								<td class="coltxt"><span class="bred">*</span>商品代码：</td>
								<td><input type="text" class="inputxt" maxlength="20" name=""><span class="mark"><label>1</label>/20字</span></td>
							</tr>
							<tr>
								<td class="coltxt"><span class="bred">*</span>付款方式：</td>
								<td>
									<label class="radio"><input type="radio" name="pmt">在线支付</label>
									<label class="radio"><input type="radio" name="pmt">到店支付</label>
								</td>
							</tr>
							<tr>
								<td class="coltxt"><span class="bred">*</span>退订限制：</td>
								<td>
									<label class="radio"><input type="radio" name="tdl">可退</label>
									<label class="radio"><input type="radio" name="tdl">不可退</label>
									<label class="radio"><input type="radio" name="tdl">免费退</label>
								</td>
							</tr>
							<tr>
								<td class="coltxt vt"><span class="bred">*</span>退订规则：</td>
								<td><textarea></textarea><span class="mark"><label>1</label>/40字</span></td>
							</tr>
							<tr>
								<td class="coltxt vt"><span class="bred">*</span>最晚到店时间：</td>
								<td>
									<label class="checkbox"><input type="checkbox" name="tdl">当前0:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前1:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前2:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前3:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前4:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前5:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前6:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前7:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前8:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前9:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前10:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前11:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前12:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前13:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前14:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前15:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前16:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前17:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前18:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前19:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前20:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前21:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前22:00前</label>
									<label class="checkbox"><input type="checkbox" name="tdl">当前23:00前</label>
									<div class="gray9">最晚到店时间最多选择3个</div>
								</td>
							</tr>
							<tr>
								<td class="coltxt"><span class="bred">*</span>提前预定天数：</td>
								<td><input type="text" maxlength="10" name=""></td>
							</tr>
						</table>
					</form>
					<div class="btngroup">
						<button>返回上一页</button>
						<button>保存并下一步</button>
					</div>
				</div>
			</div>
			<div class="panel">
				<div id="CLD" class="clearfix datepicker">
					<table class="fl">
						<tr>
							<td class="tdyears clearfix" colspan="7">
								<i class="fl prev"></i>
								<select id="SY" ></select>
								<i class="fr next"></i>
							</td>
						</tr>
						<tr>
							<td class="tdmonth" colspan="7">
								<ul>
									<li>1月</li>
									<li>2月</li>
									<li>3月</li>
									<li class="on">4月</li>
									<li>5月</li>
									<li>6月</li>
									<li>7月</li>
									<li>8月</li>
									<li>9月</li>
									<li>10月</li>
									<li>11月</li>
									<li>12月</li>
								</ul>
							</td>
						</tr>
						<tr class="tdweek">
							<td>周日</td>
							<td>周一</td>
							<td>周二</td>
							<td>周三</td>
							<td>周四</td>
							<td>周五</td>
							<td>周六</td>
						</tr>
					</table>
					<div class="setvalue fr">
						<h2>价格设置</h2>
						<div><label class="bred">*</label><label>价格：</label><input type="text"></div>
						<div><label class="bred">*</label><label>价格：</label><input type="text"></div>
						<div class="btn">
							<button>确定</button>
							<button>全部清除</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footID">
		<div class="jiux-footer jiuw2">
			<div class="footer-top ">
				<div class="footID clearfix jiuw2">
					<ul class="fl">
						<li><a href="http://www.test.jiuxiulvxing.com/about/aboutus.html">关于九休</a></li>
						<li><a href="http://www.test.jiuxiulvxing.com/about/contactus.html">联系我们</a></li>
						<li><a href="http://www.test.jiuxiulvxing.com/feedback/">意见反馈</a></li>
						<li>招商咨询&nbsp;&nbsp;4000-696-888/9:00~22:00，周一到周日</li>
					</ul>
					<div class="fr">
						<a class="wb"></a>
						<a class="wx"><i></i></a>
						<a class="qq"></a>
					</div>
				</div>
			</div>
			<div class="footer-bom">
				<div class="footID jiuw2">
					<img src="http://s0.test.jiuxiulvxing.com/PC_JX/img/b_logo.png">
					<p>COPYRIGHT© 2016 JIUXIULVXING.COM 九休旅行版权所有</p>
					<p><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备16022217号-1</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="searchbox">
		<table class="tb">
			<tr>
				<td class="tb-txt">景区名称：</td>
				<td><input type="text" class="inputxt"></td>
				<td class="tb-txt">所在城市：</td>
				<td>
					<select id="province"><option value="">--请选择--</option></select>
					<select id="city" class="ml10"><option value="">--请选择--</option></select>
					<select id="area" class="ml10"><option value="">--请选择--</option></select>
					<button class="search-btn">搜索</button>
				</td>
			</tr>
		</table>
		<div class="hotelist list">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>酒店名称</th>
						<th>区域</th>
						<th>地址</th>
						<th>电话</th>
						<th>详情</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
					<tr>
						<td><input type="radio"></td>
						<td>324233243</td>
						<td>32432</td>
						<td>32432</td>
						<td>32432</td>
						<td><a>查看详情</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination">
	        <ul class="pager">
                <li class="previous disabled">
	                <a href="javascript:void(0);" id="prePage">« 上一页</a>
	            </li>
                <li class="active">
                    <a href="javascript:void(0);">1</a>
                </li>
            	<li>
                    <a href="javascript:void(0);" class="LinkeToPage" pageno="2">2</a>
                </li>
            	<li>
                    <a href="javascript:void(0);" class="LinkeToPage" pageno="3">3</a>
                </li>
            	<li>
                    <a href="javascript:void(0);" data-toggle="pager" data-placement="top">...</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="LinkeToPage" pageno="131">131</a>
                </li>
	            <li>
                    <a href="javascript:void(0);" class="LinkeToPage" pageno="132">132</a>
                </li>
	            <li class="next">
	                <a href="javascript:void(0);" class="LinkeToPage" pageno="2" id="nextPage">下一页»</a>
	            </li>
                <li>
	                <span class="input-group-addon">每页</span>
	                <select class="form-control pageSize" id="pageSize">
	                    <option value="10">10</option>
	                    <option value="20">20</option>
	                    <option value="50">50</option>
	                </select>
	                <span class="input-group-addon">条</span>
					<span class="input-group-addon">共 1316 条</span>
		        </li>
	    	</ul>
		</div>
	</div>
	<script  type='text/temple' id='province-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<province.length; j++) { #>
	            <option value="<#= province[j].id#>"><#= province[j].name#></option>
	    <# } #>
	</script>
	<script  type='text/temple' id='city-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<city.length; j++) { #>
	            <option value="<#= city[j].id#>"><#= city[j].name#></option>
	    <# } #>
	</script>
	<script  type='text/temple' id='area-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<area.length; j++) { #>
	            <option value="<#= area[j].id#>"><#= area[j].name#></option>
	    <# } #>
	</script>
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("addhotel");</script>