<!-- head start-->
#set($layout = "/layout/layout-jiuxiu.vm")
<head>
    #parse("layout/layout-meta.vm")
    <title>添加景区</title>
    <link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/addhotelproduct.css">
</head>
<!-- 面包屑 -->
<div class = "eredar-info clearfix">
    <ul>
        <li class = "first on">基本信息</li>
        <li>价格日历</li>
    </ul>
</div>
<div class="panel on">

	<form class="scenicForm">
		<input type="hidden" class="picCode baseInfo-picCode" name="scenicId" value="$!{scenicManageVO.scenicId}">
		<input type="hidden" class="picCode baseInfo-picCode" name="scenicName" value="$!{scenicManageVO.name}">
		<input type="hidden" class="picCode baseInfo-picCode" name="supplierCalendar" value="$!{scenicManageVO.supplierCalendar}">
		<input type="hidden" class="picCode baseInfo-picCode" name="sellerId" value="$!{scenicManageVO.sellerId}">
		<input type="hidden" class="picCode baseInfo-picCode" name="categoryId" value="$!{scenicManageVO.categoryId}">
	    <div class="hotelinfo ticketinfo">
	        <p>
	            <span class="nm"><span class="bred">*</span><label>景区信息：</label></span>
	                <span class="info-bar">
	                    <label class="htn"></label>
	                    <label class="smtt">地址：</label><label class="address"></label>
	                </span>
	            <a class="searchScenic">查询景区</a>
	        </p>
	    </div>
	    <div class="baseinfo ticketbaseinfo">
	         <table>
	                <tr>
	                    <td class="coltxt">商品名称：</td>
	                    <td><label id="lbscenicname">景区门票</label></td>
	                </tr>
	                <tr class="notNull">
	                    <td class="coltxt"><span class="bred">*</span>门票类型：</td>
	                    <td>
	                        <label class="radio"><input type="radio" name="ticketId" value="1" #if($!scenicManageVO.ticketId == 1) checked #end>大门票</label>
	                        <label class="radio"><input type="radio" name="ticketId" value="2" #if($!scenicManageVO.ticketId == 2) checked #end>联票</label>
	                    </td>
	                </tr>
	                <tr class="notNull">
	                    <td class="coltxt"><span class="bred">*</span>商品标题：</td>
	                    <td><input type="text" class="inputxt" maxlength="38" name="title"><span class="mark"><label>1</label>/38字</span></td>
	                </tr>
	                <tr class="notNull">
	                    <td class="coltxt"><span class="bred">*</span>价格：</td>
	                    <td><input type="text" class="inputxt" name="price"></td>
	                </tr>
	                <tr class="notNull">
	                    <td class="coltxt"><span class="bred">*</span>门市价：</td>
	                    <td><input type="text" class="inputxt" name="originalPrice"></td>
	                </tr>
	                <tr class="notNull">
	                    <td class="coltxt"><span class="bred">*</span>提前预定天数：</td>
	                    <td><input type="text" class="inputxt" maxlength="10" name="startBookTimeLimit"></td>
	                </tr>
	                #foreach($bizCategoryInfo in $bizCategoryInfoList)
	                    #if($bizCategoryInfo.pType == 1)
                        <tr class="dynamicTr" pId="$!bizCategoryInfo.pId" pTxt="$!bizCategoryInfo.pText" pType="$!bizCategoryInfo.pType">
	                        <td class="coltxt"><span class="bred">*</span>$!bizCategoryInfo.pText：</td>
                        </tr>
	                    #else
                        <tr class="dynamicTr" pId="$!bizCategoryInfo.pId" pTxt="$!bizCategoryInfo.pText" pType="$!bizCategoryInfo.pType">
	                        <td class="coltxt">$!bizCategoryInfo.pText：</td>
                        </tr>
	                    #end
	                    <td><input type="text" class="inputxt" name="$!bizCategoryInfo.pId" value=""></td>
	                #end
	
	            </table>
	    </div>
    </form>

    <div class="savenext">
        <a class="save-to-picker">保存并下一步</a>
    </div>
</div>
<div class="panel">
    <div id="CLD" class="clearfix datepicker">
        <table class="fl">
            <tr>
                <td class="tdyears clearfix" colspan="7">
                    <i class="fl prev"></i>
                    <!-- <select id="SY"></select> -->
                    <i class="fr next"></i>
                    <label id="SY"></label>
                </td>
            </tr>
            <tr>
                <td class="tdmonth" colspan="7">
                    <ul>
                        <li>1月</li>
                        <li>2月</li>
                        <li>3月</li>
                        <li class="on">4月</li>
                        <li>5月</li>
                        <li>6月</li>
                        <li>7月</li>
                        <li>8月</li>
                        <li>9月</li>
                        <li>10月</li>
                        <li>11月</li>
                        <li>12月</li>
                    </ul>
                </td>
            </tr>
            <tr class="tdweek">
                <td>周日</td>
                <td>周一</td>
                <td>周二</td>
                <td>周三</td>
                <td>周四</td>
                <td>周五</td>
                <td>周六</td>
            </tr>
        </table>
        <div class="setvalue fr">
            <h2>价格设置</h2>
            <div><label class="bred">*</label><label>价格：</label><input type="text" class="price" maxlength="9"></div>
            <div><label class="bred">*</label><label>库存：</label><input type="text" class="stock" maxlength="9"></div>
            <div class="btn">
                <a class="setvl">确定</a>
                <a class="clearvl">全部清除</a>
            </div>
        </div>
    </div>
    <label class="bred ml30">*</label><label class="gray9">按住Ctrl键，可实现多选日期。</label>
    <div class="allsave">
        <a class="backprev">返回上一页</a>
        <a class="allsub">全部提交</a>
    </div>
</div>
<div class="searchbox">
    <table class="tb">
        <tr>
            <td class="tb-txt">景区名称：</td>
            <td><input type="text" class="inputxt" id="scenicName"></td>
            <td class="tb-txt">所在城市：</td>
            <td>
                <select id="province"><option value="">--请选择--</option></select>
                <select id="city" class="ml10"><option value="">--请选择--</option></select>
                <select id="area" class="ml10"><option value="">--请选择--</option></select>
                <button class="search-btn">搜索</button>
            </td>
        </tr>
    </table>
    <img src="$!rs_path_jiuxiu/img/loading.gif" class='load_list'>

    <div class="sceniclist list"></div>
</div>
<script  type='text/temple' id='province-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<province.length; j++) { #>
	            <option value="<#= province[j].id#>"><#= province[j].name#></option>
	    <# } #>
	</script>
<script  type='text/temple' id='city-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<city.length; j++) { #>
	            <option value="<#= city[j].id#>"><#= city[j].name#></option>
	    <# } #>
	</script>
<script  type='text/temple' id='area-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<area.length; j++) { #>
	            <option value="<#= area[j].id#>"><#= area[j].name#></option>
	    <# } #>
	</script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script>seajs.use("addscenic");</script>