#set($layout = "/layout/layout_non.vm")
#if($scenicManageVOList.size()>0)
<table>
    <thead>
    <tr>
        <th></th>
        <th>景区名称</th>
        <th>区域</th>
        <th>地址</th>
        <th>主题</th>
        <th>等级</th>
    </tr>
    </thead>
    <tbody>
      #foreach($scenicManageVO in $scenicManageVOList)
        <tr>
            <td><input type="radio" name="scenicGroup" value="$!{scenicManageVO.scenicId}"></td>
            <td class="scenic-name">$!{scenicManageVO.name}</td>
            <td class="scenic-area">$!{scenicManageVO.area}</td>
            <td class="scenic-locationText" >$!{scenicManageVO.locationText}</td>
            <td>$!{scenicManageVO.subjectName}</td>
            <td>$!{scenicManageVO.levelStr}</td>
        </tr>
      #end

    </tbody>
</table>
#parse("/page_jiuniu.vm")

#else
<div>
    没有您要找的景区信息，若需要请联系客服
</div>
  #end