<div>
    <form class="form-signin" id="itemRebateSetting" name="itemRebateSetting" action="$!utilWebconfig.getActionDefaultFontPath()/itemRebate/queryItemRebate" method="GET" role="form">
        <div class="inputGroup whole">
            <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">商品名称</button>
                    </span>
                <input type="text" class="form-control" name="itemTitle" value="$!itemRebateQuery.itemTitle">
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary" id="searchBtn" >查询</button>
            </div>
        </div>

        <div class="tableGroup whole">
            <table class="table table-hover">
                <tr>
                    <th>缩略图</th>
                    <th>商品名称</th>
                    <th>商品编号</th>
                    <th>销售价(元)</th>
                    <th>1级</th>
                    <th>2级</th>
                    <th>操作</th>
                </tr>
                #foreach($itemRebate in $pageVo.itemList)
                    <tr>
                        <td><img style="width: 40px;height: 40px;" src="$!utilWebconfig.getTfsRootPath()/$!{itemRebate.imgName}" /></td>
                        <td>$itemRebate.itemTitle</td>
                        <td>$itemRebate.itemId</td>
                        <td>$!utilNum.moneyTransform($!itemRebate.price)</td>
                        <td><input maxlength="5" style="width:60px;" type="text" name="parent$itemRebate.itemId" value="$utilNum.moneyTransform($!itemRebate.rebateParentRate)"/>%</td>
                        <td><input maxlength="5" style="width:60px;" type="text" name="grandpa$itemRebate.itemId" value="$utilNum.moneyTransform($!itemRebate.rebateGrandpaRate)"/>%</td>
                        <td>
                            <button type="button" class="btn btn-primary okStatus"   itemId="$itemRebate.itemId">确认</button>
                        </td>
                    </tr>
                #end
            </table>
        </div>
    #*分页*#
        #parse("/page.vm")
        #pageStyle("itemRebateSetting")
    </form>

    <script>

        $(function(){
            $('.okStatus').click(function(){

                var itemId = $(this).attr('itemId');
                var parentName = "parent" + itemId ;
                var grandpaName = "grandpa" + itemId ;
                var parentRate =($("input[name="+parentName+"]").val()) ;
                var grandpaRate =($("input[name="+grandpaName+"]").val()) ;
                if(isNaN(parentRate) || isNaN(grandpaRate)){
                	layer.msg('请输入数字', {
                        icon: 2,
                        time: 2000
                    });
                	return ;
                }
                if(parseFloat(parentRate) > 100 || parseFloat(grandpaRate) > 100){
                	layer.msg('返佣比率不能大于100', {
                        icon: 2,
                        time: 2000
                    });
                	return ;
                }
                parentRate = parseInt(parentRate * 100);
                grandpaRate = parseInt(grandpaRate * 100);
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/itemRebate/updateItemRebate',
                        {itemId:itemId,parentRate:parentRate,grandpaRate:grandpaRate},function(data){
                    if(data.status == 200){
                        layer.msg('操作成功', {
                            icon: 1,
                            time: 1500
                        });
                        $("#searchBtn").click();
                    }else{
                        layer.msg('操作失败', {
                            icon: 2,
                            time: 2000
                        });
                        $(this).prop('disabled',false);
                    }
                })
            });

        });

    </script>

</div>