<link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/css/clubTable.css"/>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/ajaxfileupload.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/upload.js?version=$!{utilWebconfig.getResourceVersion()}"></script>
<style>
    .fileImgWrap .fileInp {margin-top: -7px;}
</style>
<div class="example whole">
    
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#tab1" data-toggle="tab">主广告位</a>
            </li>
            <li class="">
                <a href="#tab2" data-toggle="tab">精彩推荐</a>
            </li>
            <li class="">
                <a href="#tab3" data-toggle="tab">金牌旅游</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            <form id="adform" action="" method="post">
                <table>
                    <tr>
                        <th>板块</th>
                        <th>主标题</th>
                        <th>副标题</th>
                        <th>图片（.jpg,png）</th>
                        <th>商品</th>
                        <th>操作</th>
                    </tr>

                    <tr id="leftupTr">
                        <td>左上</td>
                        <input type="hidden" value="$!advertiseLeftup.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseLeftup.version" name="version" id="version"/>
                        <td><input type="text" name="title" id="title" value="$!advertiseLeftup.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseLeftup.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage" id="leftup">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseLeftup.imgUrl" id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="leftupFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseLeftup.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                        <td>
                        	<span id="activityName">
                        		$!advertiseLeftupName
                        	</span>
                        </td>
                        <td>
                        	
                            <button type="button" id="activityDetail" class="btn btn-primary activityDetail" activityId="$!advertiseLeftup.operationContent">详情</button>
                            <button type="button" class="btn btn-primary selectActivityAdvertiseBtn" id="leftupButton">选择商品</button>
                            <input type="hidden" name="activityId" value="$!advertiseLeftup.operationContent" id="activityId" />
                        </td>
                    </tr>

                    <tr id="rightupOneTr">
                        <td>右上1</td>
                        <input type="hidden" value="$!advertiseRightupOne.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseRightupOne.version" name="version" id="version"/>
                        <td><input type="text" name="title" id="title" value="$!advertiseRightupOne.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseRightupOne.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage" id="rightupOne">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseRightupOne.imgUrl"  id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="rightupOneFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseRightupOne.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                  		<td>
                  		<span id="activityName">
                        		$!advertiseRightupOneName
                        	</span>
                  		</td>
                        <td>
                        
                             <button type="button" id="activityDetail" class="btn btn-primary activityDetail" activityId="$!advertiseRightupOne.operationContent">详情</button>
                            <button type="button" class="btn btn-primary selectActivityAdvertiseBtn" id="rightupOneButton">选择商品</button>
                            <input type="hidden" name="activityId" id="activityId" value="$!advertiseRightupOne.operationContent"/>
                        </td>
                    </tr>
                    <tr id="rightupTwoTr">
                        <td>右上2</td>
                        <input type="hidden" value="$!advertiseRightupTwo.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseRightupTwo.version" name="version" id="version"/>
                        <td><input type="text" name="title" id="title" value="$!advertiseRightupTwo.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseRightupTwo.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage" id="rightupTwo">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseRightupTwo.imgUrl" id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="rightupTwoFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseRightupTwo.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                        <td>
                        <span id="activityName">
                        		$!advertiseRightupTwoName
                        	</span>
                        </td>
                        <td>
                        	
                             <button type="button" id="activityDetail" class="btn btn-primary activityDetail" activityId="$!advertiseRightupTwo.operationContent">详情</button>
                            <button type="button" class="btn btn-primary selectActivityAdvertiseBtn" id="rightupTwoButton">选择商品</button>
                            <input type="hidden" name="activityId" id="activityId" value="$!advertiseRightupTwo.operationContent"/>
                        </td>
                    </tr>
                    <tr id="downOneTr">
                        <td>下1</td>
                        <input type="hidden"  value="$!advertiseDownOne.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseDownOne.version" name="version" id="version"/>
                        <td><input type="text" name="title" id="title" value="$!advertiseDownOne.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseDownOne.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage" id="downOne">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseDownOne.imgUrl" id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="downOneFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseDownOne.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                        <td>
                        <span id="activityName">
                        		$!advertiseDownOneName
                        	</span>
                        </td>
                        <td>
                        
                             <button type="button" id="activityDetail" class="btn btn-primary activityDetail" activityId="$!advertiseDownOne.operationContent">详情</button>
                            <button type="button" class="btn btn-primary selectActivityAdvertiseBtn" id="downOneButton">选择商品</button>
                            <input type="hidden" name="activityId" id="activityId" value="$!advertiseDownOne.operationContent"/>
                        </td>
                    </tr>
                    <tr id="downTwoTr">
                        <td>下2</td>
                        <input type="hidden"  value="$!advertiseDownTwo.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseDownTwo.version" name="version" id="version"/>
                        <td><input type="text" name="title" id="title" value="$!advertiseDownTwo.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseDownTwo.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage"  id="downTwo">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseDownTwo.imgUrl" id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="downTwoFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseDownTwo.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                	
                		<td>
                		<span id="activityName">
                        		$!advertiseDownTwoName
                        	</span>
                		</td>
                        <td>
                           	 
                        	<button type="button" id="activityDetail" class="btn btn-primary activityDetail" activityId="$!advertiseDownTwo.operationContent">详情</button>
                            <button type="button" class="btn btn-primary selectActivityAdvertiseBtn" id="downTwoButton">选择商品</button>
                            <input type="hidden" name="activityId" id="activityId" value="$!advertiseDownTwo.operationContent"/>
                        </td>
                    </tr>
                    <tr id="downThreeTr">
                        <td>下3</td>
                        <input type="hidden"  value="$!advertiseDownThree.id" id="showcaseId"/>
                        <input type="hidden" value="$!advertiseDownThree.version" name="version" id="version"/>
                       	<td><input type="text" name="title" id="title" value="$!advertiseDownThree.title"></td>
                        <td><input type="text" name="summary" id="summary" value="$!advertiseDownThree.summary"></td>
                        <td>
                            <div class="fileImgWrap">
                                <button type="button" class="btn btn-success selectImage"  id="downThree">选择图片</button>
                                <input type="hidden" name="imgUrl" value="$!advertiseDownThree.imgUrl" id="imgUrl" >
                                <input type="file" name="file" class="fileInp" id="downThreeFile">
                            </div>
                            <div class="logoView">
                                <img src="$utilWebconfig.getTfsRootPath()$!advertiseDownThree.imgUrl" class="img-circle" id="">
                            </div>
                        </td>
                        <td>
                           	伴手礼列表
                            <input type="hidden" name="activityId" id="activityId" value="$!advertiseDownThree.operationContent"/>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <div class="clubBotBtn">
                    <div class="btn-group">
                        <button class="btn btn-success"  type="button"  id="advertisementSubmit">保存</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" id="advertisementCancel">取消</button>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn" type="button" id="advertisementModify">修改</button>
                    </div>
                </div>

            </form>
            </div>
            <div class="tab-pane" id="tab2">
                 <form id="lineForm" action="" method="post">
                    <div class="createClubTable" id="recommendDiv">
                        <table class="table">
                            <tr>
                                <td>
									<input type="hidden" name="boothId" value="$!homeCfg.lineList.boothId">
									<input type="hidden" name="boothCode" value="$!homeCfg.lineList.boothCode">
                                    <button type="button" class="btn btn-success selectLineBtn">选择线路</button>
                                    <button type="button" class="btn btn-success selectActivityBtn">选择活动</button>
                                </td>
                            </tr>
                        </table>
                        <table class="table lineTable" id="recommendTable">
                        		<tr>
                                <td>商品名称</td>
                                <td>操作</td>
                            </tr>
								#foreach($recommend in $recommends)
									<tr>
										<input type="hidden" name="showCaseId" id="showCaseId" value='$!recommend.id'/>
										<input type="hidden" name="businessCode" id="businessCode" value='$!recommend.businessCode'/>
										<input type="hidden" name="version" id="version" value='$!recommend.version'/>
										<td><input type='hidden' name='itemId'  id='itemId' value='$!recommend.operationContent'>$!recommend.title</td>
										<td><button type="button" id="itemId" class="btn btn-primary recommendDetail" itemType="$!recommend.businessCode" itemId="$!recommend.operationContent">详情</button></td>
										<td class='delItem'><a>删除</a></td></tr>
								#end
							 <div id="updateRecommendDataArea">
                			<div>
                        </table>
                       
                    </div>
                    
                    
                     <div class="clubBotBtn">
                    <div class="btn-group">
                        <button class="btn btn-success"  type="button"  id="lineSubmit" >保存</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" id="lineCancel">取消</button>
                    </div>
                    
                    <div class="btn-group">
                        <button class="btn" type="button" id="lineModify">修改</button>
                    </div>
                </div>
                </form>
            </div>
            <div class="tab-pane" id="tab3">
            <form id="travelKaForm" action="" method="post">
                    <div class="createClubTable">
         			
                        <table class="table travelKaTable">
                            <tr>
                                <td>头像</td>
                                <td>用户昵称</td>
                                <td>操作</td>
                            </tr>
									<tr id="travelKaTr1">
										<td>
										<input type='hidden' name='showcaseId' id='showcaseId' value='$!travelKa1.id'>
										<input type='hidden' name='businessCode' id='businessCode' value=''>
										<input type='hidden' name='operationContent' id='operationContent' value='$!travelKa1.operationContent'>
										<input type='hidden' name="imgUrl" id="imgUrl" value='$!travelKa1.imgUrl'/>
										<input type="hidden" name="version" id="version" value='$!travelKa1.version'/>
				
										<img src='$utilWebconfig.getTfsRootPath()$!travelKa1.imgUrl' width=100px height=80px  id="imgUrlShow"></td>
										<td><input type='text' readonly name='title' id="title" value='$!travelKa1.title'></td>
										<td>
										<button type="button" id="itemId" class="btn btn-primary travelKaDetail" itemType="$!travelKa1.buisinessCode" itemId="$!travelKa1.operationContent">详情</button>
                                     	<button type="button" class="btn btn-success selectTravelKaBtn1">选择大咖</button>
                                		</td>
									</tr>
									<tr id="travelKaTr2">
										<td>
										<input type='hidden' name='showcaseId' id='showcaseId' value='$!travelKa2.id'>
										<input type='hidden' name='operationContent' id='operationContent' value='$!travelKa2.operationContent'>
										<input type="hidden" name="version" id="version" value='$!travelKa2.version'/>
										<input type='hidden' name="imgUrl" id="imgUrl" value='$!travelKa2.imgUrl'/>
										<img src='$utilWebconfig.getTfsRootPath()$!travelKa2.imgUrl' width=100px height=80px id="imgUrlShow"></td>
										<td><input type='text' readonly name='title' id="title" value='$!travelKa2.title'></td>
										<td>
										<button type="button" id="itemId" class="btn btn-primary travelKaDetail" itemType="$!travelKa2.buisinessCode" itemId="$!travelKa2.operationContent">详情</button>
                                     	<button type="button" class="btn btn-success selectTravelKaBtn2">选择大咖</button>
                                		</td>
									</tr>
									<tr id="travelKaTr3">
										<td>
										<input type='hidden' name='showcaseId' id='showcaseId' value='$!travelKa3.id'>
										<input type='hidden' name='operationContent' id='operationContent' value='$!travelKa3.operationContent'>
										<input type="hidden" name="version" id="version" value='$!travelKa3.version'/>
										<input type='hidden' name="imgUrl" id="imgUrl" value='$!travelKa3.imgUrl'/>
										
										<img src='$utilWebconfig.getTfsRootPath()$!travelKa3.imgUrl' width=100px height=80px  id="imgUrlShow"></td>
										<td><input type='text' readonly name='title' id="title" value='$!travelKa3.title'></td>
										<td>
										<button type="button" id="itemId" class="btn btn-primary travelKaDetail" itemType="$!travelKa3.buisinessCode" itemId="$!travelKa3.operationContent">详情</button>
                                     	<button type="button" class="btn btn-success selectTravelKaBtn3">选择大咖</button>
                                		</td>
									</tr>
                        </table>
                    </div>
                     <div class="clubBotBtn">
                    <div class="btn-group">
                        <button class="btn btn-success"  type="button"  id="travelKaSubmit" >保存</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" id="travelKaCancel">取消</button>
                    </div>
                    
                     <div class="btn-group">
                        <button class="btn" type="button" id="travelKaModify">修改</button>
                    </div>
                </div>
                
             
               
                </form>
            </div>
        </div>
</div>
<script>
	function validateAdvertiseSubmit(trId){
		var title = $("#" + trId).find("#title").val();
		if(title.length > 50){
			alert("标题字数不能超过50个字符!");
			return false;
		}
		var summary = $("#" + trId).find("#summary").val();
		if(summary.length > 80){
			alert("副标题字数不能超过80个字符!");
			return false;
		}
		
		return true;
	}

    $(function(){
    	
    	$(document).delegate(".activityDetail",'click',function(){
    		 var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/homeManage/toActivityDetail?activityId='+ $(this).attr('activityId');
             window.openwin(url);
        	
        });
    	
    	$(document).delegate(".travelKaDetail",'click',function(){
    		  var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/homeManage/toTravelKaDetail?userId='+ $(this).attr('itemId');
              window.openwin(url);
       	
       });
    	
    	
    	$(document).delegate(".recommendDetail",'click',function(){
    		if($(this).attr('itemType') == 'ACTIVITY'){
        		var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/homeManage/toActivityDetail?activityId='+ $(this).attr('itemId');
                top.tabsAdd("",url,2,$(this).text());
        	}else{ //线路
        		var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/B2C/homeManage/toLineDetail?lineId='+ $(this).attr('itemId');
                top.tabsAdd("",url,2,$(this).text());
        	}
        	
        });
    	
        /**
    	$('.recommendDetail').each(function(){
            $(this).click(function(){
            	
                
            });

        });
    	*/
    	
    	function enableAdvertiseModify(){
    		$("#advertisementSubmit").show();
    		$("#advertisementCancel").show();
    		$("#advertisementModify").hide();
    		
    	}
    	
    	function disableAdvertiseModify(){
    		$("#advertisementSubmit").hide();
    		$("#advertisementCancel").hide();
    		$("#advertisementModify").show();
    	}
    	
    	disableAdvertiseModify();
    	
    	$("#advertisementModify").on("click",function(){
    		enableAdvertiseModify();
    	});
    	
    	
    	function enableRecommendModify(){
    		$("#lineSubmit").show();
    		$("#lineCancel").show();
    		$("#lineModify").hide();
    		
    	}
    	
    	function disableRecommendModify(){
    		$("#lineSubmit").hide();
    		$("#lineCancel").hide();
    		$("#lineModify").show();
    	}
    	
    	disableRecommendModify();
    	
    	$("#lineModify").on("click",function(){
    		enableRecommendModify();
    	});
    	
    	
    	
    	
    	function enableTravelKaModify(){
    		$("#travelKaSubmit").show();
    		$("#travelKaCancel").show();
    		$("#travelKaModify").hide();
    		
    	}
    	
    	function disableTravelKaModify(){
    		$("#travelKaSubmit").hide();
    		$("#travelKaCancel").hide();
    		$("#travelKaModify").show();
    	}
    	
    	disableTravelKaModify();
    	
    	$("#travelKaModify").on("click",function(){
    		enableTravelKaModify();
    	});
    	
    	
    	/**
    	*注册删除事件
    	*/
	    $(document).on("click",".delItem a",function(){
	    	 if($(this).parents("tr:eq(0)").find("#operation").val() != undefined){
	    	 	var itemId = $(this).parents("tr:eq(0)").find("#itemId").val();
	    	 	$("#updateRecommendDataArea").find(":input[name='addItemIds'][value=" + itemId + "]" ).remove();
	    	 }else{
	    	 	var showCaseId = $(this).parents("tr:eq(0)").find("#showCaseId").val();
	    	 	$("#updateRecommendDataArea").append("<input type='hidden' name='delshowCaseId' value=" + showCaseId + ">");
	    	 }
			 $(this).parents("tr:eq(0)").remove();
			 
		});

        $(document).on("click",".delTravelItem a",function(){
            var ids = $("#delItemIds").val()==""?[]:$("#delItemIds").val().split(",");
            var id = $(this).attr("data-value");
            ids.push(id);
            $("#delItemIds").val(ids.join(","));
            $(this).parents("tr:eq(0)").remove();
        });
   
   		/**
   		*选择线路
   		*/
		$('.selectLineBtn').click(function(){
		 	var targetObj = $(this);
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectline','选择线路 ',function() {
		 		var resultValue = win.getSelected();
		 		for(var i in resultValue){
		 			
		 			var newTr = "<tr><input type='hidden' name='businessCode' id='businessCode' value='LINE'/><input type='hidden' name='operation' id='operation' value='add' />" ;
		 			newTr += "<input type='hidden' name='itemId' id='itemId' value='" + resultValue[i].id + "'/>";
	//	 			newTr += "<input type='hidden' name='imgUrl' id='imgUrl' value='" + resultValue[i].coverUrl + "'/>";
		 			newTr += "<input type='hidden' name='title' id='title' value='" + resultValue[i].name + "'/>";
		 			newTr += "<input type='hidden' name='type' id='type' value='" + resultValue[i].type + "'/>";
		 			newTr += "<input type='hidden' name='version' id='title' value='0'/>";
		 			newTr += "<td>" +  resultValue[i].name + "</td>";
		 			newTr += "<td><button type='button' id='itemId' class='btn btn-primary recommendDetail' itemType=''" + resultValue[i].type + " itemId='" + resultValue[i].id + "'>详情</button></td>";
		 			newTr += "<td class='delItem'><a>删除</a></td>" + "</tr>"
		 			$("#recommendTable").append(newTr );
		 		}
             
             return true;
            });
		 });
		 
		 
		/**
		* 选择活动
		*/
		$('.selectActivityBtn').click(function(){
		 	var targetObj = $(this);
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectActivity','选择活动 ',function() {
		 		var resultValue = win.getSelected();
		 		//过滤重复的数据
		 		for(var i in resultValue){
		 			
		 		}
		 				 		
		 		for(var i in resultValue){
		 			
		 			var newTr = "<tr><input type='hidden' name='businessCode' id='businessCode' value='ACTIVITY'/><input type='hidden' name='operation' id='operation' value='add' />" ;
		 			newTr += "<input type='hidden' name='itemId' id='itemId' value='" + resultValue[i].id + "'/>";
		 		//	newTr += "<input type='hidden' name='imgUrl' id='imgUrl' value='" + resultValue[i].image + "'/>";
		 			newTr += "<input type='hidden' name='title' id='title' value='" + resultValue[i].title + "'/>";
		 			newTr += "<input type='hidden' name='version' id='title' value='0'/>";
		 			newTr += "<td>" +  resultValue[i].title + "</td>";
		 			newTr += "<td><button type='button' id='itemId' class='btn btn-primary recommendDetail' itemType='ACTIVITY' itemId='" + resultValue[i].id + "'>详情</button></td>";
		 			newTr += "<td class='delItem'><a>删除</a></td>" + "</tr>"
		 			$("#recommendTable").append(newTr );
		 		}
             return true;
            });
		 });
		
		/**
		*选择广告位活动 leftupButton,rightupOneButton,rightupTwoButton,downOneButton,downTwoButton,downThreeButton
		*/
		  $('#leftupButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#leftupButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#leftupButton').parent().find("#activityId").val(selectData.id);
                 $('#leftupButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		 
		 $('#rightupOneButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#rightupOneButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#rightupOneButton').parent().find("#activityId").val(selectData.id);
                 $('#rightupOneButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		 
		  $('#rightupTwoButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#rightupTwoButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#rightupTwoButton').parent().find("#activityId").val(selectData.id);
                 $('#rightupTwoButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		 
		 $('#downOneButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#downOneButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#downOneButton').parent().find("#activityId").val(selectData.id);
                 $('#downOneButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		 
		 $('#downTwoButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#downTwoButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#downTwoButton').parent().find("#activityId").val(selectData.id);
                 $('#downTwoButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		 
		  $('#downThreeButton').click(function(){
		 	openModalForForm('$!{utilWebconfig.getActionDefaultFontPath()}/B2C/resourceForSelect/selectOneActivity','选择活动 ',function() {
                var selectData = win.getSelected();
                 $('#downThreeButton').parent().parent().find("#activityName").text(selectData.title);
                 $('#downThreeButton').parent().find("#activityId").val(selectData.id);
                 $('#downThreeButton').parent().find("#activityDetail").attr("activityId",selectData.id);
                return true;
            });
		 });
		
        $('.selectTravelKaBtn1').click(function(){
            openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectOneTravelKa','选择大咖',function() {
				var resultValue = win.getTravelKa();
		 		$("#travelKaTr1").find("#operationContent").val(resultValue.id);
              	$("#travelKaTr1").find("#title").val(resultValue.nickname);
               	$("#travelKaTr1").find("#imgUrlShow").attr("src","$utilWebconfig.getTfsRootPath()" +  resultValue.avatar);
               	$("#travelKaTr1").find("#imgUrl").val(resultValue.avatar);
               	$("#travelKaTr1").find("#itemId").attr("itemId",resultValue.id);
                return true;
            });
        })
        $('.selectTravelKaBtn2').click(function(){
            openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectOneTravelKa','选择大咖',function() {
				var resultValue = win.getTravelKa();
		 		$("#travelKaTr2").find("#operationContent").val(resultValue.id);
               	$("#travelKaTr2").find("#title").val(resultValue.nickname);
               	$("#travelKaTr2").find("#imgUrlShow").attr("src",resultValue.avatar);
               	$("#travelKaTr2").find("#itemId").attr("itemId",resultValue.id);
               	$("#travelKaTr2").find("#imgUrlShow").attr("src","$utilWebconfig.getTfsRootPath()" +  resultValue.avatar);
               	$("#travelKaTr2").find("#imgUrl").val(resultValue.avatar);
                return true;
            });
        })
        $('.selectTravelKaBtn3').click(function(){
            openModalForForm(actionDefaultPath + '/B2C/resourceForSelect/selectOneTravelKa','选择大咖',function() {
				var resultValue = win.getTravelKa();
		 		$("#travelKaTr3").find("#operationContent").val(resultValue.id);
               	$("#travelKaTr3").find("#title").val(resultValue.nickname);
               	$("#travelKaTr3").find("#imgUrlShow").attr("src",resultValue.avatar);
               	$("#travelKaTr3").find("#itemId").attr("itemId",resultValue.id);
               	$("#travelKaTr3").find("#imgUrlShow").attr("src","$utilWebconfig.getTfsRootPath()" +  resultValue.avatar);
               	$("#travelKaTr3").find("#imgUrl").val(resultValue.avatar);
                return true;
            });
        })
	
        $('#lineSubmit').click(function(){
        	//组织需要提交的数据
        	var advertiseList = new Array();
        	$("#recommendDiv").find(":input[name=operation]").each(function(){
        		var itemId = $(this).parent().find("#itemId").val();
        		var operation = "add";
        		var imgUrl = $(this).parent().find("#imgUrl").val();
        		var title = $(this).parent().find("#title").val();
        		var businessCode = $(this).parent().find("#businessCode").val();
        		var version = $(this).parent().find("#version").val();
        		var lineType = $(this).parent().find("#type").val();
        		var formdata = {operationContent:itemId,operation:operation,businessCode:businessCode,title:title,version:version,lineType:lineType};
        		advertiseList.push(formdata);
        	});
        	
        	$("#updateRecommendDataArea").find(":input[name='delshowCaseId']").each(function(){
        		var showCaseId = $(this).val();
        		var operation = "del";
        		var formdata = {showcaseId:showCaseId,operation:operation};
        		advertiseList.push(formdata);
        	});
        	
            $(this).prop('disabled',true);
            $.ajax({
				type:'post',
				url:'addRecommends',
				dataType:"json", 
                contentType:"application/json",
                data:JSON.stringify(advertiseList),
				error:function(){
					$("#lineSubmit").attr("disabled",false);
					alert('服务器忙，请稍后再试！');
				},
				success:function(data){
				
					if(data.status==200){
						 layer.alert('操作成功');
						 disableRecommendModify();
						 $("#lineSubmit").attr("disabled",false);
                    }else{
                   		$("#lineSubmit").attr("disabled",false);
                        layer.alert('操作失败');
                    }
				}
			});
        });
		
		
        $('#travelKaSubmit').click(function(){
           
            var advertiseList = new Array();
        	advertiseList.push(parseTravelKaForm("travelKaTr1"));
        	advertiseList.push(parseTravelKaForm("travelKaTr2"));
        	advertiseList.push(parseTravelKaForm("travelKaTr3"));

            $(this).prop('disabled',true);
            $.ajax({
				type:'post',
				dataType:"json", 
                contentType:"application/json",
                data:JSON.stringify(advertiseList),
				url:'addHomeTravelKa',
				error:function(){
					$("#travelKaSubmit").attr("disabled",false);
					alert('服务器忙，请稍后再试！');
				},
				success:function(data){
				
					if(data.status==200){
						 layer.alert('操作成功');
						 disableTravelKaModify();
						 $("#travelKaSubmit").attr("disabled",false);
                    }
                    else{
                   		$("#travelKaSubmit").attr("disabled",false);
                        layer.alert('操作失败');
                    }
				}
			});
        });

        $('#advertisementSubmit').click(function(){
        	if(!(validateAdvertiseSubmit("leftupTr") && validateAdvertiseSubmit("rightupOneTr") && validateAdvertiseSubmit("rightupTwoTr") && validateAdvertiseSubmit("downOneTr") && validateAdvertiseSubmit("downTwoTr") && validateAdvertiseSubmit("downThreeTr"))){
        		return ;
        	}
        	
			var advertiseList = new Array()
			advertiseList[0] = parseAdvertiseForm("leftupTr",1,'ACTIVITY');
			advertiseList[1] = parseAdvertiseForm("rightupOneTr",2,'ACTIVITY');
			advertiseList[2] = parseAdvertiseForm("rightupTwoTr",3,'ACTIVITY');
			advertiseList[3] = parseAdvertiseForm("downOneTr",4,'ACTIVITY');
			advertiseList[4] = parseAdvertiseForm("downTwoTr",5,'ACTIVITY');
			advertiseList[5] = parseAdvertiseForm("downThreeTr",6,'ACTIVITY');
			
            $(this).prop('disabled',true);
            $.ajax({
                type:'post',
                dataType:"json", 
                contentType:"application/json",
                url:'addAdvertise',
                
                data:JSON.stringify(advertiseList),
                error:function(){
                    $("#advertisementSubmit").attr("disabled",false);
                    alert('服务器忙，请稍后再试！');
                },
                success:function(data){

                    if(data.status==200){
                        layer.alert('操作成功');
                        $("#advertisementSubmit").attr("disabled",false);
                        disableAdvertiseModify();
                    }else{
                        $("#advertisementSubmit").attr("disabled",false);
                        layer.alert('操作失败');
                    }
                }
            });
        });
		
		initUploadImg();
		
		
    });
    
   function initUploadImg(){
   
   		$(".selectImage").each(function(i,item){
			var id = item.id + "File";
			_uploadImg(id);
		})
   }
   
   function parseAdvertiseForm(trId,serialNo,businessCode){
   		var showcaseId = $("#" + trId).find("#showcaseId").val();
   		var title = $("#" + trId).find("#title").val();
		var summary = $("#" + trId).find("#summary").val();
		var imgUrl = $("#" + trId).find("#imgUrl").val();
		var operationContent = $("#" + trId).find("#activityId").val();
		var version = $("#" + trId).find("#version").val();
		var formData = {title:title,showcaseId:showcaseId,title:title,summary:summary,imgUrl:imgUrl,operationContent: operationContent,serialNo:serialNo,businessCode:businessCode,version:version};
		
		return formData;
   }
   
   function parseTravelKaForm(trId){
   		var showcaseId = $("#" + trId).find("#showcaseId").val();
   		var title = $("#" + trId).find("#title").val();
		var summary = $("#" + trId).find("#summary").val();
		var imgUrl = $("#" + trId).find("#imgUrl").val();
		var operationContent = $("#" + trId).find("#operationContent").val();
		var version = $("#" + trId).find("#version").val();
		var businessCode = $("#" + trId).find("#businessCode").val();
		var formData = {showcaseId:showcaseId,title:title,summary:summary,imgUrl:imgUrl,operationContent: operationContent,version:version,businessCode:businessCode };
		
		return formData;
   }
    
  function _uploadImg(id){
 	 $(document).delegate('#logoUrlUploadFile','change',function(){
            fileUpload('#logoUrlUploadFile',1,function(data){
                if(data && data.status==200){
                    $('#logoUrlUploadFileReturnInput').val(data.data);
                    $('#logoUrlUploadFileReturnImg').attr('src',tfsRootPath + data.data);
                }else{
                    layer.alert('上传失败');
                }
            });
        });
  	
	 $(document).delegate('#'+id,'change',function(){
	 		fileUpload('#' + id,1,function (data,status){
	 			if(data && data.status==200){
                       var tfsPath = '$utilWebconfig.getTfsRootPath()';
					   $('#'+id).parent().next().find("img").attr("src",tfsPath + data.data)
                       $('#'+id).parent().find("#imgUrl").val(data.data);
                    }else{
                        layer.alert('上传失败');
                    }
	 		} );

	 		/**	
            $.ajaxFileUpload({
                url: '/upload/file', //用于文件上传的服务器端请求地址
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: id, //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data,status)  //服务器成功响应处理函数
                {
                    if(data && data.status==200){
                    	
                        var tfsPath = '$utilWebconfig.getTfsRootPath()';
						$('#'+id).parent().next().find("img").attr("src",tfsPath + data.data)
                       $('#'+id).parent().find("#imgUrl").val(data.data);
                       //$('#imgUploadUrl'+id).attr('src',tfsPath + data.data);

                    }else{
                        layer.alert('上传失败');
                    }
                },
                error: function (data)//服务器响应失败处理函数
                {
                    layer.alert('服务器异常');
                }
            });
            */   
        });
}
</script>