#set($layout = "/layout/layout-apply.vm")
<head>
#parse("layout/layout-meta.vm")
<title>签署协议</title>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/agreement.css">
</head>

	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">4</div>
					<label class="step3">签署协议</label>
				</div>
				<div class="step step-fr ya step-on">
					<div class="step3">5</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		  <!-- 协议板块 -->
               <div class="line-bottom"></div>
               <div class="">
                   <h3>九休开放平台旅行社管理规定</h3>
                   <p></p>
               </div>
               <div class="settled"><a href="$!root_path/apply/seller/toDetailPageB">上一页</a><a href="$!root_path/apply/seller/toVerifyPage">同意协议并下一步</a></div>
               <div class="line-bottom"></div>
	</div>
	

	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>	

