#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("/layout/layout-meta.vm")
	#parse("layout/layout-hidden.vm")
<title>商家入驻</title>

<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/enter.css">
</head>

	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr">
					<div class="step3">4</div>
					<label class="step3">等待审核</label>
				</div>
				<div class="step step-fr ya">
					<div class="step3">5</div>
					<label class="step3">签署协议</label>
				</div>
			</div>
		</div>
		  <!-- 入驻模式板块 -->
               <div class="main-mode inner-c">
                  
                    <div class="mode-tab">
                        <div class="mode-tab-nav">
                            <ul class="clearfix">
                                <li class="current fl">
                                    <div class="nav-top"><span class="icon icon1"></span></div>
                                    <div class="nav-bom">旅游企业</div>
                                </li>
                                <li class="fl">
                                    <div class="nav-top"><span class="icon icon2"></span></div>
                                    <div class="nav-bom">景区</div>
                                </li>
                                <li class="fl">
                                    <div class="nav-top"><span class="icon icon3"></span></div>
                                    <div class="nav-bom">酒店</div>
                                </li>
                                 <li class="fl ">
                                    <div class="nav-top"><span class="icon icon4"></span></div>
                                    <div class="nav-bom">同城活动企业</div>
                                </li>
                                <li class="fl last la " id="shazi">
                                    <div class="nav-top"><span class="icon icon5"></span></div>
                                    <div class="nav-bom" >旅游线路达人</div>
                                </li>
                            </ul>
                        </div>
                        <div class="mode-info info">
                            <ul class="clearfix">
                                <li class="fl">
                                    <h4 class="info-title"><span class="icon_line"></span>资质说明</h4>

                                    <p class="info-text m-bottom60">
                                        具备一定行业影响力、经营规模、获得国家/政府奖励认证、品牌认知度高、用户口碑好的等类型的卖家，可以经九休开放平台邀请入驻，开设旗舰店。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>店铺权益</h4>

                                    <p class="info-text">
                                        1、可发布商品数量2000个
                                    </p>

                                    <p class="info-text">
                                        2、可享受平台通用服务权益
                                    </p>

                                    <p class="info-text">
                                        3、品牌展示专区
                                    </p>

                                    <p class="info-text">
                                        4、限时免费显示以下服务：
                                        <span class="info-text">代办开店申请</span>
                                        <span class="info-text">后台管理培训</span>
                                        <span class="info-text">授权九休店铺托管</span>
                                        <span class="info-text">商家运营培训</span>
                                        <span class="info-text">营销管理培训</span>
                                        <span class="info-text">运营数据分析报告</span>
                                        <span class="info-text">行业沙龙优先邀请</span>
                                    </p>

                                </li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>资质说明</h4>

                                    <p class="info-text m-bottom60">
                                        具有法人资质
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>店铺权益</h4>

                                    <p class="info-text">
                                        1、可发布商品数量上限1000个
                                    </p>

                                    <p class="info-text">
                                        2、可享受平台通用服务权益
                                    </p>

                                    <p class="info-text">
                                        3、限时免费享受以下服务：
                                        <span class="info-text">代办开店申请</span>
                                        <span class="info-text">商家上下架管理</span>
                                        <span class="info-text">后台管理培训</span>
                                        <span class="info-text">授权九休店铺托管</span>
                                        <span class="info-text">商家运营培训</span>
                                        <span class="info-text">营销管理培训</span>
                                        <span class="info-text">运营数据分析报告</span>

                                    </p></li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>资质说明</h4>

                                    <p class="info-text m-bottom60">
                                        个体、个体工商户、门市、部门
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>店铺权益</h4>

                                    <p class="info-text">
                                        1、可发布商品数量上限1000个
                                    </p>

                                    <p class="info-text">
                                        2、可享受平台通用服务权益
                                    </p>

                                    <p class="info-text">
                                        3、限时免费享受以下服务：
                                        <span class="info-text">代办开店申请</span>
                                        <span class="info-text">商家上下架管理</span>
                                        <span class="info-text">后台管理培训</span>
                                        <span class="info-text">商家运营培训</span>
                                        <span class="info-text">营销管理培训</span>
                                        <span class="info-text">运营数据分析报告</span>

                                    </p>
                                    </li>
                                    <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>同城活动企业类型</h4>

                                    <p class="info-text m-bottom60">
                                       邀请商家入驻九休旅行平台发布休闲活动、艺术体验、课程培训、俱乐部等各类同城玩乐活动。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>

                                    <p class="info-text ">
                                        申请成为直营店所需资质文件须按照如下规定提供九休开放平台审核，所有文件需加盖公章：
                                    </p>                                  
                                    <p class="info-text">
                                       （ 1）营业执照（正、副本） 复印件;<br/>
                                       （ 2） 税务登记证（正、副本） 复印件;<br/>
                                       （ 3） 组织机构代码证（正、副本）复印件;<br/>
                                       （ 4） 银行账户信息;<br/>
                                       （ 5） 法定代表人及实际控制人身份证（正、 反面）复印件;<br/>
                                       （ 6）授权委托书（非必要）;<br/>
                                       （ 7）其他九休开放平台认为需要审核的材料文件。
                                    </p>
                                    <p class="info-text s-bottom60">
                                        申请成为专营店所需资质文件须按照如下规定提供九休开放平台审核，所有文件需加盖公章：
                                    </p>
                                     <p class="info-text">
                                       （ 1） 银行账户信息;<br/>
                                       （ 2） 负责人身份证（正、 反面） 复印件;<br/>
                                       （ 3） 营业执照及相关政府主管部门出具的经营资质证书;<br/>
                                       （ 4） 其他可以证明其具备专业资质的材料，包括但不限于;<br/>
                                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspa . 相关专业性证明(如场地、工具、设备， 其他专业人士认可、 业内认可书函;<br/>
                                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspb. 媒体报道简报(如平面媒体、网络媒体、电视) ;<br/>
                                          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspc. 影视痕迹材料（申请人应当对此进行编辑、展示核心内容）;<br/>
                                       （ 5） 授权委托书（非必要）;<br/>
                                       （ 6）其他九休开放平台认为需要审核的材料文件。
                                    </p>
                                </li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>资质说明cvdsvsvbdfbdnbfdnb</h4>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="line-bottom"></div>
               <div class="settled"><a id="Settled" href="javascript:void(0);" >立即入驻</a></div>
	</div>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>
	
	
