#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("/layout/layout-meta.vm")
<title>商家入驻</title>

<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/enter.css">
</head>

	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr">
					<div class="step3">4</div>
					<label class="step3">签署协议</label>
				</div>
				<div class="step step-fr ya">
					<div class="step3">5</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		  <!-- 入驻模式板块 -->
               <div class="main-mode inner-c">
                  
                    <div class="mode-tab">
                        <div class="mode-tab-nav">
                            <ul class="clearfix">
                                <li class="current fl">
                                    <div class="nav-top"><span class="icon icon1"></span></div>
                                    <div class="nav-bom">旅游企业</div>
                                </li>
                                <li class="fl">
                                    <div class="nav-top"><span class="icon icon2"></span></div>
                                    <div class="nav-bom">景区</div>
                                </li>
                                <li class="fl">
                                    <div class="nav-top"><span class="icon icon3"></span></div>
                                    <div class="nav-bom">酒店</div>
                                </li>
                                 <li class="fl ">
                                    <div class="nav-top"><span class="icon icon4"></span></div>
                                    <div class="nav-bom">同城活动企业</div>
                                </li>
                                <li class="fl last la " id="shazi">
                                    <div class="nav-top"><span class="icon icon5"></span></div>
                                    <div class="nav-bom" >旅游线路达人</div>
                                </li>
                            </ul>
                        </div>
                        <div class="mode-info info">
                            <ul class="clearfix">
                                 <li class="fl">
                                    <h4 class="info-title"><span class="icon_line"></span>旅游企业商家类型</h4>

                                    <p class="info-text m-bottom60">
                                        旅游企业指旅行社、旅游咨询企业等旅游服务类公司。营业执照经营范围须包含下列相关内容中的一项：旅游服务，旅游观光，休闲度假，签证申办、入境旅游业务，国内旅游业务，出境旅游业务及相关内容。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>
                                    <p class="small-title">主要需提供如下资质文件：</p>
                                    <p class="info-text">
                                        （1）营业执照副本复印件（需完成有效年检且营业执照经营范围需包含所售商品，是副本不是正本）;
                                    </p>

                                    <p class="info-text">
                                        （2）企业税务登记证复印件（国税、地税均可）;
                                    </p>

                                    <p class="info-text">
                                       （3）组织机构代码证复印件；
                                    </p>

                                    <p class="info-text">
                                       （4）开户许可证复印件（非必要，根据实际情况提交）;
                                    </p>
                                    <p class="info-text">
                                       （5）旅行社责任险保险单复印件;
                                    </p>
                                    <p class="info-text">
                                       （6）旅行社业务经营许可证复印件;
                                    </p>
                                    <p class="info-text">
                                       （7）联系人（或经办人）身份证正反复印件;
                                    </p>
                                    <p class="info-text">
                                       （8）邮轮/游船公司需提供《水路运输许可证》;
                                    </p>
                                    <p class="info-text">
                                       （9）其他九休开放平台认为需要审核的材料文件。
                                    </p>
                                    <p class="small-title">
                                       旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。
                                    </p>

                                </li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>景区商家类型</h4>

                                    <p class="info-text m-bottom60">
                                        景区商家面向景点景区、主题乐园、门票代理、景区集团、旅游局推广商家等旅游类公司招商。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>
                                     <p class="small-title">主要需提供如下资质文件：</p>                   
                                    <p class="info-text">
                                        （1） 企业营业执照副本复印件;
                                    </p>

                                    <p class="info-text">
                                        （2） 企业税务登记证复印件（国税、地税均可）;
                                    </p>

                                    <p class="info-text">
                                       （3）组织机构代码证复印件;
                                    </p>
                                    <p class="info-text">
                                       （4）开户许可证复印件;
                                    </p>
                                    <p class="info-text">
                                       （5）联系人身份证;
                                    </p>
                                    <p class="info-text">
                                       （6）其他行业特许资质和要求;
                                    </p>
                                    <p class="small-title">
                                       旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。
                                    </p>
                                </li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>酒店商家类型</h4>

                                    <p class="info-text m-bottom60">
                                        酒店面向经营范围含有电子商务、商务、订房、旅游、咨询、会展、会务、会议服务、酒店管理等项目的单体酒店、酒店集团、经济连锁酒店等酒店资源方、客栈公寓资源方以及订房中心，代订房业务的商家招商。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>
                                     <p class="small-title">主要需提供如下资质文件：</p>
                                    <p class="info-text">
                                       （1）营业执照副本复印件;
                                    </p>

                                    <p class="info-text">
                                       （2） 企业税务登记证复印件（国税、地税均可）;
                                    </p>

                                    <p class="info-text">
                                     （3）组织机构代码证复印件;
                                    </p>
                                    <p class="info-text">
                                     （4）联系人身份证复印件;
                                    </p>
                                    <p class="info-text">
                                     （5）其他行业特许资质和要求;
                                    </p>
                                    <p class="small-title">
                                     旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。
                                    </p>
                                 </li>
                                <li class="fl" style="display: none">
                                    <h4 class="info-title"><span class="icon_line"></span>同城活动企业类型</h4>

                                    <p class="info-text m-bottom60">
                                       邀请商家入驻九休旅行平台发布休闲活动、艺术体验、课程培训、俱乐部等各类同城玩乐活动。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>

                                    <p class="small-title">主要需提供如下资质文件：</p>                                  
                                    <p class="info-text">
                                       （1）营业执照副本复印件;
                                    </p>
                                    <p class="info-text">
                                       （2）企业税务登记证复印件（国税、地税均可）;
                                    </p>
                                    <p class="info-text">
                                       （3）组织机构代码证复印件;
                                    </p>
                                    <p class="info-text">
                                       （4）授权委托书;
                                    </p>
                                    <p class="info-text">
                                       （5）其他九休开放平台认为需要审核的材料文件;
                                    </p>
                                    <p class="small-title">
                                       旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。
                                    </p>
                                    
                                </li>
                                <li class="fl" style="display: none">
                                     <h4 class="info-title"><span class="icon_line"></span>旅游线路达人</h4>

                                    <p class="info-text m-bottom60">
                                        九休旅行平台邀请年满十八周岁的个人，有一项或多项专项技能，入驻成为达人。。
                                    </p>
                                    <h4 class="info-title"><span class="icon_line"></span>入驻申请资质</h4>
                                     <p class="small-title">主要需提供如下资质文件：</p>
                                    <p class="info-text">
                                       （1）营业执照副本复印件（需完成有效年检且营业执照经营范围需包含所售商品，是副本不是正本）;
                                    </p>

                                    <p class="info-text">
                                       （2）企业税务登记证复印件（国税、地税均可）;
                                    </p>

                                    <p class="info-text">
                                      （3）组织机构代码证复印件;
                                    </p>
                                    <p class="info-text">
                                     （4）开户许可证复印件（非必要，根据实际情况提交）;
                                    </p>
                                    <p class="info-text">
                                     （5）旅行社责任险保险单复印件;
                                    </p>
                                    <p class="info-text">
                                     （6）旅行社业务经营许可证复印件;
                                    </p>
                                    <p class="info-text">
                                     （7）法定代表人身份证正反复印件;
                                    </p>
                                    <p class="info-text">
                                     （8）联系人（或经办人）身份证正反复印件;
                                    </p>
                                    <p class="info-text">
                                    （9）其他九休开放平台认为需要审核的材料文件。
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
               <div class="line-bottom"></div>
               <div class="settled"><a id="Settled" href="$!root_path/apply/seller/toDetailPage" >立即入驻</a></div>
	</div>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>
	
	
