#set($layout = "/layout/layout-apply.vm")
<head>
#parse("layout/layout-meta.vm")
<title>签署协议</title>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/agreement.css">
</head>
	
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">4</div>
					<label class="step3">签署协议</label>
				</div>
				<div class="step step-fr ya ">
					<div class="step3">5</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		  <!-- 协议板块 -->
               <div class="line-bottom"></div>
               <div class="big-title">九休开放平台酒店管理规定</div>
               <div class="rule-content">
                   <h3>第一条 总则</h3>
		               <p>1.1根据《九休开放平台总则》的规定制定本管理规定。</p>
		               <p>1.2九休开放平台是由北京九休信息科技有限公司负责运营管理的互联网第三方交易平台。</p>
		               <p>1.3九休开放平台系居间人，九休开放平台酒店类卖家（以下称：酒店或卖家）系委托人。酒店委托九休开放平台作为居间人为其提供订立合同的居间服务。酒店与其客户（买家）是合同的双方当事人，九休开放平台仅作为居间人为酒店提供订立合同的媒介服务。</p>
					<h3>第二条 申请成为九休开放平台酒店类卖家</h3>
						<p>2.1酒店店铺分为直营店、专营店、旗舰店三种。</p>
						<p>2.2申请成为直营店所需资质须按照如下规定提供材料供九休开放平台审核：</p>
						    <p>2.2.1 若卖家为单体酒店，所需资质文件如下，所有文件需加盖公章：</p>
						    <p>
						    （1）营业执照副本复印件；<br/>
						    （2）税务登记证复印件；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）企业银行账户信息；<br/>
						    （5）联系人（或经办人）身份证正反面复印件；<br/>
						    （6）特种经营许可证副本复印件（包括不限于消防和安全检查等内页）；<br/>
						    （7）其他九休开放平台认为需要审核的材料文件。						  
						    </p>
						<p>2.2.2若卖家为酒店集团，所需资质文件如下，所有文件需加盖公章：</p>
						    <p>
						    （1）营业执照副本复印件；<br/>
						    （2）税务登记证复印件；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）企业银行账户信息；<br/>
						    （5）卖家出具说明酒店与集团的所属关系；<br/>
						    （6）特种经营许可证副本复印件（包括不限于消防和安全检查等内页）；<br/>
						    （7）联系人（或经办人）身份证正反面复印件<br/>
						    （8）其他九休开放平台认为需要审核的材料文件。<br/>
						    	
						    备注：第（5）项与第（6）项只需要提供总部下属的一家酒店的相关证件即可 。
						    </p>
						<p>2.2.3 若卖家为酒店代理商或商务服务公司，所需资质文件如下，所有文件需加盖公章：</p>    
							<p>
								（1）营业执照副本复印件；<br/>
								（2）税务登记证复印件；<br/>
								（3）组织机构代码证复印件；<br/>
								（4）企业银行账户信息<br/>
								（5）联系人（或经办人）身份证正反面复印件；<br/>
								（6）酒店商品授权书；<br/>
								（7）其他九休开放平台认为需要审核的材料文件。<br/>
							</p>
							
						<p>2.3 申请成为专营店所需资质须按照如下规定提供材料供九休开放平台审核：</p>
						    <p>
						    （1）企业营业执照副本复印件（如有组织机构代码证一并提交）；<br/>
						    （2）企业税务登记证复印件（国税、地税均可）；<br/>
						    （3）企业或个人银行账户信息<br/>
						    （4）联系人（或经办人）身份证正反面复印件；<br/>
						    （5）特种经营许可证副本复印件（非必填）（包括不于消防和安全检查等内页）。<br/>
						    （6）其他九休开放平台认为需要审核的材料文件。
						    </p>
						<p>2.4旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。</p>  
						
						<h3>第三条 保证金</h3>
						<p>3.1酒店应向九休开放平台支付保证金。</p> 
						<p>3.2保证金用于保证酒店的商品质量和服务质量，确保酒店店铺运营规范。当酒店发生侵权、违约、违规行为时，九休开放平台有权依照本规定及《九休开放平台总则》的规定扣除相应的保证金作为违约金或给予消费者赔偿。</p> 
						<p>3.3若酒店保证金不足的，酒店应当补足，否则九休开放平台有权关闭酒店“九休开放平台”店铺直至酒店补足保证金之日。</p> 
						<h3>第四条 费用</h3>
						<p>酒店应当自行承担因第三方支付平台支付银行资金往来产生的财务费用。</p>
						<h3>第五条免责</h3>
						<p>5.1酒店理解并同意，酒店与买家是酒店客房服务合同的双方当事人，九休开放平台仅作为居间人为酒店提供订立合同的媒介服务。若酒店与买家在履行酒店客房服务合同的过程中发生纠纷的，或买家在享受客房服务过程中遭受人身财产损失的，与九休开放平台无涉。若九休开放平台依照“九休开放平台”相关规则对买家先行赔付的，对于九休开放平台代为赔付部分，酒店应负责赔偿。</p>
						<p>5.2合作期间，酒店应保证其提供服务的经营场所应具有合法经营资质及符合国家法律法规标准的消防安全设施，若因酒店原因引起的任何纠纷、投诉或政府部门查处（包括但不限于资质、宣传不实等），酒店应承担一切责任并及时妥善解决，如造成九休开放平台损失，九休开放平台有权要求酒店赔偿由此造成的直接或间接损失，并有权终止对酒店的服务并关闭其店铺，因此造成的损失由酒店自行承担。</p>
						<p>5.3酒店须保证在“九休开放平台”销售的房间类型、价格等信息的真实、准确、有效，不存在侵犯任何第三方合法权益的行为。若前述信息发生变更的，酒店应及时给予更新，否则由此导致的后果由酒店自行承担。</p>
						<p>5.4订单确认后，酒店应按照订单信息提供酒店客房服务。如经酒店确认有房的订单或预留房范围内的订单客户到店，酒店无房提供，则酒店应直接给予客房免费升级，或将买家安排到其它酒店星级、服务质量相同（或更高级别）的酒店，并承担买家所入住酒店的首晚房费及其他相关费用（包括但不限于交通费、通讯费等）。如买家不接受上述安排，则由此给九休开放平台造成的损失，酒店应负责赔偿。同时，酒店应向买家如实说明不能兑现预订的具体原因。此外，酒店应将上述情况及时通知九休开放平台。如果酒店一个季度内出现三次上述情况，九休开放平台有权终止对酒店的服务并关闭其店铺，因此造成的损失由酒店自行承担。</p>
						<p>5.5禁止切客：酒店不得以给予低价、赠送礼品、享受差别待遇等方式诱导买家取消在“九休开放平台”的预订，使买家成为酒店会员或以酒店/第三方名义直接入住。如酒店存在上述情形，则九休开放平台有权立即暂停或终止与酒店的合作并关闭其店铺，酒店应赔偿九休开放平台因此造成的一切直接或间接损失。</p>
						<p>
							5.6若卖家系代理商，则合作期间代理商应保证其取得的酒店权利人关于销售客房服务的合法授权一直有效。若代理商取得的授权存在瑕疵，代理商应承担一切责任并及时妥善解决，如造成九休开放平台损失，则九休开放平台有权立即暂停或终止与卖家的合作并关闭其店铺，卖家应立即赔偿九休开放平台因此造成的一切直接或间接损失。
						</p>
						<p>
							5.7卖家了解并同意，九休开放平台及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对卖家提交的证据材料进行鉴别，九休开放平台及其关联公司对交易纠纷的调处完全是基于卖家的委托，九休开放平台及其关联公司无法保证交易纠纷处理结果符合卖家的期望，也不对交易纠纷调处结果及保证金赔付决定承担任何责任。
						</p>
						<h3>第六条 赔付标准</h3>
						<p>6.1因卖家的原因导致买家无法正常入住，赔付标准如下表：</p>
						<p>
							<table>
								<thead>
									<tr>
										<td>场景</td>
										<td>情节细分</td>
										<td>赔付标准</td>
										<td>补充说明</td>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td rowspan="2">买家无法联系到卖家</td>
										<td>入住当天14点前（1小时无回复）</td>
										<td >卖家赔付买家首晚房费30%</td>
										<td rowspan="2">有效联系方式：电话、短信、微信、QQ（电话为必填项）</td>
									</tr>
									<tr>
									
										<td>入住当天14点前（2小时无回复）</td>
										<td>卖家赔付买家首晚房费100%</td>
									
									</tr>
									<tr>
									
										<td rowspan="3">卖家/酒店要求加价，原单无法确认</td>
										<td >订单确认前通知</td>
										<td>不赔付</td>
										<td>退款率考核</td>
									</tr>
									<tr>
										
										<td>订单确认后，入住前一天之前通知</td>
										<td>需按原价确认，否则卖家赔付买家首晚房费30%</td>
										<td></td>
									</tr>
									<tr>
										
										<td>订单确认后，入住当天通知</td>
										<td>需按原价确认，否则卖家赔付买家首晚房费100%</td>
										<td></td>
									</tr>
									<tr>
									    <td rowspan="3">酒店无房，卖家协调买家更换酒店/房型入住</td>
										<td >协调入住标准符合预订标准：2公里内同星级、同房型</td>
										<td>不赔付，如有交通费用产生，卖家承担，首晚房费封顶</td>
										<td >卖家需提供协调好的酒店确认函作为凭证</td>
										
									</tr>
									<tr>
										<td>协调入住高于预定标准</td>
									
										<td>卖家承担差价部分，首晚房费封顶</td>
										<td>卖家需提供协调好的酒店确认函作为凭证</td>
									
									</tr>
									<tr>
										<td>协调入住标准低于预订标准</td>
										
										<td>不赔付，但须退房差价</td>
										<td>差价金额=原订单金额-现入住订单金额</td>
										
									</tr>
									<tr>
										<td>酒店无房，卖家拒不协调买家入住</td>
										<td>入住日期14点前申请赔付</td>
										<td>赔付首晚30%+预定其他金额差价，封顶首晚</td>
										<td>差价：买家自行安排入住的酒店金额-原订单的金额</td>
										
									</tr>
								</tbody>
							</table>
						</p>
						<p>6.2九休开放平台对于卖家的赔付规则有监督执行的权利，若买家和卖家对赔付标准和说明有纠纷且无法达成一致时，可向九休申请调解，调解原则参见《九休开放平台总则》第七章。卖家与买家之间发生的任何纠纷经九休开放平台调解未果的，卖家与买家均有权采取法律途径解决纠纷。</p>
						
						<h3>第七条 其他</h3>
						<p class="pt_zz">7.1因注册时酒店须点击同意九休开放平台制定的<span><a href="javascript:;">《九休开放平台总则》</a>、<a href="javascript:;">《九休开放平台酒店管理规定》</a>、<a href="javascript:;">《九休开放平台达人管理规定》</a>、<a href="javascript:;">《九休开放平台同城玩乐管理规定》</a>、<a href="javascript:;">《九休开放平台景区管理规定》</a>、<a href="javascript:;">《九休开放平台旅行社管理规定》</a>、<a href="javascript:;">《九休开放平台评价规则》</a>、<a href="javascript:;">《九休开放平台卖家积分管理规则》</a></span>
						方能完成注册，酒店须充分阅读并理解前述规定的内容。酒店注册成功后，视为酒店无条件同意前述规定的内容。</p>
						<p>7.2九休开放平台对《九休开放平台总则》、本规定及包括基于本规定制定的各项规则拥有最终解释权。</p>
						<p>7.3酒店注册成功后，则《九休开放平台总则》、本规定及包括基于本规定制定的各项规则对酒店与九休开放平台具有法律约束力，双方均应严格遵照执行。</p>
						<p>7.4若酒店与九休开放平台在合作过程中产生纠纷的，应友好协商解决，协商不成任何一方均有权向九休开放平台所在地人民法院提起诉讼。</p>
               </div>
               <div class="line-bottom lig"></div>
                <div class="settled"><a href="$!root_path/apply/seller/toDetailPageB">上一页</a><a href="$!root_path/apply/seller/toVerifyPage">同意协议并下一步</a></div>
               
	</div>
	
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>	


