#set($layout = "/layout/blank.vm")
#foreach($pic in $qualifications)
	<div class="zfd">
		#if($pic.required == 1)<label class="bred">*</label>#end<label>$!{pic.title}：</label>
		
		<span class="imgbox allownull">
			<div class="canclick">
				
				#if($!pic.content)
				
				<img src="$!tfs/$!pic.content">
				#else
				 <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
				
				#end
			</div><div class="plhd"></div><div class="del">删除图片</div>
			<a class='upldclik'><input type="file" name="adpicfile" class="adpicfile single"></a>
			<input type="hidden" name="qualificationId" value="$!{pic.id}">
			<input type="hidden" name="content" value="$!pic.content">
		</span>
		#if($!pic.tip && $!pic.tip.length()>0)<div><label class="bred">*</label><label class="gray9">$!{pic.tip}</label></div>#end
	</div>
	
#end
</div>