#set($layout = "/layout/layout-apply.vm")
<head>
#parse("layout/layout-meta.vm")
<title>签署协议</title>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/agreement.css">
</head>
	
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">4</div>
					<label class="step3">签署协议</label>
				</div>
				<div class="step step-fr ya ">
					<div class="step3">5</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		  <!-- 协议板块 -->
               <div class="line-bottom"></div>
               <div class="big-title">九休开放平台景区管理规定</div>
               <div class="rule-content">
                   <h3>第一条 总则</h3>
		               <p>1.1根据《九休开放平台总则》的规定制定本管理规定。</p>
		               <p>1.2九休开放平台是由北京九休信息科技有限公司负责运营管理的互联网第三方交易平台。</p>
		               <p>1.3九休开放平台系居间人，九休开放平台景区类卖家（以下称：景区或卖家）系委托人。卖家委托九休开放平台作为居间人为其提供订立合同的居间服务。卖家与其客户（买家）是合同的双方当事人，九休开放平台仅作为居间人为卖家提供订立合同的媒介服务。</p>
					<h3>第二条 申请成为九休开放平台景区类卖家</h3>
						<p>2.1景区 店铺 分为 旗舰店 、直营店 。</p>
						<p>2.2申请成为 直营店 所需资质 按照如下规定执行 ：</p>
						<p>2.2.1若卖家 为景区集团，需提供以下资质 文件 ，所有 文件 需加盖公章 ：</p>
						    <p>
						    （1）营业执照副本复印件；<br/>
						    （2）企业税务登记证复印件（国税、地税均可）；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）银行开户许可证复印件；<br/>
						    （5）法定代表人身份证正反面复印件；<br/>
						    （6）联系人（或经办）身份证正反面复印件；<br/>
						    （7）下属景区质量等级证书；<br/>
						    （8）景区商品授权书；<br/>
						    （9）至少提供下列资料中的任一份：<br/>
						    a 正规景区门票反面扫描件（尽可能提交盖有当地税局监制章的）;<br/>
						    b 景区门票价格在物局的备案登记证明。<br/>
						    C经营游乐园的，需提供至少 经营游乐园的，需提供至少 5份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和最新的定期检测报告， 九休开放平台 可根据不同 店铺 的经营性质要求 卖家 提供对 应的相关资质，包括但不限于水族馆 应的相关资质，包括但不限于水族馆 /海洋世界提供水生野动物经营利用许可证、 动物园提供野生经营利用许可证。<br/>
						    （10）其他 九休开放平台 认为需要审核的材料文件 。
						    </p>
						<p>2.2.2若卖家 为景区经营方需提供以下资质 文件 ，所有 文件 需加盖公章 ：</p>
						    <p>
						    （1）营业执照副本复印件（需完成有效年检且营业执照经营范围需包含所售商品，是副本不是正本）；<br/>
						    （2）企业税务登记证复印件（国税、地税均可）；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）银行开户许可证复印件；<br/>
						    （5）法定代表人身份证正反面复印件；<br/>
						    （6）联系人（或经办）身份证正反面复印件；<br/>
						    （7）景区质量等级评定委员会出具的旅游证书 （非必要） 。<br/>
						    （8）至少提供下列资料中的 1份：<br/>
						    	a 正规景区门票反面扫描件（尽可能提交盖有当地税局监制章的）；<br/>
						    	b 景区门票价格在物局的备案登记证明。<br/>
						    	C经营游乐园的，需提供至少 经营游乐园的，需提供至少 5份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和份游乐特种设备 （案）登记证明和最新的定期检测报告， 九休开放平台 可根据不同 店铺 的经营性质要求 卖家 提供对 应的相关资质，包括但不限于水族馆 应的相关资质，包括但不限于水族馆 /海洋世界提供水生野动物经营利用许可证、 动物园提供野生经营利用许可证。<br/>
						    （9）其他 九休开放平台 认为需要审核的材料文件 。
						    </p>
						<p>2.2.3 若卖家 经营旅游局推广店铺，需提供 经营旅游局推广店铺，需提供 以下资质 文件 ，所有 ，所有 文件 需加盖公 章：</p>    
							<p>
								（1）企业营执照副本复印件；<br/>
								（2）企业税务登记证复印件（国、地均可）；<br/>
								（3） 组织机构代码证复印件；<br/>
								（4） 银行开户许可证复印件；<br/>
								（5） 法定代表人身份证正反面复印件；<br/>
								（6） 联系人（或经办）身份证正反面复印件；<br/>
								（7） 《旅游局特许经营授权书》 ；<br/>
								（8） 其他九休开放平台认为需要审核的材料文件。
							</p>
							<p>2.2.4 若卖家为景区门票代理商，需要提供以下资质 文件，所有需加盖 公章：</p>  
								<p>
								（1） 企业营执照副本复印件<br/>
								（2） 企业税务登记证复印件（国、地均可）；<br/>
								（3） 组织机构代码证复印件；<br/>
								（4） 银行开户许可证复印件；<br/>
								（5） 法定代表人身份证正反面复印件；<br/>
								（6） 联系人（或经办人）身份证正反面复印件；<br/>
								（7） 至少三个景点门票有效的授权书或合作协议，九休在后续抽检中要求卖家提供剩余景点门票的有效授权书或合作协议，需按九休要求提供。<br/>
								（8） 其他九休开放平台认为需要审核的材料文件。
							</p>
							<p>2.3 旗舰店暂不接受卖家主动申请开，经平台邀方可。</p> 
						<h3>第三条 买家预定流程</h3>
						<p>3.1支付方式： 在线支付（预付）-买家通过网络预订门票，并在九休开放平台支付票款。</p> 
						<p>3.2使用方式： 买家 在九休开放平台成功 购买门票 后，卖家 有义务保证 买家 入 园。</p> 
						<p>3.3双方合作终止后，对于在合作期间已经购票但尚未消费的买家，卖家应继续提供服务。</p> 
						<h3>第四条 保证金</h3>
						<p>4.1卖家 应向九休开放平台 支付保证金</p>
						<p>4.2保证 金用于卖家 的商品质量和服务，确保 的商品质量和服务，确保 景区 店铺运营规范。当 店铺运营规范。当 卖家 发生侵权、违约规行为时， 九休开放平台 有权依照 本规定 及《九休开放 平台 总则 》的规定 扣除相应的保证金作为违约或给予消费者 赔偿。</p>
						<p>4.3若卖家 保证金不足的， 卖家 应当于补足，否则 应当于补足，否则 应当于补足，否则 九休开放平台 有权关闭 卖家 “九休开放平台”店铺直至 卖家 补足保证金之日</p>
						<h3>第五条费用</h3>
						<p>卖家 应当自行承担因第三方支付平台银资金往来产生的财务费用，与 九休开放平台无涉。</p>
						
						<h3>第六条 免责</h3>
						<p>6.1卖家理解并同意，卖家与其游客是景区游览合同的双方当事人，九休开放平台仅作为居间人为卖家提供订立合同的媒介服务。若卖家与游客在履行景区游览合同的过程中发生纠纷的，与九休开放平台无涉。</p>

						<p>6.2合作期间，卖家应保证其提供服务的经营场所应具有合法经营资质及符合国家法律法规标准的消防安全设施，若因卖家原因引起的任何纠纷、投诉或政府部门查处（包括但不限于资质、宣传不实等），卖家应承担一切责任并及时妥善解决，如造成九休开放平台损失，九休开放平台有权要求卖家赔偿由此造成的直接或间接损失，并有权终止对卖家的服务并关闭其店铺，因此造成的损失由卖家自行承担。</p>
						<p>6.3卖家须保证其产品信息的真实、准确、有效，不存在侵犯任何第三方合法权益的行为。若前述信息发生变更的，卖家应及时给予更新，否则由此导致的后果由卖家自行承担。</p>
						<p>6.4卖家了解并同意，九休开放平台及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对卖家提交的证据材料进行鉴别，九休开放平台及其关联公司对交易纠纷的调处完全是基于卖家的委托，九休开放平台及其关联公司无法保证交易纠纷处理结果符合卖家的期望，也不对交易纠纷调处结果及保证金赔付决定承担任何责任。</p>
						
						<h3>第七条 赔付标准</h3>
						<p>7.1因卖家原因导致买家无法按订单约定内容出游，即已生效订单发生变更或取消时，在买家提供有效凭证后，参照《九休开放平台旅行社管理规定》已生效订单发生变更或取消的标准进行赔付。</p>
						<p>7.2买家预订门票并支付成功后，若卖家没有按照订单价出票，卖家须额外赔付买家订单交易金额的30%，每笔订单500元封顶。实景演出、交通餐饮、门票组合套票，以及相关门票有座位限制的特殊商品，需卖家确认后才保障此服务。</p>
						<p>7.3因卖家原因导致买家无法按照订单约定内容正常入园的，买家可在景区购买市价票入园，且卖家须额外赔付买家订单交易金额的30%，每笔订单500元封顶。</p>
						<p>7.4因买家原因需退改已生效门票订单，赔付标准以每个商品详情页面上说明的退改规则为准，卖家须在商品详情页面上对相应退改规则和赔付标准进行详细说明。</p>
						<p>7.5九休开放平台对于卖家的赔付规则有监督执行的权利，若买家和卖家对赔付标准和说明有纠纷且无法达成一致时，可向九休申请调解，调解原则参见《九休开放平台总则》第七章。卖家与买家之间发生的任何纠纷经九休开放平台调解未果的，卖家与买家均有权采取法律途径解决纠纷。</p>
						<h3>第八条 其他</h3>
						<p class="pt_zz">8.1因注册时卖家须点击同意九休开放平台制定的<span><a href="$!root_path/apply/download?fileType=1">《九休开放平台总则》</a>、<a href="$!root_path/apply/download?fileType=2">《九休开放平台酒店管理规定》</a>、《九休开放平台达人管理规定》、<a href="$!root_path/apply/download?fileType=4">《九休开放平台同城管理规定》</a>、<a href="$!root_path/apply/download?fileType=5">《九休开放平台景区管理规定》</a>、<a href="$!root_path/apply/download?fileType=6">《九休开放平台旅行社管理规定》</a>、《九休开放平台评价规则》、《九休开放平台卖家积分管理规则》</span>
						方能完成注册，卖家须充分阅读并理解前述规定的内容。卖家注册成功后，视为卖家无条件同意前述规定的内容。</p>
						<p>8.2九休开放平台对《九休开放平台总则》、本规定及包括基于本规定制定的各项规则拥有最终解释权。</p>
						<p>8.3卖家注册成功后，则《九休开放平台总则》、本规定及包括基于本规定制定的各项规则对卖家与九休开放平台具有法律约束力，双方均应严格遵照执行。</p>
						<p>8.4若卖家与九休开放平台在合作过程中产生纠纷的，应友好协商解决，协商不成任何一方均有权向九休开放平台所在地人民法院提起诉讼。</p>
               </div>
               <div class="line-bottom lig"></div>
                <div class="settled"><a href="$!root_path/apply/seller/toDetailPageB">上一页</a><a href="$!root_path/apply/seller/toVerifyPage">同意协议并下一步</a></div>
               
	</div>
	
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>	

