#set($layout = "/layout/layout-apply.vm")
<head>
#parse("layout/layout-meta.vm")
<title>签署协议</title>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/agreement.css">
</head>
	
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">商家入驻</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">选择身份</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step2">2</div>
					<label class="step2">填写商家信息</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">3</div>
					<label class="step3">上传资质文件</label>
				</div>
				<div class="step step-fr step-on">
					<div class="step3">4</div>
					<label class="step3">签署协议</label>
				</div>
				<div class="step step-fr ya ">
					<div class="step3">5</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		  <!-- 协议板块 -->
               <div class="line-bottom"></div>
               <div class="big-title">九休开放平台旅行社管理规定</div>
               <div class="rule-content">
                   <h3>第一条 总则</h3>
		               <p>1.1根据《九休开放平台总则》的规定制定本管理规定。</p>
		               <p>1.2九休开放平台是由北京九休信息科技有限公司负责运营管理的互联网第三方交易平台。</p>
		               <p>1.3九休开放平台系居间人，九休开放平台旅行社类卖家（以下称：旅行社或卖家）系委托人。旅行社委托九休开放平台作为居间人为其提供订立合同的居间服务。旅行社与其客户（买家）是合同的双方当事人，九休开放平台仅作为居间人为旅行社提供订立合同的媒介服务。</p>
					<h3>第二条 申请成为九休开放平台旅行社类卖家</h3>
						<p>2.1旅行社店铺分为直营店、旗舰店和专营店三种。</p>
						<p>2.2申请成为直营店所需资质文件须按照如下规定提供九休开放平台审核，所有文件需加盖公章。</p>
						    <p>
						    （1）营业执照副本复印件（需完成有效年检且营业执照经营范围需包含所售商品，是副本不是正本）；<br/>
						    （2）企业税务登记证复印件（国税、地税均可）；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）开户许可证复印件（非必要，根据实际情况提交）；<br/>
						    （5）旅行社责任险保险单复印件；<br/>
						    （6）旅行社业务经营许可证复印件；<br/>
						    （7）法定代表人身份证正反复印件；<br/>
						    （8）联系人（或经办人）身份证正反复印件；<br/>
						    （9）邮轮/游船公司需提供《水路运输许可证》；<br/>
						    （10）其他九休开放平台认为需要审核的材料文件。
						    </p>
						<p>2.3申请成为专营店所需资质文件须按照如下规定提供九休开放平台审核，所有文件需加盖公章。</p>
						    <p>
						    （1）营业执照副本复印件（需完成有效年检且营业执照经营范围需包含所售商品，是副本不是正本）；<br/>
						    （2）企业税务登记证复印件（国税、地税均可）；<br/>
						    （3）组织机构代码证复印件；<br/>
						    （4）开户许可证复印件（非必要，根据实际情况提交）；<br/>
						    （5）旅行社责任险保险单复印件；<br/>
						    （6）旅行社业务经营许可证复印件；<br/>
						    （7）法定代表人身份证正反复印件；<br/>
						    （8）联系人（或经办人）身份证正反复印件；<br/>
						    （9）邮轮/游船公司需提供《水路运输许可证》；<br/>
						    （10）其他九休开放平台认为需要审核的材料文件。
						    </p>
						<p>2.4 旗舰店暂不接受卖家主动申请开店，经平台邀请方可开店。</p>  
						<p>2.5其他要求</p>  
							<p>
								（1）非旅行社卖家不得经营旅行社业务和销售机票及包含机票的商品。<br/>
								（2）卖家营业执照经营范围必须包含下列相关内容中的一项：旅游服务，旅游观光，休闲度假，签证申办、入境旅游业务，国内旅游业务，出境旅游业务及相关内容。
							</p>
						<h3>第三条 保证金</h3>
						<p>3.1旅行社应向九休开放平台支付保证金。</p> 
						<p>3.2保证金用于保证旅行社的商品质量和服务质量，确保旅行社店铺运营规范。当旅行社发生侵权、违约、违规行为时，九休开放平台有权依照本规定及《九休开放平台总则》的规定扣除相应的保证金作为违约金或给予消费者赔偿。</p> 
						<p>3.3若旅行社保证金不足的，旅行社应当于补足，否则九休开放平台有权关闭旅行社“九休开放平台”店铺直至旅行社补足保证金之日。</p> 
						<h3>第四条 费用</h3>
						<p>旅行社应当自行承担因第三方支付平台支付银行资金往来产生的财务费用。</p>
						<h3>第五条免责</h3>
						<p>5.1旅行社理解并同意，旅行社与其游客是旅行服务合同的双方当事人，九休开放平台仅作为居间人为旅行社提供订立合同的媒介服务。若旅行社与游客在履行旅行服务合同的过程中发生纠纷的，与九休开放平台无涉。若九休开放平台依照平台相关规则对客户先行赔付的，对于九休开放平台代为赔付部分，旅行社应负责赔偿。</p>
						<p>5.2合作期间，旅行社应保证其提供服务的经营场所应具有合法经营资质及符合国家法律法规标准的消防安全设施，若因旅行社原因引起的任何纠纷、投诉或政府部门查处（包括但不限于资质、宣传不实等），旅行社应承担一切责任并及时妥善解决，如造成九休开放平台损失，九休开放平台有权要求旅行社赔偿由此造成的直接或间接损失，并有权终止对旅行社的服务并关闭其店铺，因此造成的损失由旅行社自行承担。</p>
						<p>5.3旅行社须保证其产品信息的真实、准确、有效，不存在侵犯任何第三方合法权益的行为。若前述信息发生变更的，旅行社应及时给予更新，否则由此导致的后果由旅行社自行承担。</p>
						<p>5.4卖家了解并同意，九休开放平台及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对卖家提交的证据材料进行鉴别，九休开放平台及其关联公司对交易纠纷的调处完全是基于卖家的委托，九休开放平台及其关联公司无法保证交易纠纷处理结果符合卖家的期望，也不对交易纠纷调处结果及保证金赔付决定承担任何责任。</p>
						<h3>第六条 赔付标准</h3>
						<p>6.1因旅行社原因导致买家无法按订单约定内容出游，即已生效订单发生变更或取消时，在买家提供有效凭证后，卖家须按下表标准赔付买家（以订单金额为赔付基准）。</p>
						<p>
							<table>
								<thead>
									<tr>
										<td>商品类型</td>
										<td>订单更改/取消时间</td>
										<td>订单更改赔付标准</td>
										<td>订单取消赔付标准</td>
										<td>赔付金额最低标准</td>
									</tr>
								</thead>
								<tbody>
									<tr >
										<td rowspan="4">境内旅游</td>
										<td>出发日7天以前</td>
										<td rowspan="2">5%</td>
										<td>5%</td>
										<td rowspan="4">50元/单</td>
									</tr>
									<tr>
									
										<td>出发日前7天至4天</td>
										
										<td>10%</td>
									
									</tr>
									<tr>
									
										<td>出发日前3天至1天</td>
										<td rowspan="2">10%</td>
										<td>15%</td>
										
									</tr>
									<tr>
										
										<td>出发日前24小时以内（不包括本数）</td>
										<td>20%</td>
									</tr>
									<tr >
										<td rowspan="5">境外旅游</td>
										<td>出发日30天以前</td>
										<td rowspan="3">2%</td>
										<td>2%</td>
										<td rowspan="5">100元/单</td>
									</tr>
									<tr>
										<td>出发日前30天至15天</td>
									
										<td>5%</td>
									
									</tr>
									<tr>
										<td>出发日前14天至3天</td>
										
										<td>10%</td>
										
									</tr>
									<tr>
										<td>出发日前3天至1天）</td>
										<td rowspan="2">5%</td>
										<td>15%</td>
									
									</tr>
									<tr>
										<td>出发日前24小时以内（不包括本数）</td>
										
										<td>20%</td>
										
									</tr>
								</tbody>
							</table>
						</p>
						<p>6.2旅行社未经买家同意，擅自将买家转团、拼团的，旅行社应向买家支付旅游费用总额25%的违约金。经协商一致解除合同的，还应向未随团出行的买家全额退还预付旅游费用，向已随团出行的买家退还未实际发生的旅游费用。</p>
						<p>6.3因旅行社原因造成买家未能乘坐预定的公共交通工具的，旅行社应赔偿买家的直接经济损失，并支付直接经济损失20%的违约金。</p>
						<p>6.4旅行社安排的旅游活动及服务档次与合同不符，造成买家经济损失的，旅行社应退还买家合同金额与实际花费的差额，并支付同额违约金。</p>
						<p>6.5旅行社提供服务的导游或领队未按照国家或旅游行业对买家服务标准提供导游或者领队服务，影响旅游服务质量的，旅行社应向买家支付旅游费用总额1%至5%的违约金。</p>
						<p>6.6旅行社提供服务的导游或领队违反旅行社与买家的合同约定，损害买家合法权益的，旅行社按下述标准承担赔付责任：</p>
							<p>
								（1）擅自缩短游览时间、遗漏旅游景点、减少旅游服务项目的，旅行社应赔付未完成约定旅游服务项目等合理费用，并支付同额违约金。遗漏无门票景点的，每遗漏一处旅行社向买家支付旅游费用总额5%的违约金。<br/>
								（2）未经买家签字确认，擅自安排合同约定以外的用餐、娱乐、医疗保健、参观等另行付费项目的，旅行社应承担另行付费项目的费用。
								（3）未经买家签字确认，擅自违反合同约定增加购物次数、延长停留时间的，旅行社每次向买家支付旅游费用总额10%的违约金。
								（4）强迫或者变相强迫买家购物的，旅行社每次向买家支付旅游费用总额20%的违约金。
								（5）买家在合同约定的购物场所所购物品系假冒伪劣商品的，旅行社应负责挽回或赔付买家的直接经济损失。
								（6）私自兜售商品，旅行社应全额退还买家购物价款。
								（7）卖家违反合同约定，中止对买家提供住宿、用餐、交通等旅游服务的，应当负担买家在被中止旅游服务期间所订的同等级别的住宿、用餐、交通等必要费用，并向买家支付旅游费用总额30%的违约金。
								（8）因买家原因需退改已生效线路订单，以每个商品详情页面上说明的退改规则和赔付标准为准，旅行社须在商品详情页面上对相应退改规则和赔付标准进行详细说明。
							</p>
						<p>6.7九休开放平台对于卖家的赔付规则有监督执行的权利，若买家和卖家对赔付标准和说明有纠纷且无法达成一致时，可向九休申请调解，调解原则参见《九休开放平台总则》第七章。卖家与买家之间发生的任何纠纷经九休开放平台调解未果的，卖家与买家均有权采取法律途径解决纠纷。</p>
						<h3>第七条 其他</h3>
						<p class="pt_zz">7.1因注册时旅行社须点击同意九休开放平台制定的 <span><a href="$!root_path/apply/download?fileType=99">《九休开放平台总则》</a>、<a href="$!root_path/apply/download?fileType=4">《九休开放平台酒店管理规定》</a>、《九休开放平台达人管理规定》、<a href="$!root_path/apply/download?fileType=6">《九休开放平台同城管理规定》</a>、<a href="$!root_path/apply/download?fileType=5">《九休开放平台景区管理规定》</a>、<a href="$!root_path/apply/download?fileType=3">《九休开放平台旅行社管理规定》</a>、《九休开放平台评价规则》、《九休开放平台卖家积分管理规则》</span>方能完成注册，卖家须充分阅读并理解前述规定的内容。卖家注册成功后，视为卖家无条件同意前述规定的内容。</p>
						<p>7.2九休开放平台对《九休开放平台总则》、本规定及包括基于本规定制定的各项规则拥有最终解释权。</p>
						<p>7.3旅行社注册成功后，则《九休开放平台总则》、本规定及包括基于本规定制定的各项规则对旅行社与九休开放平台具有法律约束力，双方均应严格遵照执行。</p>
						<p>7.4若旅行社与九休开放平台在合作过程中产生纠纷的，应友好协商解决，协商不成任何一方均有权向九休开放平台所在地人民法院提起诉讼。</p>
               </div>
               <div class="line-bottom lig"></div>
                <div class="settled"><a href="$!root_path/apply/seller/toDetailPageB">上一页</a><a href="$!root_path/apply/seller/toVerifyPage">同意协议并下一步</a></div>
               
	</div>
	
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("businessenter");</script>	

