    <div class="createClubTable">
        <table class="table tab-inputgroup base-info">
            <tr>
                <td><span class="spColor">*</span>商品标题</td>
                <td>
                    #if($commodity.id)
                        <input type="hidden" class="inpControl" name="id" id="id" value="$!{commodity.id}">
                    #end
                    <input type="text" class="form-control" placeholder="请输入商品标题" name="title" value="$!{commodity.title}">
                    <span class="spColor">38字</span>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>商品代码：</td>
                <td>
                    <input type="text" class="form-control" placeholder="请输入商品代码" name="code" value="$!{commodity.code}">
                    <span class="spColor">20字</span>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>截止报名日期：</td>
                <td>
                    <div class="row">
                        <div class="col-md-4"><input type="text" class='form-control form-date' placeholder='开始日期：yyyy-MM-dd' readonly name="activityDateStr" value="$!utilDate.dateToString($!{activity.activityDate},"yyyy-MM-dd HH:mm")"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动主题</td>
                <td>
                    #foreach($theme in $themes)
                        <label class="checkbox-inline">
                            <input type="checkbox" class="productTag" rId="${theme.id}" rName="${theme.name}"
                                #foreach($itemTheme in $itemThemes)
                                #if($!itemTheme.id == $!theme.id) checked #end#end/>
                            ${theme.name}
                        </label>
                    #end
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动城市</td>
                <td>
                    <select class="form-control propertySelect">
                        <option value="0" >请选择</option>
                        #foreach($dest in $dests)
                            <option value="$!dest.id" #if($itemDest.id == $!dest.id)selected#end>$!dest.name</option>
                        #end
                    </select>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>报名时间</td>
                <td>
                    <div class="row input-group">
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="startDateStr" value="$!utilDate.dateToString($!{activity.startDate},"yyyy-MM-dd HH:mm")">
                        <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="endDateStr" value="$!utilDate.dateToString($!{activity.endDate},"yyyy-MM-dd HH:mm")">
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动地区</td>
                <td>
                    <span>经度</span>
                    <input type="text" name="snsPOI.longitude" id="locationX" class="inpControl getAddress" value="$!activity.snsPOI.longitude">
                    <span>维度</span>
                    <input type="text" name="snsPOI.latitude" id="locationY" class="inpControl getAddress" value="$!activity.snsPOI.latitude">
                    <button type="button" class="btn btn-primary locationXYSelectBtn">查找经纬度</button>
                #*<code>点击查找经纬度可自动获取</code>*#
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>详细地址</td>
                <td><input type="text" class="form-control" placeholder="请输入30字以内" name="snsPOI.detail" value="$!activity.snsPOI.detail"></td>
            </tr>
##            <tr>
##                <td>基础价格</td>
##                <td>
##                    <div class="row">
##                        #set($preferentialPrice=$activity.preferentialPrice / 100.0)
##                        #set($originalPrice=$activity.originalPrice / 100.0)
##                        <div class="col-md-4"><input type="text" class="form-control" placeholder="会员" name="preferentialPriceY" value="#if(! $preferentialPrice)#else$preferentialPrice#end"></div>
##                        <div class="col-md-4"><input type="text" class="form-control" placeholder="非会员" name="originalPriceY" value="#if(! $originalPrice)#else$originalPrice#end"></div>
##                    </div>
##                </td>
##            </tr>
##            <tr>
##                <td>客服电话</td>
##                #if($!activity.id)
##                    #set($serviceTel=$!activity.serviceTel)
##                #else
##                    #set($serviceTel=4000696888)
##                #end
##                <td><input type="text" class="form-control serviceTel" placeholder="请输入客服电话" name="serviceTel" value="$!serviceTel"></td>
##            </tr>
            <tr>
                <td>*商品图：</td>
                <td>
                    <div class="uploadbox clearfix">
                        <div class="imgbox">
                            <form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">
                                <div class="dimg">
                                    #if($baseInfo.picUrls && $baseInfo.picUrls.size() > 0)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(0)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(0)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <input type="file" name="picfile" class="picfile">
                                    <button class="upl">上传图片</button>
                                    <button class="del">删除图片</button>
                                </div>
                            </form>
                        </div>
                        <div class="imgbox">
                            <form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">
                                <div class="dimg">
                                    #if($baseInfo.picUrls && $baseInfo.picUrls.size() > 1)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(1)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(1)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <input type="file" name="picfile" class="picfile">
                                    <button class="upl">上传图片</button>
                                    <button class="del">删除图片</button>
                                </div>
                            </form>
                        </div>
                        <div class="imgbox">
                            <form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">
                                <div class="dimg">
                                    #if($baseInfo.picUrls && $baseInfo.picUrls.size() > 2)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(2)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(2)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <input type="file" name="picfile" class="picfile">
                                    <button class="upl">上传图片</button>
                                    <button class="del">删除图片</button>
                                </div>
                            </form>
                        </div>
                        <div class="imgbox">
                            <form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">
                                <div class="dimg">
                                    #if($baseInfo.picUrls && $baseInfo.picUrls.size() > 3)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(3)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(3)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <input type="file" name="picfile" class="picfile">
                                    <button class="upl">上传图片</button>
                                    <button class="del">删除图片</button>
                                </div>
                            </form>
                        </div>
                        <div class="imgbox">
                            <form action="$!{utilWebconfig.getActionDefaultFontPath()}/upload/file" method="post" class="imgform" enctype="multipart/form-data">
                                <div class="dimg">
                                    #if($baseInfo.picUrls && $baseInfo.picUrls.size() > 4)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{baseInfo.picUrls.get(4)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{baseInfo.picUrls.get(4)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" img-root="$utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <input type="file" name="picfile" class="picfile">
                                    <button class="upl">上传图片</button>
                                    <button class="del">删除图片</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>