    <div class="createClubTable">
        <table class="table tab-inputgroup base-info">
            <tr>
                <td><span class="spColor">*</span>活动名称</td>
                <td>
                    #if($activity.id)
                        <input type="hidden" class="inpControl" name="id" id="id" value="$!{activity.id}">
                    #end
                    <input type="text" class="form-control" placeholder="请输入20个字以内" name="title" value="$!{activity.title}">
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>所属俱乐部</td>
                <td>

                    <select class="form-control" name="clubId">
                        #foreach($club in $clubList)
                            <option value="$!{club.id}" #if($!activity.outId == $!club.id) selected #end value="$club.id">$!{club.clubName}</option>
                        #end
                    </select>

                </td>
            </tr>
            <tr>
                <td>商品选择</td>
                <td>

                    <input type="text" class="inpControl" name="productTitle" id="productTitle" value="$!{itemName}">
                    <input type="hidden" class="inpControl" name="productId" id="productId" value="$!{activity.productId}">
                    <button type="button" class="btn btn-primary selectActivityComm">选择商品</button>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动主题</td>
                <td>
                    #foreach($tag in $tagResult)


                        <input type="checkbox" name="tagList" value="$!{tag.id}"
                            #foreach($tagCheck in $tagResultCheck)

                                #if($!tagCheck.id == $!tag.id) checked #end#end><span>$!{tag.name}</span>

                    #end
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动时间</td>
                <td>
                    <div class="row">
                        <div class="col-md-4"><input type="text" class='form-control form-date' placeholder='开始日期：yyyy-MM-dd' readonly name="activityDateStr" value="$!utilDate.dateToString($!{activity.activityDate},"yyyy-MM-dd HH:mm")"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>报名时间</td>
                <td>
                    <div class="row input-group">
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="startDateStr" value="$!utilDate.dateToString($!{activity.startDate},"yyyy-MM-dd HH:mm")">
                        <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="endDateStr" value="$!utilDate.dateToString($!{activity.endDate},"yyyy-MM-dd HH:mm")">
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动地区</td>
                <td>
                    <span>经度</span>
                    <input type="text" name="snsPOI.longitude" id="locationX" class="inpControl getAddress" value="$!activity.snsPOI.longitude">
                    <span>维度</span>
                    <input type="text" name="snsPOI.latitude" id="locationY" class="inpControl getAddress" value="$!activity.snsPOI.latitude">
                    <button type="button" class="btn btn-primary locationXYSelectBtn">查找经纬度</button>
                #*<code>点击查找经纬度可自动获取</code>*#
                </td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>详细地址</td>
                <td><input type="text" class="form-control" placeholder="请输入30字以内" name="snsPOI.detail" value="$!activity.snsPOI.detail"></td>
            </tr>
            <tr>
                <td>基础价格</td>
                <td>
                    <div class="row">
                        #set($preferentialPrice=$activity.preferentialPrice / 100.0)
                        #set($originalPrice=$activity.originalPrice / 100.0)
                        <div class="col-md-4"><input type="text" class="form-control" placeholder="会员" name="preferentialPriceY" value="#if(! $preferentialPrice)#else$preferentialPrice#end"></div>
                        <div class="col-md-4"><input type="text" class="form-control" placeholder="非会员" name="originalPriceY" value="#if(! $originalPrice)#else$originalPrice#end"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>客服电话</td>
                #if($!activity.id)
                    #set($serviceTel=$!activity.serviceTel)
                #else
                    #set($serviceTel=4000696888)
                #end
                <td><input type="text" class="form-control serviceTel" placeholder="请输入客服电话" name="serviceTel" value="$!serviceTel"></td>
            </tr>
            <tr>
                <td><span class="spColor">*</span>活动宣传图(APP)：</td>
                <td>
                    <div class="fileImgWrap">
                        <button type="button" class="btn btn-success">选择图片</button>
                        <input id="productImageFile" class="fileInp" type="file" accept="image/png,image/gif,image/jpeg"/>
                        <input class="productImageUrlVal" type="hidden" name="image" value="$!activity.image"/>
                        <p>注：图片大小不超过2M<br />建议尺寸：300*300</p>
                    </div>
                    <div class="logoView">
                        <img  class="productImageUrlImg img-square" src="#if($!{activity.image})$!{utilWebconfig.getTfsRootPath()}$!{activity.image} #end"/>
                    </div>
                </td>
            <tr>
                <td><span class="spColor">*</span>活动宣传图(PC)：</td>
                <td>
                    <div class="fileImgWrap">
                        <button type="button" class="btn btn-success">选择图片</button>
                        <input id="productImageFilePC" class="fileInp" type="file" accept="image/png,image/gif,image/jpeg"/>
                        <input class="productImageUrlValPC" type="hidden" name="imagePC" value="$!activity.imagePC"/>
                        <p>注：图片大小不超过2M<br />建议尺寸：300*300</p>
                    </div>
                    <div class="logoView">
                        <img  class="productImageUrlImgPC img-square" src="#if($!{activity.imagePC})$!{utilWebconfig.getTfsRootPath()}$!{activity.imagePC} #end"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>报名须知</td>
                <td>
                    <button type="button" class="btn btn-default addNeedKnow">增加条目</button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>标题（10个字以内）</th>
                            <th>内容（500字以内）</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="extra-info-list needKnowTable">



                            #if(!$activity.id)
                            <tr class="needKnow">
                                <td><input type="text" name="activityJsonArray[0].activityTitle" class="form-control extra-info-item-title" placeholder="优惠活动"></td>
                                <td>
                                    <textarea name="activityJsonArray[0].activityDec" class="form-control extra-info-item-text" rows="3" placeholder="优惠活动"></textarea>
                                </td>
                                <td><button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button></td>
                            </tr>

                            #end
                            #if($activity.id)
                                #foreach($activityJsonArray in $activity.activityJsonArray)
                                <tr class="needKnow">
                                    <td>
                                        <input type="text" name="activityJsonArray[$!{velocityCount}].activityTitle" class="form-control extra-info-item-title" placeholder="优惠活动" value="$!{activityJsonArray.activityTitle}"></td>
                                    <td>
                                        <textarea name="activityJsonArray[$!{velocityCount}].activityDec" class="form-control extra-info-item-text" rows="3">$!{activityJsonArray.activityDec}</textarea>
                                    </td>
                                    <td><button type="button" class="btn btn-link" onclick="delneedKnowTR(this)">删除</button></td>
                                </tr>
                                #end
                            #end
                        </tbody>
                    </table>

                </td>

            </tr>

            </tbody>
        </table>
    </div>