    <div class="createClubTable">
        <table class="table tab-inputgroup base-info">
            <tr>
                <td><span class="red">*</span>分类：</td>
                <td>
                    $!{category.name}
                </td>
            </tr>
            <tr>
                <td><span class="red">*</span>商品标题：</td>
                <td>
                    #if($item.id)
                        <input type="hidden" class="inpControl" name="id" id="id" value="$!{item.id}">
                    #end
                    <input type="hidden" class="inpControl" name="id" id="categoryId" value="$!{category.id}">
                    <input type="hidden" class="inpControl" name="rootCategoryId" id="rootCategoryId" value="$!{category.parentId}">
                    <input type="text" class="form-control item-title" placeholder="请输入商品标题" maxlength="38" name="title" value="$!{item.title}">
                    <span class="limit">38字</span>
                </td>
            </tr>
            <tr>
                <td>商品代码：</td>
                <td>
                    <input type="text" class="form-control item-code w300" placeholder="请输入商品代码" maxlength="20" name="code" value="$!{item.code}">
                    <span class="limit">20字</span>
                    <span class="ml10">住：商品代码供商家管理商品使用，不会展示给用户</span>
                </td>
            </tr>
            <tr>
                <td><span class="red">*</span>活动主题：</td>
                <td>
                    #foreach($theme in $themes)
                        <label class="checkbox-inline">
                            <input type="checkbox" class="productTag" rId="${theme.id}" rName="${theme.name}"
                                #foreach($itemThemeId in $itemThemes)
                                #if($!itemThemeId == $!theme.id) checked #end#end/>
                            ${theme.name}
                        </label>
                    #end
                </td>
            </tr>
            <tr>
                <td><span class="red">*</span>截止报名日期：</td>
                <td>
                    <div class="row input-group">
                        <input type="text" class='form-control form-date dateInp end-date' placeholder='' readonly name="endDateStr" value="$!{item.endDateStr}">
                    </div>
                </td>
            </tr>
            <tr>
                <td><span class="red">*</span>活动城市：</td>
                <td>
                    <select class="form-control propertySelect dest" name="dest">
                        <option value="0" >请选择</option>
                        #foreach($dest in $dests)
                            <option value="$!dest.code" #if($itemDest.city.code == $!dest.code)selected#end>$!dest.city.name</option>
                        #end
                    </select>
                </td>
            </tr>

            <tr>
                <td><span class="red">*</span>详细地址：</td>
                <td><input type="text" class="form-control location-text" placeholder="" value="$!cityActivity.locationText"><span class="limit">38字</span></td>
            </tr>
            <tr>
                <td><span class="red">*</span>坐标：</td>
                <td>
                    <span>经度</span>
                    <input type="text" name="item.longitude" id="longitude" class="inpControl getAddress" value="$!item.longitude" readonly>
                    <span>纬度</span>
                    <input type="text" name="item.latitude" id="latitude" class="inpControl getAddress" value="$!item.latitude" readonly>
                    <button type="button" class="btn btn-primary locationXYSelectBtn">查找经纬度</button>
                #*<code>点击查找经纬度可自动获取</code>*#
                </td>
            </tr>
            <tr>
                <td><span class="red">*</span>活动亮点：</td>
                <td>
                    <textarea class="form-control textarea-count description" rows="3" placeholder="请输入亮点描述">$!{item.description}</textarea>
                   <div class="word-num"><span class="num-a">0</span>/<span class="num-b">200字</span></div>

                </td>
            </tr>
##            <tr>
##                <td>基础价格</td>
##                <td>
##                    <div class="row">
##                        #set($preferentialPrice=$activity.preferentialPrice / 100.0)
##                        #set($originalPrice=$activity.originalPrice / 100.0)
##                        <div class="col-md-4"><input type="text" class="form-control" placeholder="会员" name="preferentialPriceY" value="#if(! $preferentialPrice)#else$preferentialPrice#end"></div>
##                        <div class="col-md-4"><input type="text" class="form-control" placeholder="非会员" name="originalPriceY" value="#if(! $originalPrice)#else$originalPrice#end"></div>
##                    </div>
##                </td>
##            </tr>
##            <tr>
##                <td>客服电话</td>
##                #if($!activity.id)
##                    #set($serviceTel=$!activity.serviceTel)
##                #else
##                    #set($serviceTel=4000696888)
##                #end
##                <td><input type="text" class="form-control serviceTel" placeholder="请输入客服电话" name="serviceTel" value="$!serviceTel"></td>
##            </tr>
            <tr>
                <td><span class="red">*</span>商品图：</td>
                <td>
                    <div class="uploadbox clearfix">
                        <input type="hidden" class="uplUrl" value="$!{utilWebconfig.getActionUploadFilePath()}" />
                        <input type="hidden" class="imgUrl" value="$!{utilWebconfig.getTfsRootPath()}" />
                        <div class="imgbox">
                                <div class="dimg">
                                    #if($!item.itemMainPics && $item.itemMainPics.size() > 0)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{item.itemMainPics.get(0)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{item.itemMainPics.get(0)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" >
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>

                                    <button class="del">删除图片</button>
                                </div>
                        </div>
                        <div class="imgbox">
                                <div class="dimg">
                                    #if($!item.itemMainPics && $item.itemMainPics.size() > 1)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{item.itemMainPics.get(1)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{item.itemMainPics.get(1)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" >
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>

                                    <button class="del">删除图片</button>
                                </div>
                        </div>
                        <div class="imgbox">
                                <div class="dimg">
                                    #if($!item.itemMainPics && $item.itemMainPics.size() > 2)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{item.itemMainPics.get(2)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{item.itemMainPics.get(2)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" >
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>

                                    <button class="del">删除图片</button>
                                </div>
                        </div>
                        <div class="imgbox">
                                <div class="dimg">
                                    #if($!item.itemMainPics && $item.itemMainPics.size() > 3)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{item.itemMainPics.get(3)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{item.itemMainPics.get(3)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" >
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>

                                    <button class="del">删除图片</button>
                                </div>
                        </div>
                        <div class="imgbox">
                                <div class="dimg">
                                    #if($!item.itemMainPics && $item.itemMainPics.size() > 4)
                                        <img src="$!{utilWebconfig.getTfsRootPath()}$!{item.itemMainPics.get(4)}" img-root="$!utilWebconfig.getTfsRootPath()">
                                        <input type="hidden" class="picCode baseInfo-picCode" value="$!{item.itemMainPics.get(4)}">
                                    #else
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" >
                                        <input type="hidden" class="picCode baseInfo-picCode">
                                    #end
                                </div>
                                <div class="upimgbtn">
                                    <a class="upl">上传图片<input type="file" name="picfile" class="picfile"></a>
                                    <button class="del">删除图片</button>
                                </div>
                        </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function getItemInfo() {
            var picUrls = [];
            $(".base-info").find(".picCode").each(function(){
                var picCode = $(this).val();
                if(picCode) {
                    picUrls.push(picCode);
                }
            });
            var themes = [];
            $(".productTag:checked").each(function(){
                themes.push($(this).attr("rId"));
            });

            var result = {
                #if($item.id)
                    id:$!{item.id},
                #end
                title:$(".item-title").val(),
                code:$(".item-code").val(),
                itemMainPics:picUrls,
                description:$(".description").val(),
                latitudeVO:$("#latitude").val()||null,
                longitudeVO:$("#longitude").val()||null,
                endDateStr:$(".end-date").val(),
                itemSkuVOStr:null,
            };
            return result;
        }

        function getThemes() {
            var themes = [];
            $(".productTag:checked").each(function(){
                themes.push($(this).attr("rId"));
            });
            return themes;
        }
        function getDest() {
            var dest = {
                id:$("select option:selected").attr("value"),
            };
            return dest;
        }
        function getCityActivity() {
            var result = {
                #if($item.id)
                    id:$!{item.outId},
                #end
                locationText:$(".location-text").val(),
                needKnowVO:getNeedKnow(),
            };
            return result;
        }
    </script>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
    <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/js/zui.min.js" type="text/javascript" ></script>
    <link href="$utilWebconfig.getStaticResourcesPath()/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
