<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/upload.js"></script>
-->
#set($needKnowItems = $needKnow.needKnowItems)
<table class="table tab-inputgroup" id="need-know">
	<tbody>
		<tr class="need-know-item">
			<td>*费用包含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用包含"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 0)
					#set($content = $needKnowItems.get(0).content)
					#set($length = $content.length())
				#end
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="" maxlength="500">$!content</textarea>
				<span class="word-num">$!{length}/500字</span>
			</td>
		</tr>
		<tr class="need-know-item">
			<td>*费用不含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用不含"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 1)
					#set($content = $needKnowItems.get(1).content)
					#set($length = $content.length())
				#end
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="" maxlength="500">$!content</textarea>
				<span class="word-num">$!{length}/500字</span>
			</td>
		</tr>
		<tr class="need-know-item">
			<td>*预订说明：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="预订说明"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 2)
					#set($content = $needKnowItems.get(2).content)
					#set($length = $content.length())
				#end
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="" maxlength="1000">$!content</textarea>
				<span class="word-num">$!{length}/1000字</span>
			</td>
		</tr>
		<tr class="need-know-item">
			<td>*退改规定：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="退改规定"/>
				#set($length = 0)
				#set($content = '')
				#if($needKnowItems && $needKnowItems.size() > 3)
					#set($content = $needKnowItems.get(3).content)
					#set($length = $content.length())
				#end
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="" maxlength="500">$!content</textarea>
				<span class="word-num">$!{length}/500字</span>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	function getNeedKnow() {
		var result = [];
		$(".need-know-item").each(function() {
			var title = $(this).find(".need-know-item-key").val();
			var content = $(this).find(".need-know-item-value").val();
			result.push({
				title:title,
				content:content
			});
		});
		return {
			needKnowItems:result
		};
	}
</script>