<!--
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/upload.js"></script>
-->
#set($needKnowItems = $needKnow.needKnowItems)
<table class="table tab-inputgroup" id="need-know">
	<tbody>
		<tr class="need-know-item">
			<td><span class="red">*</span>费用包含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用包含"/>
				#set($length = 0)
				#if($needKnowItems && $needKnowItems.size() > 0)
					#set($content = $needKnowItems.get(0).content)
					#set($length = $content.length())
				#end
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">2000字</span></div>
			</td>
		</tr>
		<tr class="need-know-item">
			<td><span class="red">*</span>费用不含：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="费用不含"/>
				#set($length = 0)
				#if($needKnowItems && $needKnowItems.size() > 1)
					#set($content = $needKnowItems.get(1).content)
					#set($length = $content.length())
				#end
				#if(!$content)
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">以上费用包含未提及的消费</textarea>
				#else
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">500字</span></div>
			</td>
		</tr>
		<tr class="need-know-item">
			<td><span class="red">*</span>预订说明：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="预订说明"/>
				#set($length = 0)
				#if($needKnowItems && $needKnowItems.size() > 2)
					#set($content = $needKnowItems.get(2).content)
					#set($length = $content.length())
				#end
				#if(!$content)
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">
1、提前__________天进行预约
2、活动时间（周六、周日）上午9:00—11:00   下午2:00—4:00
3、限定人数：
1）本次活动最低参与人数__________，未达最低参团人数，全额退还所缴款项，客服会与您联系；
2）本次活动最高参团人数__________，若人数超出则延期至下一期，客服会提前__________天通知您。</textarea>
				#else
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">2000字</span></div>
			</td>
		</tr>
		<tr class="need-know-item">
			<td><span class="red">*</span>退改规定：</td>
			<td>
				<input type="hidden" class="need-know-item-key" value="退改规定"/>
				#set($length = 0)
				#if($needKnowItems && $needKnowItems.size() > 3)
					#set($content = $needKnowItems.get(3).content)
					#set($length = $content.length())
				#end
				#if(!$content)
					<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">	
1、本次活动提前__________天/小时可免费退改。
2、本次活动提前__________天提出修改或退订，需支付__________%损失费
3、申请退款时间距离活动时间不足__________个小时/工作日，不予退款。
4、因组织方原因活天气原因造成活动取消或无法进行的，组织方将在__________个工作日内将活动款项全额退给您。</textarea>
				#else
				<textarea class="form-control textarea-count need-know-item-value" rows="5" placeholder="">$!content</textarea>
				#end
				<div class="word-num"><span class="num-a">0</span>/<span class="num-b">500字</span></div>
			</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
	function getNeedKnow() {
		var result = [];
		$(".need-know-item").each(function() {
			var title = $(this).find(".need-know-item-key").val();
			var content = $(this).find(".need-know-item-value").val();
			result.push({
				title:title,
				content:content
			});
		});
		return {
			needKnowItems:result
		};
	}
</script>