#set($layout = "/layout/layout-apply.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>达人入驻-用户协议</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/filldata.css">
</head>
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">达人开通申请</div>
		<div class="titbox">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="ag-content" >
			<h2>九休开放平台达人管理规定</h2>
			<h3>第一条 总则</h3>
			<p>1.1根据《 九休开放平台总则》 的规定制定本管理规定。</p>
			<p>1.2九休开放平台是由北京九休信息科技有限公司负责运营管理的互联网第三方交易平台。</p>
			<p>1.3九休开放平台系居间人， 九休开放平台达人系委托人。 九休开放平台达人委托九休开放平台作为居间人为其提供订立合同的居间服务。 九休开放平台达人与其客户（买家） 是合同的双方当事人， 九休开放平台仅作为居间人为九休开放平台达人提供订立合同的媒介服务。</p>
			<p>1.4符合下列条件的自然人可以申请成为九休开放平台达人：
			（ 1） 年满十八周岁的完全民事行为能力人。
			（ 2）有一项或多项专项技能，或在某一领域出类拔萃，或精通某一领域。</p>
			<p>1.5无民事行为能力人或限制民事行为能力人不得申请成为九休开放平台达人。</p>
			<p>1.6九休开放平台达人注册专营店时须提供如下资料：
			（ 1） 身份证（正、反面） 复印件；
			（ 2） 银行卡账户信息；
			（ 3） 白底免冠一寸照证件照（ 电子版） ；
			（ 4） 专业从业人员申请达人时需提交以下相关证件： 比赛证书、资质证书、专业培训结业证、获奖证书、职业资格证等可以证明其符合九休开放平台达人要求的材料。
			（ 5） 业余人员申请达人时可提交其他可以证明其具备专业资质的材料，包括但不限于：
				a.相关专业性证明(如场地、工具、设备， 其他专业人士认可、 业内认可书函；
				b.媒体报道简报(如平面媒体、网络媒体、电视)； c.影视痕迹材料（ 申请人应当对此进行编辑、展示核心内容） 。
			（ 6）其他九休开放平台认为需要审核的材料文件。</p>
			<h3>第二条 九休开放平台达人的权利和义务</h3>
			<p>2.1注册账号、密码、昵称等信息应当符合我国有关法律法规及《 九休开放平台总则》的规定。</p>
			<p>2.2九休开放平台达人在注册时须选择符合自己情况的达人分类， 并按照本规定的要求尽可能详尽地提供资料。</p>
			<p>2.3若九休开放平台达人在九休开放平台交易过程中如与其他用户因交易产生纠纷的，可以请求九休开放平台予以协调。</p>
			<p>2.4九休开放平台达人不得有违反我国法律法规规定的行为。</p>
			<p>2.5九休开放平台达人须在产品详情页明确注明产品的使用规则，涉及可能的退换货退费时，注明相关退费规则， 包括当不限于退费时间、 退费比例、 退费条件等， 九休开放平台达人的赔付标准不得违反《网络交易管理办法》 。</p>
			<p>2.6如九休开放平台达人违反《九休开放平台总则》或本规定的， 九休开放平台有权按规定予以处理。若九休开放平台认为达人违反规定的情节特别严重的，则九休开放平台有权终止达人的服务，因此造成的损失由达人自行承担。</p>
			<p>2.7九休开放平台达人有义务配合九休开放平台对其交易退款、赔偿事宜的监督。若达人拒不配合的， 九休开放平台有权终止对达人的服务，因此造成的损失由达人自行承担。</p>
			<h3>第三条 免责</h3>
			<p>3.1九休开放平台达人在使用九休开放平台时不得侵犯任何第三方的权益，否则由此产生的任何法律责任或后果将由其自行承担。若由此造成九休开放平台损失的， 九休开放平台有权要求其赔偿一切直接或间接损失 （ 包括但不限于诉讼费、保全费、律师费、差旅费、行政部门罚款、调查取证费用） 。</p>
			<p>3.2九休开放平台达人组织活动或销售产品过程中， 应当确保买家或其产品使用人 3的人身财产安全，若买家或其产品使用人的人身财产安全受到侵犯的， 九休开放平台达人应当自行承担一切法律责任或后果。 若由此造成九休开放平台损失的， 九休开放平台有权要求其赔偿一切直接或间接损失（包括但不限于诉讼费、保全费、律师费、差旅费、行政部门罚款、调查取证费用）。</p>
			<p>3.3卖家了解并同意， 九休开放平台及其关联公司并非司法机构，仅能以普通或非专业人员的知识水平标准对卖家提交的证据材料进行鉴别， 九休开放平台及其关联公司对交易纠纷的调处完全是基于卖家的委托， 九休开放平台及其关联公司无法保证交易纠纷处理结果符合卖家的期望，也不对交易纠纷调处结果及保证金赔付决定承担任何责任。</p>
			<h3>第四条 费用</h3>
			<p>九休开放平台达人应当自行承担因第三方支付平台支付银行资金往来产生的财务费用，与九休开放平台无涉。</p>
			<h3>第五条 赔付标准</h3>
			<p>5.1九休开放平台达人的赔付标准参照各商品详情页退改规则及相关赔付标准执行。若九休开放平台认为九休开放平台达人执行前款规定不合格的，有权采取商品下架措施。</p>
			<p>5.2九休开放平台对于达人的赔付规则有监督执行的权利，若买家和达人对赔付标准和说明有纠纷且无法达成一致时， 可向九休申请调解， 调解原则参见《九休开放平台总则》第七章。 九休开放平台达人与买家之间发生的任何纠纷经九休开放平台调解未果的，达人与买家均有权采取法律途径解决纠纷。</p>
			<h3>第六条 其他</h3>
			<p>6.1因注册时九休开放平台达人须点击同意九休开放平台制定的《九休开放平台总则》、《九休开放平台酒店管理规定》、《九休开放平台达人管理规定》、《九休开放平台同城玩乐管理规定》、《九休开放平台景区管理规定》、《九休开放平台旅行社管 4理规定》、《九休开放平台评价规则》、《九休开放平台卖家积分管理规则》 方能完成注册， 九休开放平台达人须充分阅读并理解前述规定的内容。 九休开放平台达人注册成功后，视为九休开放平台达人无条件同意前述规定的内容。</p>
			<p>6.2九休开放平台对《九休开放平台总则》、 本规定及包括基于本服务协议制定的各项规则拥有最终解释权。</p>
			<p>6.3九休开放平台达人注册成功后，则《九休开放平台总则》、本规定及包括基于本规定制定的各项规则对九休开放平台达人与九休开放平台具有法律约束力，双方均应严格遵照执行。</p>
			<p>6.4若九休开放平台达人与九休开放平台在合作过程中产生纠纷的，应友好协商解决，协商不成任何一方均有权向九休开放平台所在地人民法院提起诉讼。</p>
		</div>
		<a class="agreebtn" href="#if ($examineInfo.sellerId) $!root_path/apply/talent/toEditUserdatafill_pageOne #else $!root_path/apply/talent/toAddUserdatafill_pageOne #end">同意协议并下一步</a>
	</div>
	
	
	#parse("layout/layout-js.vm")
	<script>seajs.use("test");</script>
