#set($layout = "/layout/layout-apply.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>达人入驻-用户协议</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/filldata.css">
</head>
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">达人开通申请</div>
		<div class="titbox">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="ag-content">
			<h2>九休达人使用协议</h2>
			<p>本协议是用户（以下简称“您”）与京东网站（网址：包括但不限于www.jd.com等，简称“本站”）所有者及其关联公司（以下简称为“京东”）之间就京东网站服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击"同意并继续"按钮后，即视为您接受并同意遵守本协议的约定。</p>
			<h3>第1条 本站服务条款的确认和接纳</h3>
			<p>1.1本站的各项电子服务的所有权和运作权归京东所有。您同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。您确认：本协议条款是处理双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。</p>
			<p>1.2您点击同意本协议的，即视为您确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
			<p>1.3您确认，如果您在18周岁以下，您只能在父母或其他监护人的监护参与下才能使用本站。</p>
			<h3>第2条 本站服务条款的确认和接纳</h3>
			<p>1.1本站的各项电子服务的所有权和运作权归京东所有。您同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。您确认：本协议条款是处理双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。</p>
			<p>1.2您点击同意本协议的，即视为您确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
			<p>1.3您确认，如果您在18周岁以下，您只能在父母或其他监护人的监护参与下才能使用本站。</p>
			<h3>第3条 本站服务条款的确认和接纳</h3>
			<p>1.1本站的各项电子服务的所有权和运作权归京东所有。您同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。您确认：本协议条款是处理双方权利义务的依据，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定或约定。</p>
			<p>1.2您点击同意本协议的，即视为您确认自己具有享受本站服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
			<p>1.3您确认，如果您在18周岁以下，您只能在父母或其他监护人的监护参与下才能使用本站。</p>
		</div>
		<a class="agreebtn" href="$!root_path/talent/toAddUserdatafill_pageOne">同意一下协议并进入下一步</a>
	</div>
	
	
	#parse("layout/layout-js.vm")
	<script>seajs.use("test");</script>
