#set ($layout="/layout/layout2.vm")
<title>达人店铺</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/eredar.css">

	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="http://s0.test.jiuxiulvxing.com/busines/img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10"><img src="http://s0.test.jiuxiulvxing.com/busines/img/default_1.png"><i></i></span>
					<span>Hi：</span><span>13655545879</span>
				</a>
				<a class="ext">退出</a>
			</div>
		</div>
	</div>
	<!-- 面包屑 -->
	<div class = "comwidth crumbs f12">您所在的位置：店铺管理><a class = "f12 gray6">基本信息</a></div>
	<div class = "comwidth clearfix" id = "eredar">
		<div class = "eredar-left">
			<dl class = "first">
				<dd>商品管理</dd>
				<dt class = "one">添加商品</dt>
				<dt>商品列表</dt>
			</dl>
			<dl>
				<dd>订单管理</dd>
				<dt class = "one">订单列表</dt>
			</dl>
			<dl>
				<dd>店铺管理</dd>
				<dt class = "one on">基本信息</dt>
				<dt>账户信息</dt>
			</dl>
			<dl>
				<dd>对账管理</dd>
				<dt class = "one">月结账单</dt>
			</dl>
		</div>
		<div class = "eredar-right">
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">基本信息</li>
					<li>账户信息</li>
				</ul>
			</div>
			<div class = "eredar-list eredar-list1">
				 <form class="registerform" method="post" action="demo/ajax_post.php">
					<table width='100%'>
						<tr>
							<td class="tbtxt w280"><label class="bred">*</label><span>头像：</span></td>
							<td>
								<span class = "headID addimgbox"><img src = "http://s0.test.jiuxiulvxing.com/busines/img/eredar-head.png"/>
									<a href="javascript:;" class = "picter"><input type = "file" class = "upload adpicfile" value = ""></input>编辑图片</a>
								</span>
								<label class = "lab">图片大小不超过500K，建议图片尺寸为：200*200</label>
							</td>
						</tr>
						<tr>
							<td class="tbtxt w280"><label class="bred">*</label><span>昵称：</span></td>
							<td><input id = "nickName" class="field inputxt" type = "text" name="name" datatype="s6-18" errormsg="昵称至少6个字符,最多18个字符！"></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><label class="bred">*</label><span>真实姓名：</span></td>
							<td><input class="field inputxt" type = "text" name="name" datatype="s6-18" errormsg="昵称至少6个字符,最多18个字符！"><span></span></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><label class="bred">*</label><span>性别：</span></td>
							<td>
								<label><input type = "radio" name = "gender" value="1" id="male" class="pr1"> ：男</label>
								<label><input type = "radio" name = "gender" value="2" id="female" class="pr1" datatype="*" errormsg="请选择性别！"> ：女</label>
							</td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>出生日期：</span></td>
							<td><input class="field" id="tm" placeholder="开始时间" title="开始时间" readonly="readonly"><span></span></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><label class="bred">*</label><span>所在城市：</span></td>
							<td>
								<select id="province" class="mr10">
								  <option value="">--请选择--</option>
								  <option value="4">湖南省</option>
								  <option value="1">湖北省</option>
								  <option value="2">河南省</option>
								  <option value="3">河北省</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>店铺负责人电话：</span></td>
							<td><input type ="text" class="field inputxt" value="" name="tel" datatype="m" errormsg="请输入您的手机号码！"><span></span></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>服务类型：</span></td>
							<td class = "spe">
								<label><input type = "checkbox" name = "checkname" id="shoppingsite21"value="1" >&nbsp全程伴游</label>
								<label><input type = "checkbox" name = "checkname" id="shoppingsite22"value="2">&nbsp包车服务</label>
								<label><input type = "checkbox" name = "checkname" id="shoppingsite23"value="3">&nbsp咨询规划</label>
								<label><input type = "checkbox" name = "checkname" id="shoppingsite24"value="4" datatype="*" errormsg="请选择您常去的购物网站！">&nbsp私人定制</label>
							</td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>服务描述：</span></td>
							<td><input type ="text" class="field inputxt" value="" name="tel" datatype="m" errormsg="请输入您的手机号码！"><span></span><label class = "lab">0/30</label></td>
						</tr>
						<tr>
							<td><button></button></td>
						</tr>
					</table>
				</form>
			</div>
			<div class = "eredar-list eredar-list2">
			</div>
		</div>
	</div>
	