
#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("layout/layout-meta.vm")
	<title>申请入驻-填写资料</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/filldata.css">
</head>

	<input type="hidden" class="subpath" value="/sellerAdmin/apply/talent/saveExamineInfo_pageTwo">

<!-- <form id="fm" method="post" action="" enctype=”multipart/form-data”>
<input type="file" name="adpicfile">
<input type="submit" value="提交">
</form>
<form id='uploadform' action='' method='post' enctype='multipart/form-data'><input type="file" name="adpicfile" class="adpicfile single">3333</form>
	<div class="uploadPicture">  
       <img id="imgHead" src="" width="106" height="122" alt="头像">   
       <input type="file" id="basicInfoHead" name="basicInfoHead" /> 
      </div>  -->
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">达人开通申请</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step step-on">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="tabs">
			<form id="forminfo" action="saveExamineInfo_b.do" method="post">
				<div class="tit gray6 f16 error_tip">负责人信息
					#if ($checkResultInfo && $checkResultInfo.length>0 )
					<div class="error_box">
							<div>审核不通过原因</div>
							<ol>
								#foreach( $info in $checkResultInfo)  
								<li>$!info</li>
						　　　	 #end
							</ol>
						</div>
					#end
				</div>
					<div class="fm_md_three fm_md">
						<table>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>商户负责人姓名：</span></td>
								<td colspan="3"><input class="inptxt businesname" name="principleName" value="$!examineInfo.principleName"  maxlength="10" placeholder="合同签约人的姓名"></td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>负责人证件类型：</span></td>
								<td colspan="3"><select id="card" class="selectlist" name="principleCard">
							  <option #if ($examineInfo.principleCard == 0) selected="selected" #end value="0">身份证</option>
							  <option #if ($examineInfo.principleCard == 1) selected="selected" #end value="1">驾驶证</option>
							  <option #if ($examineInfo.principleCard == 2) selected="selected" #end value="2">护照</option>
							  <option #if ($examineInfo.principleCard == 3) selected="selected" #end value="3">导游证</option>
							</select></td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>负责人证件号：</span></td>
								<td colspan="3"><input class="inptxt" id="cardtxt" value="$!examineInfo.principleCardId" name="principleCardId" datatype="s6-18" maxlength="18" placeholder="证件号码"></td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>负责人手机号：</span></td>
								<td colspan="3"><input class="inptxt" value="$!examineInfo.principleTel" name="principleTel" datatype="m" maxlength="11" placeholder="手机号码"></td>
							</tr>
							
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>负责人邮箱：</span></td>
								<td colspan="3"><input class="inptxt" value="$!examineInfo.principleMail"  name="principleMail" datatype="e" maxlength="80" placeholder="请输入商户负责人邮箱"></td>
							</tr>
							<tr>
								<td class="tbvt w280"><label class="bred">*</label><label>负责人身份证正面：</label></td>
								<td class="w380">
									<span class="imgbox mr5">
										<div class="canclick card_a">
											#if ($!examineInfo.principleCardUp)
											<img src="$!tfs/$!examineInfo.principleCardUp">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="principleCardUp" value="$!examineInfo.principleCardUp" >
									</span>
								</td>
								<td class="tbvt w150"><label class="bred">*</label><label>负责人身份证背面：</label></td>
								<td>
									<span class="imgbox mr5">
										<div class="canclick card_b">
											#if ($!examineInfo.principleCardDown)
											<img src="$!tfs/$!examineInfo.principleCardDown">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="principleCardDown" value="$!examineInfo.principleCardDown">
									</span>
								</td>
							</tr>
						</table>
					</div>
					<div class="tit gray6 f16">财务信息</div>
					<div class="fm_md_four fm_md">
						<table>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>财务开户银行：</span></td>
								<td><select id="bank" class="selectlist" name="financeOpenBankId">
									  <option  value="">--请选择--</option>
									#foreach ($bank in $bankList)
										
									  <option  #if ($examineInfo.financeOpenBankId == $bank.bankId) selected="selected" #end value="$!bank.bankId">$!bank.bankName</option>
									#end
									  
									</select>
								</td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>财务开户名称：</span></td>
								<td><input class="inptxt" datatype="*" value="$!examineInfo.financeOpenName" name="financeOpenName" maxlength="60" placeholder="请输入对公结算账号账户名"></td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>财务结算账号：</span></td>
								<td><input class="inptxt finance"  name="accountNum" maxlength="25" value="$!examineInfo.accountNum" placeholder="请输入对公结算账号开户行名称"></td>
							</tr>
							<tr>
								<td class="tbtxt w280"><label class="bred">*</label><span>财务结算开户行：</span></td>
								<td>
									<input type="hidden" id="province_" value="$!examineInfo.accountBankProvinceCode">
									<input type="hidden" id="city_" value="$!examineInfo.accountBankCityCode">
									<select id="province"><option value="">--请选择--</option></select>
									<select id="city" class="ml10"><option value="">--请选择--</option></select>
									<span class="inblock"><input class="inptxt ml10 w280" value="$!examineInfo.accountBankName" name="accountBankName" datatype="*" maxlength="60" placeholder="请填写详细的开户行名称"></span>
								</td>
							</tr>
						</table>
					</div>
					<div class="tit gray6 f16">合作合同</div>
					<div class="fm_md_five fm_md">
						<div class="column groupimg"><label class="bred">*</label><label>合作合同：</label>
							<label class="inblock">
								<span class="imgbox mr5 cnat">
									<div class="canclick">
										#if ($!examineInfo.cooperation1)
											<img src="$!tfs/$!examineInfo.cooperation1">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
									</div><div class="plhd"></div><div class="del">删除图片</div>
									<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
									<input type="hidden" name="cooperation1" value="$!examineInfo.cooperation1">
								</span>
							</label>
							<label class="inblock">
								<span class="imgbox mr5 cnat">
									<div class="canclick">
										#if ($!examineInfo.cooperation2)
											<img src="$!tfs/$!examineInfo.cooperation2">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
									</div><div class="plhd"></div><div class="del">删除图片</div>
									<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
									<input type="hidden" name="cooperation2" value="$!examineInfo.cooperation2">
								</span>
							</label>
							<label class="inblock">
								<span class="imgbox mr5 cnat">
									<div class="canclick">
										#if ($!examineInfo.cooperation3)
											<img src="$!tfs/$!examineInfo.cooperation3">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
									</div><div class="plhd"></div><div class="del">删除图片</div>
									<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
									<input type="hidden" name="cooperation3" value="$!examineInfo.cooperation3">
								</span>
							</label>
							<label class="inblock">
								<span class="imgbox mr5 cnat">
									<div class="canclick">
										#if ($!examineInfo.cooperation4)
											<img src="$!tfs/$!examineInfo.cooperation4">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
									</div><div class="plhd"></div><div class="del">删除图片</div>
									<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
									<input type="hidden" name="cooperation4" value="$!examineInfo.cooperation4">
								</span>
							</label>
							<label class="inblock">
								<span class="imgbox mr5 cnat">
									<div class="canclick">
										#if ($!examineInfo.cooperation5)
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
									</div><div class="plhd"></div><div class="del">删除图片</div>
									<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
									<input type="hidden" name="cooperation5" value="$!examineInfo.cooperation5">
								</span>
							</label>
						</div>
					</div>
					<div class="nextpage"><a href="#if ($examineInfo.sellerId <= 0) $!root_path/talent/toAddUserdatafill_pageOne #else 
					$!root_path/talent/toEditUserdatafill_pageOne
					#end" class="prev mr30">上一页</a><a class="allsub ml30">提交审核</a></div>
				</div>
			</form>
		</div>
	</div>
	<script  type='text/temple' id='province-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<province.length; j++) { #>
	            <option value="<#= province[j].id#>"><#= province[j].name#></option>
	    <# } #>
	</script>
	<script  type='text/temple' id='city-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<city.length; j++) { #>
	            <option value="<#= city[j].id#>"><#= city[j].name#></option>
	    <# } #>
	</script>
	#parse("layout/layout-js.vm")
	<script>seajs.use("userdatafill");</script>	

