#set($layout = "/layout/layout-apply.vm")
<head>
	#parse("layout/layout-meta.vm")
	<title>申请入驻-填写资料</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/filldata.css">
</head>

	<input type="hidden" class="subpath" value="/sellerAdmin/apply/talent/saveExamineInfo_pageOne">

	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">达人开通申请</div>
		<div class="titbox wdfill">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step step-on">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="tabs">
			<form id="forminfo" method="post" action="saveExamineInfo_a.do">
				<div class="panel">
					<div class="tit gray6 f16 error_tip">商户信息
					#if ($!checkResultInfo && $!checkResultInfo.size()>0 )
						<div class="error_box">
							<div>审核不通过原因</div>
							#foreach( $info in $checkResultInfo)<span style="color:white;">$!info</span><br/>#end
						</div>
					#end
					</div>
					<div class="fm_md_one fm_md">
						<div class="column"><label class="bred">*</label><label>商户名称：</label><input class="inptxt" name="sellerName" datatype="*" value="$!examineInfo.sellerName" maxlength="40" placeholder="公司主体名称、营业执照上名称"></div>
						<div class="column" style="padding-left:160px;"><label class="bred" class="red">*</label><label>法定代表人名称：</label><input class="inptxt" datatype="*" name="legralName" value="$!examineInfo.legralName" maxlength="10" placeholder="营业执照上的法人名称"></div>
						<div class="column" style="padding-left:150px;"><label class="bred">*</label><label>法定代表人身份证：</label><input class="inptxt" name="lawPersonCard" datatype="*" value="$!examineInfo.lawPersonCard" maxlength="18" placeholder=""></div>
						<div class="column" style="padding-left:170px;"><label class="bred">*</label><label>营业执照号码：</label><input class="inptxt" name="saleLicenseNumber" datatype="*" value="$!examineInfo.saleLicenseNumber" maxlength="40" placeholder=""></div>
						<div class="column" style="padding-left:170px;"><label class="bred">*</label><label>税务登记号码：</label><input class="inptxt" name="taxRegisterNumber" datatype="*" value="$!examineInfo.taxRegisterNumber" maxlength="40" placeholder=""></div>
						<div class="column"><label class="bred">*</label><label>营业地址：</label><input class="inptxt" datatype="*" maxlength="60" value="$!examineInfo.address" name="address" placeholder="营业执照上的营业地址"></div>
						<div class="column"><label class="bred vt">*</label><label class="vt">经营范围：</label><textarea class="inptxt" datatype="*"  name="saleScope" maxlength="300" placeholder="营业执照上的经营范围">$!examineInfo.saleScope</textarea></div>
					</div>
					<div class="tit gray6 f16">上传资质（所有文件需加盖公章）</div>
					<div class="fm_md_two fm_md">
						<table>
							
							<tr>
								<td class="tbtxt"><label class="bred">*</label><label>营业执照副本复印件正面：</label></td>
								<td>
									<span class="imgbox">
										<div class="canclick">
											#if ($!examineInfo.businessLicense)
											<img src="$!tfs/$!examineInfo.businessLicense">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="businessLicense" value="$!examineInfo.businessLicense">
									</span>
								</td>
								<td class="tbtxt"><label>组织机构代码证复印件正面：</label></td>
								<td>
									<span class="imgbox allownull">
										<div class="canclick">
											#if ($!examineInfo.orgCard)
											<img src="$!tfs/$!examineInfo.orgCard">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="orgCard" value="$!examineInfo.orgCard">
									</span>
									<div><label class="bred">*</label><label class="gray9">非三证合一商户必须上传</label></div>
								</td>
							</tr>
							<tr>
								<td class="tbtxt"><label>税务登记证复印件正面（国税、地税均可）：</label></td>
								<td>
									<span class="imgbox allownull">
										<div class="canclick">
											#if ($!examineInfo.affairsCard)
											<img src="$!tfs/$!examineInfo.affairsCard">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="affairsCard" value="$!examineInfo.affairsCard">
									</span>
									<div><label class="bred">*</label><label class="gray9">非三证合一商户必须上传</label></div>
								</td>

								<td class="tbtxt"><label>开户许可证正面：</label></td>
								<td>
									<span class="imgbox allownull">
										<div class="canclick">
											#if ($!examineInfo.openCard)
											<img src="$!tfs/$!examineInfo.openCard">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="openCard" value="$!examineInfo.openCard">
									</span>
								</td>
							</tr>
							<tr>
								<td class="tbtxt"><label>旅行社业务经营许可证： </label></td>
								<td>
									<span class="imgbox allownull">
										<div class="canclick">
											#if ($!examineInfo.travingCard)
											<img src="$!tfs/$!examineInfo.travingCard">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="travingCard" value="$!examineInfo.travingCard">
									</span>
									<div><label class="bred">*</label><label class="gray9">旅行社必填项</label></div>
								</td>
								<td class="tbtxt"><label>联系人变更证明：</label></td>
								<td>
									<span class="imgbox allownull">
										<div class="canclick">
											#if ($!examineInfo.touchProve)
											<img src="$!tfs/$!examineInfo.touchProve">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
										</div><div class="plhd"></div><div class="del">删除图片</div>
										<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile single" ></a>
										<input type="hidden" name="touchProve" value="$!examineInfo.touchProve">
									</span>
									<div><label class="bred">*</label><label class="gray9">仅限合同签署人与联系人不一致情形时上传</label></div>
								</td>
							</tr>
							<tr>
								<td class="tbtxt"><label class="pt30">达人资质证明：</label></td>
								<td colspan="3">
									<div class='groupimg darenzh allownull'>
										<label class="inblock">
											<div class="smtit">导游证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.touristCard)
											<img src="$!tfs/$!examineInfo.touristCard">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="touristCard" value="$!examineInfo.touristCard">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">驾驶证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.drivingLinence)
											<img src="$!tfs/$!examineInfo.drivingLinence">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="drivingLinence" value="$!examineInfo.drivingLinence">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">潜水证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.divingLinence)
											<img src="$!tfs/$!examineInfo.divingLinence">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="divingLinence" value="$!examineInfo.divingLinence">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">摄影证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.photographyCertificate)
											<img src="$!tfs/$!examineInfo.photographyCertificate">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="photographyCertificate" value="$!examineInfo.photographyCertificate">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">登山证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.climbingCertificate)
											<img src="$!tfs/$!examineInfo.climbingCertificate">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="climbingCertificate" value="$!examineInfo.climbingCertificate">
											</span>
										</label>
										<br/>
										<label class="inblock">
											<div class="smtit">健身教练证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.trainingCertificate)
											<img src="$!tfs/$!examineInfo.trainingCertificate">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="trainingCertificate" value="$!examineInfo.trainingCertificate">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">教师证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.teacherCertificate)
											<img src="$!tfs/$!examineInfo.teacherCertificate">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="teacherCertificate" value="$!examineInfo.teacherCertificate">
											</span>
										</label>
										<label class="inblock">
											<div class="smtit">美术证</div>
											<span class="imgbox mr5 cnat">
												<div class="canclick">
													#if ($!examineInfo.artCertificate)
											<img src="$!tfs/$!examineInfo.artCertificate">
											#else <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
											#end
												</div><div class="plhd"></div><div class="del">删除图片</div>
												<a class="upldclik"><input type="file" name="adpicfile" class="adpicfile mult" ></a>
												<input type="hidden" name="artCertificate" value="$!examineInfo.artCertificate">
											</span>
										</label>
									</div>
									<div><label class="bred">*</label><label class="gray9">图片大小不超过500K，建议图片尺寸为800*800，格式为jpg,png,jpeg。</label></div>
								</td>
							</tr>
						</table>
					</div>
					<div class="nextpage"><a  class="nxt" >下一页并保存</a></div>
				</div>
			</form>
		</div>
	</div>
	<script  type='text/temple' id='province-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<province.length; j++) { #>
	            <option value="<#= province[j].id#>"><#= province[j].name#></option>
	    <# } #>
	</script>
	<script  type='text/temple' id='city-tpl'>
	    <option value="">--请选择--</option>
	    <# for(var j=0; j<city.length; j++) { #>
	            <option value="<#= city[j].id#>"><#= city[j].name#></option>
	    <# } #>
	</script>
	#parse("layout/layout-js.vm")
	<script>seajs.use("userdatafill");</script>	

