#set ($layout="/layout/layout2.vm")

<title>等待审核</title>

<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/filldata.css">
</head>
<body>
	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="http://s0.test.jiuxiulvxing.com/busines/img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10"><img src="http://s0.test.jiuxiulvxing.com/busines/img/default_1.png"><i></i></span>
					<span>Hi：</span><span>13655545879</span>
				</a>
				<a class="ext">退出</a>
			</div>
		</div>
	</div>
	<div class="comwidth agreement-box mt30">
		<div class="tit gray6 f16">达人开通申请</div>
		<div class="titbox">
			<div class="progress clearfix">
				<div class="step start step-on step-fl">
					<div class="step1">1</div>
					<label class="step1">阅读协议</label>
				</div>
				<div class="step step-on">
					<div class="step2">2</div>
					<label class="step2">填写资料</label>
				</div>
				<div class="step step-on step-fr">
					<div class="step3">3</div>
					<label class="step3">等待审核</label>
				</div>
			</div>
		</div>
		<div class="waiting tc m60">
			<i class="mb5"></i><br><label class="f16 gray6">您的达人资料我们已经收到</label>
			<div class="message">
				<span class="f14 gray6">请等待审核结果，审核通过后即可使用！</span><br>
				<span class="f14 gray6">如果有任何疑问，请联系我们：400-0910-700</span>
			</div>
		</div>
	</div>
	