<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" href="../src/css/base.css">
</head>
<body>
<div class="dialog">
	<div class="bgmeng"></div>
	<div class="dlgcont">
		<table>
			<tr>
				<td class="tit">是否通过：</td>
				<td><label><input type="radio" name="isSure" checked="checked" value="1">：是</label><label><input type="radio" name="isSure" value="0">：否</label></td>
			</tr>
			<tr>
				<td class="tit">备注：</td>
				<td><textarea></textarea></td>
			</tr>
		</table>
		<div class="boxbtn">
			<button class="ok">确定</button>
			<button class="cancel">取消</button>
		</div>
	</div>
</div>
<div class="searchbox" style="width:980px;">
	<form id="fm">
		<table>
			<tr>
				<td class="tit">商户名称：</td>
				<td><input name="merchantName" value="$!dto.merchantName" maxlength="30" /></td>
				<td class="tit">商户编号：</td>
				<td><input name="sellerId" value="$!dto.sellerId" maxlength="30" /></td>
				<td class="tit">商户类型：</td>
				<td><select name="type">
					<option  value="0">全部</option>
					<option #if ($!dto.type == 1) selected="selected"  #end value="1">审核通过</option>
					<option #if ($!dto.type == 2) selected="selected" #end value="2">审核不通过</option>
				</select></td><td colspan="2"></td>
			</tr>
			<tr>
				<td class="tit">负责人：</td>
				<td><input name="principleName" value="$!dto.principleName" maxlength="30" /></td>
				<td class="tit">手机号码：</td>
				<td><input name="principleTel" value="$!dto.principleTel" maxlength="30" /></td>
				<td class="tit">状态：</td>
				<td><select name="status">
					<option  value="0">全部</option>
					<option #if ($!dto.status == 1) selected="selected" #end value="1">启用</option>
					<option #if ($!dto.status == 2) selected="selected" #end value="2">禁用</option>
				</select></td>
				<td><button class="searchbtn">搜索</button></td>
			</tr>
		</table>
	</form>
</div>
<div class="gridbox">
	<table class="tbgrid">
		<thead>
			<th>商户类型</th>
			<th>商户名称</th>
			<th>商户编号</th>
			<th>负责人</th>
			<th>注册手机</th>
			<th>创建日期</th>
			<th>状态</th>
			<th>操作</th>
		</thead>
		<tbody>
		#foreach ($examInfo in $examInfoList)
			<tr>
				<td># if ($!examInfo.type == 1) 审核通过 #elseif ($!examInfo.type == 2) 审核不通过  #end</td>
				<td>$!examInfo.sellerName</td>
				<td>$!examInfo.sellerId</td>
				<td>$!examInfo.principleName</td>
				<td>$!examInfo.principleTel</td>
				<td>$!talentBiz.formatDate($!examInfo.createDate)</td>
				<td># if ($!examInfo.status == 1) 启用 #elseif ($!examInfo.type == 2) 禁用  #end</td>
				<td><a href="#" class="exam">查看</a>&nbsp;&nbsp;<label id="row_id" class="exam">审核</label></td>
			</tr>
		#end
		</tbody>
	</table>
	<div class='pagebox'>
		<div class="actionpage"><button class='prev'>上一页</button><label>当前第 </label><label class='curpage'>1</label><label> 页</label><button class='next'>下一页</button></div>
		<div class="pageinfo"><label>共：</label><label class='total'>20</label><label>页</label></div>
	</div>
</div>
<script type="text/javascript" src="../src/js/jquery-1.11.0.js"></script>
<script>
function getdatalist(page){
	var param=$('#fm').serialize();
	$.get('/jdks/dfsd/ddjk.jsp?'+param+'&page='+page,null,function(data){
		
		for(var i=0;i<data.list.length;i++){
			$('.tbgrid').find('tbody').empty().append('');
		}	

		//绑定事件
		$('label.exam').off().on('click',showbox);
	});
}
function showbox(){
	$('.dialog').fadeIn();
}
$(function(){

	var temp=0;

	//页面加载时载入列表
	getdatalist(1);

	$('.cancel,.bgmeng').click(function(){$('.dialog').hide();});

	//查询
	$('.searchbtn').click(function(){
		getdatalist($('.curpage').text()-0);
		return false;
	});

	//弹出审核框
	$('label.exam').on('click',showbox);

	//发出审核请求
	$('.ok').click(function(){
		//数据行ID
		var row_id=$(this).attr('id');
		//修改状态
		$.post(
			'/jdks/dfsd/ddjk.jsp',
			{id:row_id,status:$('input[name="isSure"]').val()},
			function(data){
				$('.dialog').hide();
			}
		);
	});

	//上一页
	$('.prev').click(function(){
		temp=$('.curpage').text();
		if(temp>1){
			temp=temp-1;
			$('.curpage').text(temp)
		}
		getdatalist(temp);
	});

	//下一页
	$('.next').click(function(){
		temp=parseInt($('.curpage').text()),total=parseInt($('.total').text());
		if(temp<total){
			temp=temp+1;
			$('.curpage').text(temp)
		}
		getdatalist(temp);
	});
});
</script>
</body>
</html>