#macro(IS_JOIN_STATUS $type)
    #if($type == '1')
    允许加入
    #elseif($type == '2')
    禁止加入
    #end
#end

#macro(IS_SHOW_STATUS $type)
    #if($type == '1')
    显示
    #elseif($type == '2')
    隐藏
    #end
#end
#*活动状态*#
#macro(ACTIVITY_STATUS $type)
    #if($type == '1')
    上架
    #elseif($type == '2')
    下架
    #end
#end
#*活动报名架状态*#
#macro(ACTIVITY_ENROLL_STATUS $type)
    #if($type == '1')
    未开始
    #elseif($type == '2')
    已满员
    #elseif($type == '3')
    报名中
    #elseif($type == '4')
    已结束
    #end
#end
#*性别*#
#macro(GENDER $type)
    #if($type == '2')
    男
    #elseif($type == '3')
    女
    #else
    未知
    #end
#end

#*标签-状态*#
#macro(TAG_STATUS $type)
    #if($type == '1')
    启用
    #elseif($type == '2')
    停用
    #else
    未知
    #end
#end

#*标签-类型*#
#macro(TAG_TYPE $type)
    #if($type == '1')
    热门标签
    #elseif($type == '2')
    普通标签
    #else
    未知
    #end
#end


#*俱乐部-动态状态(评论状态、直播状态也用这个)*#
#macro(TREND_STATUS $type)
    #if($type == '1')
    正常
    #elseif($type == '2')
    违规
    #end
#end
#*官方游记状态*#
#macro(TRAVELOFFICIAL_STATUS $type)
    #if($type == '1')
    上架
    #elseif($type == '2')
    下架
    #end
#end

#*酒店（资源）状态*#
#macro(HOTEL_STATUS $type)
    #if($type == '1')
    启用
    #elseif($type == '2')
    停用
    #else
    未知
    #end
#end

#*餐厅（资源）状态*#
#macro(RESTAURANT_STATUS $type)
    #if($type == '1')
    启用
    #elseif($type == '2')
    停用
    #else
    未知
    #end
#end

#*景区状态*#
#macro(ITEMSCENIC_STATUS $type)
    #if($type == '1')
    初始化
    #elseif($type == '2')
    启用
    #elseif($type == '3')
    停用
    #end
#end
#*景点级别 1-五星级 2-四星级 3-三星级 4-连锁酒店*#
#macro(SCENIC_LEVEL $type)
    #if($type == '5')
    AAAAA
    #elseif($type == '4')
    AAAA
    #elseif($type == '3')
    AAA
    #elseif($type == '2')
    AA
    #elseif($type == '1')
    A
    #end
#end
#*商品状态*#
#macro(COMMODITY_STATUS $type)
    #if($type == '2')
    启用
    #elseif($type == '3')
    停用
    #else
    未知
    #end
#end
#*支付方式*#
#macro(PAY_CHANNEL $type)
    #if($type == '1')
    支付宝条码
    #elseif($type == '2')
    支付宝网页
    #elseif($type == '3')
    支付宝手机
    #elseif($type == '4')
    微信扫码
    #elseif($type == '5')
    微信JS
    #else
    其他
    #end
#end
#*交易状态*#
#macro(PAY_STATUS $type)
    #if($type == '1')
    未付款
    #elseif($type == '2')
    已付款
    #elseif($type == '4')
    退款后交易关闭
    #elseif($type == '6')
    交易成功
    #elseif($type == '8')
    未付款关闭
    #elseif($type == '9')
    待商户确认
    #else
    其他
    #end
#end
#*交易状态(仅在商贸系统中使用:交易状态变更为    交易创建、交易成功和交易关闭)*#
#macro(TRADE_PAY_STATUS $type)
    #if($type == '1')
    交易创建
    #elseif($type == '2')
    已付款
    #elseif($type == '4')
    退款后交易关闭
    #elseif($type == '6')
    交易成功
    #elseif($type == '8')
    交易关闭
    #elseif($type == '9')
    待商户确认
    #else
    其他
    #end
#end
#*支付记录支付状态*#
#macro(PAY_RECORD_STATUS $type)
    #if($type == '1')
    未支付
    #elseif($type == '2')
    已支付
    #elseif($type == '3')
    全额退款
    #elseif($type == '4')
    部分退款
    #else
    其他
    #end
#end
#*订单管理*#
#*订单状态*#
#macro(ORDER_STATUS $type)
    #if($type == '1')
    待付款
    #elseif($type == '2')
    待确认
    #elseif($type == '3')
    待出行
    #elseif($type == '4')
    已完成
    #elseif($type == '5')
    交易关闭
    #elseif($type == '6')
    待处理
    #elseif($type == '7')
    已退款
    #end
#end
#macro(COMMENT_STATUS $type)
    #if($type == '1')
    动态
    #elseif($type == '2')
    直播
    #else
    其他
    #end
#end
#*订单操作*#
#macro(ORDER_OPERATE $type)
    #if($type == '1')
    <span><input type="button" value="取消订单"></span>
    #elseif($type == '2')
    <span><input type="button" value="确认"></span>
    <span><input type="button" value="退款"></span>
    #elseif($type == '3')
    <span><input type="button" value="完成"></span>
    <span><input type="button" value="退款"></span>
    #elseif($type == '4')
    <span>完成时间：2015-02-05 18：45</span>
    #elseif($type == '5')
    <span>取消来源：XXX客服</span>
    <span>取消时间：2015-02-05 18：45</span>
    <span>取消原因：买家信息填错了，重拍</span>
    #elseif($type == '6')
    <span>退款来源：客服/用户</span>
    <span>退款理由：用户申请退款</span>
    <span>退款金额：￥86.00</span>
    <span>退款时间：2015-02-05 18：45</span>
    #elseif($type == '7')
    <span>退款来源：客服/用户</span>
    <span>退款理由：用户申请退款</span>
    <span>退款金额：￥86.00</span>
    <span>退款时间：2015-02-05 18：45</span>·
    #end
#end
#*订单-游客-游客类型*#
#macro(ORDER_TOURIST_TYPE $type)
    #if($type == '1')
    成人
    #elseif($type == '2')
    儿童
    #end
#end
#*订单-游客-证件类型*#
#macro(ORDER_TOURIST_DOCTYPE $type)
    #if($type == '1')
    身份证
    #end
#end

#macro(IS_RECOMMEND_SELECTED $isRecommend)
<option value="">全部</option>
<option value="true" #if($isRecommend=="true")selected#end>已推荐</option>
<option value="false" #if($isRecommend=="false")selected#end>未推荐</option>
#end
##doctorcenter 外部医生列表
#macro(DOCTOR_LIST_STATUS $status)
<option value="-1">全部</option>
<option value="20" #if($status==20) selected="selected" #end>审核已通过</option>
<option value="40" #if($status==40) selected="selected" #end>账户锁定</option>
#end
##外部医生审核列表
#macro(DOCTOR_AUDITS_STATUS $status)
<option value="-1">全部</option>
<option value="15" #if($status==15) selected="selected" #end>等待审核</option>
<option value="30" #if($status==30) selected="selected" #end>审核未通过</option>
#end

##推荐列表
#macro(RECOMMEND_TYPE $type)
    #if($type == '10')
    必买推荐
    #elseif($type == '18')
    概况
    #elseif($type == '19')
    民俗
    #elseif($type == '20')
    消费
    #elseif($type == '21')
    亮点
    #elseif($type == '22')
    贴士
    #else
    其他
    #end
#end

##券状态
#macro(VOUCHER_STATUS $status)
    #if($status == '1')
    初始
    #elseif($status == '2')
    上架
    #elseif($status == '3')
    下架
    #elseif($status == '4')
    已领完
    #end
#end

##券类型
#macro(VOUCHER_TYPE $type)
    #if($type == '1')
    满减券
    #elseif($type == '2')
    满折券
    #elseif($type == '3')
    兑换券
    #end
#end

##优惠状态
#macro(PROMOTION_STATUS $status)
    #if($status == '1')
    未开始
    #elseif($status == '2')
    进行中
    #elseif($status == '3')
    已结束
    #elseif($status == '4')
    已停用
    #end
#end

##优惠类型
#macro(PROMOTION_TYPE $type)
    #if($type == '1')
    满折
    #elseif($type == '2')
    满减
    #elseif($type == '3')
    满个折
    #elseif($type == '4')
    满个减
    #elseif($type == '5')
    每满减
    #elseif($type == '6')
    直降
    #end
#end
##订单列表-展示的SKU信息
#macro(ROUTE_ORDER_LIST_SKU $type)
    #if($type == 3100 ||$type == 3200 || $type == 3500 || $type == 3600)
       	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!subOrder.executeTime) 出发</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
        <div class="t-userType">$!subOrder.vTxt</div>
    #elseif( $type == 200)
       	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
    #elseif( $type == 3300)
       	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.activityTime</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.activityContent</div>
    #elseif($type == 1200 )
        <div class="t-name">$!order.tcMainOrder.scenicTitle</div>
        <div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!order.tcMainOrder.scenicEnterTime) 入园</div>
        <div class="t-userType">$!order.tcMainOrder.ticketTitle</div>

    #elseif($type == 1100 || $type == 3400)
        <div class="t-name">$!order.tcMainOrder.hotelTitle</div>
        <div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!subOrder.tcDetailOrder.startDate)</div>
        <div class="t-userType">$!order.tcMainOrder.roomTitle</div>
            #if($type == 1100)
            <div class="t-userType">在线付</div>
            #elseif($type == 3400)
            <div class="t-userType">到店付</div>
            #end
    #end
#end

##订单列表-展示的SKU信息
#macro(ROUTE_ORDER_INFO_SKU $type)
    #if($type == 3100 ||$type == 3200 || $type == 3500 || $type == 3600)
    	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!subOrder.executeTime) 出发</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
        <div class="t-userType">$!subOrder.vTxt</div>
    #elseif( $type == 200)
       	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
    #elseif( $type == 3300)
       	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.linePackage</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.activityTime</div>
        <div class="t-userType">$!subOrder.tcDetailOrder.activityContent</div>
    #elseif($type == 1200 )
        <div class="t-name">$!order.mainOrder.tcMainOrder.scenicTitle</div>
    	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!order.mainOrder.tcMainOrder.scenicEnterTime) 入园</div>
        <div class="t-userType">$!order.mainOrder.tcMainOrder.ticketTitle</div>

    #elseif($type == 1100 || $type == 3400)
        <div class="t-name">$!order.mainOrder.tcMainOrder.hotelTitle</div>
    	<div class="t-name">$!subOrder.tcDetailOrder.itemTitle</div>
        <div class="t-date">$!date.format('yyyy-MM-dd',$!subOrder.tcDetailOrder.startDate)</div>
        <div class="t-userType">$!order.mainOrder.tcMainOrder.roomTitle</div>
        #if($type == 1100)
        	<div class="t-userType">在线付</div>
        #elseif($type == 3400)
        	<div class="t-userType">到店付</div>
        #end
    #end
#end

##订单列表-商品类型
#macro(ROUTE_ORDER_LIST_GOODS_TYPE $type)
	#if($type == 3100)
                   国内跟团游
    #elseif($type == 3200)
    国内自由行
    #elseif($type == 3500)
    境外跟团游
    #elseif($type == 3600)
    境外自由行
    #elseif($type == 3300)
    国内当地玩乐
    #elseif($type == 200)
    特产商品
    #elseif($type == 1200)
    国内景区门票
    #elseif($type == 1100)
    酒店客栈
    #elseif($type == 3400)
    酒店客栈
    #end
#end

##订单列表-订单状态-线路
#macro(ORDER_BIZ_STATUS_LINE $type)
    #if($type == 2)
    待付款
    #elseif($type == 3)
    处理中
    #elseif($type == 6)
    待出行
    #elseif($type == 10)
    已完成
    #elseif($type == 8)
    已取消
    #end
#end

##订单列表-订单状态-普通商品
#macro(ORDER_BIZ_STATUS_NORMAL $type)
    #if($type == 2)
    待付款
    #elseif($type == 3)
    已付款
    #elseif($type == 6)
    已发货
    #elseif($type == 10)
    已完成
    #elseif($type == 8)
    已取消
    #end
#end

##订单列表-订单状态-景区
#macro(ORDER_BIZ_STATUS_SPOTS $type)
    #if($type == 2)
    待付款
    #elseif($type == 3)
    待确认
    #elseif($type == 6)
    待使用
    #elseif($type == 10)
    已完成
    #elseif($type == 8)
    已取消
    #end
#end

##订单列表-订单状态-酒店
#macro(ORDER_BIZ_STATUS_HOTEL $type)
    #if($type == 2)
    待付款
    #elseif($type == 3)
    待确认
    #elseif($type == 6)
    预订成功
    #elseif($type == 10)
    已完成
    #elseif($type == 8)
    已取消
    #elseif($type == 11)
    未入住
    #end
#end

##订单列表-订单状态
#macro(ROUTE_ORDER_LIST_ORDER_TYPE $type)
   	#if($type == 3100 || $type == 3200
	 	|| $type == 3300
	 	|| $type == 3500 || $type == 3600)

	 	#ORDER_BIZ_STATUS_LINE($order.orderStatus)
	#elseif($type == 200)
		#ORDER_BIZ_STATUS_NORMAL($order.orderStatus)
	#elseif($type == 1200)
		#ORDER_BIZ_STATUS_SPOTS($order.orderStatus)
	#elseif($type == 1100 || $type == 3400)
		#ORDER_BIZ_STATUS_HOTEL($order.orderStatus)
	#end
#end


#macro(ORDER_BIZ_STATUS_M $type)
    #if($type == 2)
        <span>
           	 待付款；
        </span>
        <span>
           	 下单时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.bizOrder.createTime)
        </span>
    #elseif($type == 3)
        <span>
        	#if($order.mainOrder.orderType == 1200 || $order.mainOrder.orderType == 1100)
        	待确认；
        	#elseif($order.mainOrder.orderType == 200)
        	已付款；
        	#else
        	处理中；
        	#end
        </span>
        <span>
           	 付款时间：#if($!order.mainOrder.tcMainOrder.bizOrder.payTime > 0)$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.bizOrder.payTime)#end
        </span>
        <span>
        	#if($order.mainOrder.orderType == 200)
        		<button type="button" class="btn btn-primary sendGoods"
                    data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">发货
            	</button>
        	#else
        		<button type="button" class="btn btn-primary affirm"
                    data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">确认
            	</button>
        	#end

        </span>
    #elseif($type == 6)
        <span>
        	#if($order.mainOrder.orderType == 1200)
        	待使用；
        	#elseif($order.mainOrder.orderType == 1100)
        	预订成功；
        	#elseif($order.mainOrder.orderType == 200)
        	已发货；
        	#else
        	 待出行；
        	#end
        </span>
        <span>
        	 #if($order.mainOrder.orderType == 200)
          	  	发货时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.deliveryTime)
          	 #else
          	 	 确认时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.deliveryTime)
          	 #end
        </span>
    #elseif($type == 10)
        <span>
        	已完成;
        </span>
        <span>
           	 完成时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.completionTime)
        </span>
        <span>
           	 #if($!order.mainOrder.tcMainOrder.finishOrderSource == "1")
           	 	客户收货
           	 #elseif($!order.mainOrder.tcMainOrder.finishOrderSource == "2")
           	 	客户收货
           	 #elseif($!order.mainOrder.tcMainOrder.finishOrderSource == "3")
           	 	客户收货
           	 #elseif($!order.mainOrder.tcMainOrder.finishOrderSource == "4")
           	 	客户收货
           	 #elseif($!order.mainOrder.tcMainOrder.finishOrderSource == "5")
           	 	超时自动收货
           	 #end
        </span>
        <span>
           	 <button type="button" class="btn btn-primary assessment"
                	data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">查看评价
        	 </button>
        </span>
    #elseif($type == 8)
        <span>
        	已取消;
        </span>
        <span>
           	 取消时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.completionTime)
        </span>
        <span>
           	 取消原因：$!order.mainOrder.tcMainOrder.closeReason
        </span>
    #end
#end

#macro(ORDER_BIZ_STATUS_D_HOTEL $type)
	#if($type == 3)
        <span>
            	待确认；
        </span>
        <span>
           	下单时间：#if($!order.mainOrder.tcMainOrder.bizOrder.payTime > 0)$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.bizOrder.payTime)#end
        </span>
        <span>
            <button type="button" class="btn btn-primary affirm"
                    data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">确认
            </button>
        </span>
    #elseif($type == 6)
        <span>
          	  预订成功；
        </span>
        <span>
          	  确认时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.deliveryTime)
        </span>
        <span>
            <button type="button" class="btn btn-primary isCheck"
                data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">是否入驻
            </button>
        </span>
     #elseif($type == 11)
        <span>
          	  未入住；
        </span>
        <span>
          	  确认时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.deliveryTime)
        </span>
    #elseif($type == 10)
        <span>
            	已完成;
        </span>
        <span>
           	 完成时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.completionTime)
        </span>
        <span>
           	 <button type="button" class="btn btn-primary assessment"
                	data-target="#affirmModal" orderId="$!order.mainOrder.tcMainOrder.bizOrder.bizOrderId">查看评价
        	 </button>
        </span>
    #elseif($type == 8)
        <span>
            	已取消;
        </span>
        <span>
           	 取消时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!order.mainOrder.tcMainOrder.completionTime)
        </span>
        <span>
           	 取消原因：$!order.mainOrder.tcMainOrder.closeReason
        </span>
    #end
#end

##订单详情-出发日期
#macro(ROUTE_ORDER_DETAIL_DEPARTDATE $type)
	 #if($type == 3100 ||$type == 3200 ||$type == 3500 ||$type == 3600)
        <div class="t-date">出发日期：
            $!date.format('yyyy-MM-dd',$!order.mainOrder.tcMainOrder.departTime)
        </div>
     #elseif($type == 1200)
        <div class="t-date">入园日期：
        	$!date.format('yyyy-MM-dd',$!order.mainOrder.tcMainOrder.scenicEnterTime)
        </div>
     #end
#end

##订单详情-证件类型
#macro(CERTIFICATES_TYPE $type)
	#if($type == 1 )
	     身份证
	#elseif($type == 2 )
	护照
	#elseif($type == 3 )
	军人证
	#elseif($type == 4 )
	港澳通行证
	#end
#end

##优惠劵列表-状态
#macro(JIUXIU_VOUCHER_STATUS $type)
	#if($type == 'INIT')
	待上架
	#elseif($type == 'ACTIVE')
	上架
	#elseif($type == 'INACTIVE')
	下架
	#end
#end

