##     totalPage 总页数   showSize-10   cpage 当前页
#macro(pageStyle $formId)
<div class="pagination pagination-large pagination-right pageWrap">
    #set($pageVoNo = $pageVo.thisPageNumber)
    #set($before=0)
    #set($after=0)
    <ul class="pager" style="width: 100%;">
        #if($pageVo.hasPreviousPage)
            <li class="previous">
                <a href="javascript:void(0);" class="LinkeToPage" pageNo="$pageVo.previousPageNumber" id="prePage">«
                    上一页</a>
            </li>
        #else
            <li class="previous disabled">
                <a href="javascript:void(0);" id="prePage">« 上一页</a>
            </li>
        #end
        #foreach($i in [1 .. $pageVo.lastPageNumber])
            #if($pageVoNo == $i)
                <li class="active">
                    <span><a href="javascript:void(0);">$i</a></span>
                </li>
            #elseif(1 >= $i - 1)
                <li>
                    <span><a href="javascript:void(0);" class="LinkeToPage" pageNo="$i">$i</a></span>
                </li>
            #elseif($pageVo.lastPageNumber <= $i + 1)
                <li>
                    <span><a href="javascript:void(0);" class="LinkeToPage" pageNo="$i">$i</a></span>
                </li>
            #elseif($pageVoNo >= $i - 2 && $pageVoNo <= $i + 2)
                <li>
                    <span><a href="javascript:void(0);" class="LinkeToPage" pageNo="$i">$i</a></span>
                </li>
            #elseif($pageVoNo > $i && $before==0)
                <li>
                    <a href="javascript:void(0);" data-toggle="pager" data-placement="top">...</a>
                </li>
                #set($before=1)
            #elseif($pageVoNo < $i && $after==0)
                <li>
                    <a href="javascript:void(0);" data-toggle="pager" data-placement="top">...</a>
                </li>
                #set($after=1)
            #end
        #end
        #if($pageVo.hasNextPage)
            <li class="next">
                <a href="javascript:void(0);" class="LinkeToPage" pageNo="$pageVo.nextPageNumber" id="nextPage">下一页»</a>
            </li>
        #else
            <li class="next disabled">
                <a href="javascript:void(0);" id="nextPage">下一页»</a>
            </li>
        #end
        <li>
            <div class="input-group" style="width: 149px;">
                <span class="input-group-addon">每页</span>
                <select class="form-control pageSize" name="" id="pageSize" style="width: 60px;">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                <span class="input-group-addon">条</span>
				<span class="input-group-addon">共 ${pageVo.totalCount} 条</span>
            </div>
        </li>
    </ul>
    <script type="text/javascript">
        $(function () {
            $(".LinkeToPage").click(function () {
                pageFormSubmit($(this).attr("pageNo"), $("#pageSize").val());
            });
            $(".pageSize").val("$!pageVo.pageSize");
            $(".pageSize").change(function () {
                pageFormSubmit(1, $(this).val());
            });
            var availHei = (top.window.screen.availHeight - 210);
            var availWid = (top.window.screen.availWidth - 600);
            top.$(".tabIframe").attr("style","min-height:"+availHei+"px;min-width:"+availWid+"px;");
        });
        function pageFormSubmit(no, size) {
            var pageNo = $("<input type='hidden' name='pageNumber'/>");
            pageNo.val(no);
            $("#$formId").append(pageNo);
            var pageSize = $("<input type='hidden' name='pageSize'/>");
            pageSize.val(size);
            $("#$formId").append(pageSize);
            $("#$formId").submit();
        }
    </script>
</div>
#end

##显示验证错误信息
#macro(showValidateError $formModel $fieldName)
    #if($!formModel)
        #springBind($fieldName)
    <span style="color: red"> $status.errorMessage </span>
    #end
#end

##显示错误信息##
#macro(showErrorMsg  $errorMsg )
    #if($errorMsg)
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>错误!</h4>$errorMsg
    </div>
    #end
#end
