#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>收支明细</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/payment.css">
</head>

<div class = "payment-right">
    <div class="payment-info clearfix">
        <ul>
            <li class=" first on">收支明细</li>
        </ul>
    </div>
    <div class="search-wrap">
        <div class="date-box">
            <p class="w84 fl lh34">起止日期：</p>
            <input id="getstartime" class = "date-wrap fl" name="getstartime" title="开始时间" readonly="readonly">
            <span class="w26 fl lh34">至</span>
            <input id="getendtime" class = "date-wrap fl" name="getendtime" title="结束时间"   readonly="readonly">
        </div>
        <div class="order-number-box">
            <p class="w84 fl lh34">交易类型：</p>

            <select id="select-type" class="flm select-type"/>
            <option value="0">全部</option>
            <option value="1">提现</option>
            <option value="2">结算</option>

            </select>
        </div>
        <a href="javascript:;" class="btn-search">查询</a>
    </div>
    <div class="table-box">
        <table class="search-table mt10">
            <thead>
            <tr>
                <td>交易流水号</td>
                <td>交易时间</td>
                <td>交易类型</td>
                <td>收支金额</td>
                <td>账户余额</td>
            </tr>
            </thead>
            <tr>
                <td>JS001230</td>
                <td>2016-04-13</td>
                <td>结算</td>
                <td class="income">+1200.0</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>JS001230</td>
                <td>2016-04-13</td>
                <td>结算</td>
                <td class="cost">-800.0</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>JS001230</td>
                <td>2016-04-13</td>
                <td>结算</td>
                <td>+1200.0</td>
                <td>0.00</td>
            </tr>
        </table>
    </div>
    #parse("/page_jiuniu.vm")
</div>

#parse("layout/layout-js.vm")
<script>seajs.use("payment");</script>	