#set($layout = "/layout/layout-jiuxiu.vm")

<head>
    #parse("layout/layout-meta.vm")
    <title>我的钱包</title>
    <link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/payment.css">
    <script src="$utilWebconfig.getStaticResourcesPath()/resources/js/jquery.js" type="text/javascript"></script>
</head>

<!-- 面包屑 -->
<div class = "" id = "eredar">

    <div class = "payment-right p_auth">
        <div class="payment-info clearfix">
            <ul>
                <li class=" first on">设置支付密码</li>
            </ul>
        </div>
        <div class="money-box">
            <h3>为保证您的资金安全，请在开始使用钱包功能之前，认证您的个人信息并设置支付密码</h3>
            <ul class="clearfix">
                <li class="p_auth_step active">
                    <p class="num">1</p>
                    <p class="text">认证信息</p>
                </li>
                <li class="p_auth_step step2">
                    <p class="num">2</p>
                    <p class="text">设置密码</p>
                </li>
                <li class="p_auth_step step3">
                    <p class="num">3</p>
                    <p class="text">设置成功</p>
                </li>
            </ul>
        </div>
        <section id="p_auth_page1">
            <div class="money-box">
                <h3>商户负责人信息确认</h3>
                <div class="container">
                    <div class="row">
                        <span>负责人手机号</span>
                        <p>$!mobileKey</p>
                    </div>
                    <div class="row">
                        <span>短信验证码</span>
                        <input id="p_auth_code" placeholder="验证码">
                        <button id="pg1_code_btn" >免费获取</button>
                        <span style="color: red;display: none;" id="codeError">验证码错误</span>
                    </div>
                </div>
            </div>
            <div class="money-handle">
                <p class="mt20">
                    <a id="pg1_next_btn">下一步</a>
                </p>
            </div>
        </section>
        <section id="p_auth_page2">
            <div class="money-box">
                <h3>设置支付密码</h3>
                <p class="warn">* 实名信息认证成功，请设置您的支付密码，如退出此页面，则需再次验证身份！</p>
                <div  class="container">
                    <div  class="row">
                        <span class="tr">新支付密码</span>
                        <input id="p_auth_password" type="password" placeholder="请设置新的支付密码">
                        <span class="tip tip1">* 请输入6位数字作为密码</span>
                    </div>
                    <div  class="row">
                        <span class="tr">确认新支付密码</span>
                        <input id="p_auth_password2" type="password" placeholder="请再次确认新的支付密码">
                        <span class="tip tip2"></span>
                    </div>
                </div>
            </div>
            <div class="money-handle">
                <p class="mt20">
                    <a id="pg2_commit_btn">确认提交</a>
                </p>
            </div>
        </section>
        <section id="p_auth_page3">
            <div class="money-box">
                <h3>设置成功</h3>
                <div class="container">
                    <i></i>
                    <p>支付密码设置成功</p>
                    <p id="timerTip">3秒后返回到钱包首页！</p>
                </div>
            </div>
        </section>

    </div>
</div>
#parse("layout/layout-js.vm")
<script>seajs.use("authentication");</script>

