#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>提现</title>
	<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/payment.css">
</head>

<!-- 面包屑 -->
<div class = "" id = "eredar">
    <div class = "payment-right">
        <div class="payment-info clearfix">
            <ul>
                <li class=" first on w82">提现</li>
            </ul>
        </div>
        <div class="payment-info-box">
            <div class="payment-bank-info">
                <p class="w445"><span class="fl">企业名称：<i>$!{accountInfo.corpName}</i></span><span class="fr">* 仅支持提现到公司对公户</span></p>
                <p>对公账户：<i>$!{accountInfo.openAcctNo}</i></p>
                <p>开&ensp;户&ensp;行：<i>$!{accountInfo.openBankName}</i></p>
            </div>
            <div class="payment-balance">
                <p class="w445"><span class="fl">可提现余额：<i>$!{accountInfo.accountBalanceYuan}</i>元</span><span class="fr">* 对公提现仅支持全额提现</span></p>
            </div>
        </div>
        <a href="javascript:;" class="submit btn-withdrawal">确认提交</a>
    </div>
</div>

#parse("layout/layout-js.vm")
<script>seajs.use("payment");</script>	