#set($layout="layout/layout-blank.vm")
##选中菜单
#set( $selectMenu = "/item/cateList" )
<html>
    <head>
		#parse("layout/layout-meta.vm")
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta property="wb:webmaster" content="3aababe5ed22e23c" />     
        <title>类目</title>
		<style>
			.chse{float:left; width:200px;height:500px;margin:20px;border:1px solid #ddd;}
			.chse a{display:block;width:190px;min-height:24px;line-height:24px;padding:0 5px;word-wrap: break-word;}
			.chse a:hover{background:#ddd;cursor:pointer;}
			.chse a:link{background:red;}
			.chse a:active{background:#bbb;}
			.chse a.clk{cursor:pointer;}
			.chse a.onsel{background: #FFAF00;color: #000000;}
			.a_link{display:inline-block;margin:0 20px 20px;background:#bbb;cursor:pointer;width:100px;heigth:24px;line-height:24px;text-align:center;color:#000;font-size:14px;text-decoration:none;}
		</style>
        <link href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/groupTravel.css?version=$!{utilWebconfig.getResourceVersion()}"/>
        
		<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/old/css/addtravel.css"/>
		<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/old/css/editer.css"/>
		

		<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/old/js/jquery.js"></script>
		<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/old/js/jquery.form.js"></script>
		<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/old/layer/layer.js"></script>
		<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/old/js/addtravel.js"></script>
		<script type="text/javascript" src="$!rs_js_css_path_jiuxiu/old/js/upldf.js"></script>
		</head>
	<body>
		<div class="clearfix">
			<div class="chse"></div>
		</div>
		<a id="a_link" class="a_link">确定</a>
	</body>
</html>
<script>
    function getdata(level,id,n){
	n=n?n:0;
	$.ajax({
		url : "$!utilWebconfig.getActionDefaultFontPath()/item/getcate",
		data:{categoryId:id},
		success : function(data){
			var selobj=$('.chse:eq('+n+')').empty(),obja=$('.a_link');
			for(var i=0;i<data.length;i++){
					if(data[i].isLeaf){
						selobj.append('<a id='+data[i].categoryId+'>'+data[i].categoryName+'</a>')
						.find('a:eq('+i+')').on('click',function(ev){
							$(this).addClass('onsel').siblings('a').removeClass('onsel');
							$('.chse:eq('+(n+1)+')').remove();
							obja.attr({'href':'$!utilWebconfig.getActionDefaultFontPath()/item/category/'+$(this).attr('id')+'/create','style':'background:#FFAF00'});
						});
					}else{
						if(level>(n+1)){
							selobj.append('<a class="clk" id='+data[i].categoryId+'>'+data[i].categoryName+'</a>')
							.find('a:eq('+i+')').on('click',function(ev){
								$(this).addClass('onsel').siblings('a').removeClass('onsel');
								var pr=$(this).closest('.chse');
								obja.attr({'href':'javascript:void(0)','style':'background:#bbb'});
								pr.nextAll('.chse').remove();
								if(pr.next('.chse').length==0) pr.after($('<div>',{'class':'chse'}));
								getdata(level,$(this).attr('id'),n+1);
							});
						}
					}
			}
		}             
	});
}
$(function(){
	getdata(3);	
});
</script>