#set($layout="layout/layout-blank.vm")
<!DOCTYPE html>
<html>
    <head>
		#parse("layout/layout-meta.vm")
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta property="wb:webmaster" content="3aababe5ed22e23c" />     
        <title>类目</title>
        <style>
			select{width:200px;height:500px;margin:20px;}
			.a_link{display:inline-block;background:#1E90FF;cursor:pointer;width:100px;heigth:24px;line-height:24px;text-align:center;color:#fff;font-size:14px;text-decoration:none;}
		</style>
        <link href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/groupTravel.css?version=$!{utilWebconfig.getResourceVersion()}"/>
        
        <link rel="stylesheet" href="$rs_js_css_path_admin/css/base.css">
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/common.css"/>
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/zui.min.css"/>
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/addtravel.css"/>
		<link rel="stylesheet" href="$rs_js_css_path_admin/css/editer.css"/>
		

		<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.form.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/zui.min.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/layer/layer.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/addtravel.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/js/upldf.js"></script>
		</head>
	<body>
		<div>
		<select class="chse" multiple="true"></select>
		</div>
		<a class="a_link">确定</a>
	</body>
</html>
<script>
    function getdata(level,id,n){
	n=n?n:0;
	$.ajax({
		url : "$!utilWebconfig.getActionDefaultFontPath()/item/getcate",
		data:{categoryId:id},
		success : function(data){
			var selobj=$('.chse:eq('+n+')').empty(),obja=$('.a_link');
			for(var i=0;i<data.length;i++){
					if(data[i].isLeaf){
						selobj.append('<option value='+data[i].categoryId+'>'+data[i].categoryName+'</option>')
						.find('option:eq('+i+')').on('click',function(ev){
							$('.chse:eq('+(n+1)+')').remove();
							obja.attr({'href':'$!utilWebconfig.getActionDefaultFontPath()/item/category/'+$(this).val()+'/create','style':'background:#1E90FF'});
						});
					}else{
						if(level>(n+1)){
							selobj.append('<option style="background:#98CC65;cursor:pointer;" value='+data[i].categoryId+'>'+data[i].categoryName+'</option>')
							.find('option:eq('+i+')').on('click',function(ev){
								var pr=$(this).closest('select');
								obja.attr({'href':'javascript:void(0)','style':'background:#bbb'});
								pr.nextAll('select').remove();
								if(pr.next('select').length==0) pr.after($('<select>',{class:'chse',multiple:true}));
								getdata(level,$(this).val(),n+1);
							});
						}
					}
			}
		}             
	});
}
$(function(){
	getdata(3);
});
</script>