#set($layout="layout/layout-blank.vm")
<!DOCTYPE html>
<html>
    <head>
		#parse("layout/layout-meta.vm")
        <title>商品列表</title>
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.css">
        <link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/groupTravel.css?version=$!{utilWebconfig.getResourceVersion()}"/>
		<link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/css/zui.min.css"/>
		<link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/css/common.css"/>
		
		<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.js"></script>
		<script type="text/javascript" src="$rs_js_css_path_admin/layer/layer.js"></script>
	
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/layerModal.js" type="text/javascript"></script>
		<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/js/zui.min.js" type="text/javascript" ></script>
		<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/lib/datetimepicker/datetimepicker.min.js" type="text/javascript"></script>
        <script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/js/input.js" type="text/javascript"></script>
	</head>
	<body>
        <div >
        	<form class="form-signin" id="itemListForm" action="$!utilWebconfig.getActionDefaultFontPath()/item/list" method="GET" role="form">
                <div class="inputGroup whole">
                    <div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">商品名称：</button>
                        </span>
                        <input type="text"  class="form-control" name="name" value="$!query.name"/>
                    </div>
        			<div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">商品编号：</button>
                        </span>
                        <input type="text"  class="form-control" name="itemId" value="$!query.itemId"/>
                    </div>
        			<div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">商品类型：</button>
                        </span>
                        <select class="form-control" name="itemType">
        					<option value="" #if(!$query.itemType) selected #end>全部</option>
        					#foreach($itemType in $itemTypeList)
        					<option value="$!{itemType.value}" #if($query.itemType == $itemType.value) selected #end >$!{utilItem.getItemTypeName($itemType.value)}</option>
        					#end
                        </select>
                    </div>
                    <div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">状态：</button>
                        </span>
                        <select class="form-control" name="status">
        					<option value="" #if(!$query.status) selected #end>全部</option>
        					#foreach($itemStatus in $itemStatusList)
                            <option value="$!{itemStatus.value}" #if($query.status == $itemStatus.value) selected #end >$!{utilItem.getItemStatusName($itemStatus.value)}</option>
        					#end
                        </select>
                    </div>
        			<div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">发布时间</button>
                        </span>
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="beginDate" value="$!commodityListQuery.beginDate">
                        <span class="input-group-addon fix-border fix-padding dateInpCenter">至</span>
                        <input type="text" class='form-control form-date dateInp' placeholder='' readonly name="endDate" value="$!commodityListQuery.endDate">
                    </div>
        			<div class="btn-group">
                        <button type="submit" class="btn btn-primary form-submit">查询</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary form-clear">清空</button>
                    </div>
                </div>
                <div class="inputGroup whole">
        			 <div class="btn-group">
                       <button type="button" class="btn btn-primary batch-operate" operate-type="SHELVE">批量上架</button>
                     </div>
        			 <div class="btn-group">
                       <button type="button" class="btn btn-primary batch-operate" operate-type="UNSHELVE">批量下架</button>
                     </div>
        			 <div class="btn-group">
                       <button type="button" class="btn btn-primary batch-operate" operate-type="DELETE">批量删除</button>
                     </div>
        		 </div>
        		 <div class="tableGroup whole">
                     <table class="table datatable table-bordered table-hover">
        				<thead>
                            <tr>
                                <th data-col-class="text-center" data-width="80">编号</th>
                                <th>商品信息</th>
        						<th data-width="160">目的地</th>
                                <th data-col-class="text-center" data-width="110">类型</th>
                                <th data-width="160">单价</th>
        						<th data-col-class="text-center" data-width="70">状态</th>
        						<th data-type="date" data-width="100">发布时间</th>
        						<th data-col-class="text-center" data-width="60">操作</th>
                            </tr>
                        </thead>
        				<tbody >
                            #foreach($item in $pageVo.resultList)
                            <tr id="item_$!{item.id}" item-id="$!item.id">
                                <td>$!item.id</td>
                                <td>$!item.name</td>
        						<td>$!item.destString</td>
        						<td>$!{utilItem.getItemTypeName($item.type)}</td>
        						<td>￥$!{utilMoney.centToYuanMoneyFormat($item.price)}</td>
                                <td>$!{utilItem.getItemStatusName($item.status)}</td>
        						<td>$!{utilDate.date2String($item.publishDate)}</td>
                                <td>
        							#if($item.containsOperate('VIEW'))
        							<a class="btn btn-mini btn-link" href="$!utilWebconfig.getActionDefaultFontPath()/item/$!item.id/type/$!item.type/view/" target="_blank">查看</a><br/>
        							#end
        							#if($item.containsOperate('EDIT'))
									<a class="btn btn-mini btn-link" href="$!utilWebconfig.getActionDefaultFontPath()/item/$!item.id/type/$!item.type/edit/" target="_blank">编辑</a><br/>
        							#end
        							#if($item.containsOperate('SHELVE'))
        							<a class="btn btn-mini btn-link item-operate" href="javascript:void(0);" item-id="$!item.id" operate-type="SHELVE">上架</a><br/>
        							#end
        							#if($item.containsOperate('UNSHELVE'))
									<a class="btn btn-mini btn-link item-operate" href="javascript:void(0);" item-id="$!item.id" operate-type="UNSHELVE">下架</a><br/>
									#end
									#if($item.containsOperate('DELETE'))
									<a class="btn btn-mini btn-link item-operate" href="javascript:void(0);" item-id="$!item.id" operate-type="DELETE">删除</a><br/>
        							#end
        						</td>
                            </tr>
        					#end
                        </tbody>
                    </table>
                </div>
            #*分页*#
            #parse("/page.vm")
            #pageStyle("itemListForm")
            </form>
        </div>
	</body>
</html>
<script>
	$(".form-clear").click(function() {
		$(".form-control").val("");
	});
	$(".form-date").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd"
    });
	var checkedIdList=[];
	$("table.datatable").datatable({
		checkable: true,
		checksChanged: function(event) {
			var temp = [];
			$(event.checks.checks).each(function() {
				var item_id = $("#" + this).attr("item-id");
				temp.push(item_id);
			});
			checkedIdList = temp;
        }
	});
	//批量操作
    $('.batch-operate').click(function(){
		if(checkedIdList.length > 0) {
    		layer.confirm('是否确认'+ $(this).text()+'？', {icon: 3, title:'提示'}, function(index){
            	var param = {
            		itemIds:checkedIdList,
            		operate:$(this).attr("operate-type")
            	};
            	$.post("$!{utilWebconfig.getActionDefaultFontPath()}/item/batchOperate",param,function(result) {
            		if(result.success) {
            			window.location.reload();
            		} else {
            			layer.alert('操作失败', {
            				icon : 2
            			});
            		}
            	},"json");
                layer.close(index);
            });
        } else {
        	layer.msg('请选择标签', {
        		icon : 2,
        		time : 1000
        	});
        }
    });
	// 商品操作
	var operateUrl;
	var operateParams;
	$('.item-operate').click(function(){
		var id = $(this).attr("item-id");
		var params = {
			operate:$(this).attr("operate-type")
		};
		operateUrl = "$!{utilWebconfig.getActionDefaultFontPath()}/item/"+id+"/operate";
		operateParams = params;
		layer.confirm('是否确认'+ $(this).text()+'？', {icon: 3, title:'提示'}, function(index){
    		$.post(operateUrl,operateParams,function(result) {
    			if(result.success) {
    				window.location.reload();
    			} else {
    				layer.msg('操作失败', {
        				icon : 2,
        				time : 1000
        			});
    			}
    		},"json");
			layer.close(index);
        });
    });
</script>