<h1>展位列表</h1>
    <form class="form-signin" id="boothListForm" name="boothListForm" action="$!utilWebconfig.getActionDefaultFontPath()/rcBooth/list" method="GET" role="form">
        <div class="inputGroup whole">
            <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">展位code</button>
                    </span>
                <input type="text" class="form-control" name="code" value="$!code">
            </div>
			<input type="hidden" name="page" value="$!page"/>
            <div class="input-group inpSingle">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">状态：</button>
                </span>
                <select class="form-control" name="status">
                    <option value="0">全部</option>
                    <option value="10" #if($!status == 10) selected #end>上架</option>
                    <option value="20" #if($!status == 20) selected #end>下架</option>
                </select>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">查询</button>
            </div>
            <div class="btn-group">
                <button type="reset" class="btn btn-primary">重置</button>
            </div>
        </div>

        <div class="tableGroup whole">
            <button type="button" class="btn btn-primary boothAdd">新建</button>
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>代码</th>
                    <th>名称</th>
                    <th>描述</th>
                    <th>页面类型</th>
                    <th>最后修改时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                    #foreach($booth in $bothList)
                    <tr>
                        <td>$!velocityCount</td>
                        <td>$!booth.code</td>
                        <td>$!booth.name</td>
                        <td>$!booth.desc</td>
                        <td>$!booth.type</td>
                        <td>$utilDate.dateToString($!booth.gmtModified,"yyyy-MM-dd HH:mm")</td>
                        <td>$!booth.status</td>
                        <td>
                        <button type="button" class="btn btn-primary boothEdit" boothId="$booth.id">修改</button>
                        #if($booth.status == 10)
                        	 <button type="button" class="btn btn-primary boothUpdown"  boothId="$booth.id" isStatus="20"> 上架  </button>
                        #elseif($booth.status == 20)
                        	 <button type="button" class="btn btn-primary boothUpdown"  boothId="$booth.id" isStatus="10"> 下架  </button>
                        #end
                       
                        </td>
                    </tr>
                    #end
            </table>
        </div>
    #*分页*#
    #parse("/page.vm")
    #pageStyle("boothListForm")
    </form>
<script>
    $(function(){
        $('.boothAdd').click(function(){
            var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/rcBooth/initAdd';
            top.tabsAdd("",url,2,$(this).text());
        });

        $('.boothEdit').each(function(){
            $(this).click(function(){
                var url = '$!utilWebconfig.getActionDefaultFontPath()' + '/rcBooth/initAdd？id='+ $(this).attr('boothId');
                top.tabsAdd("",url,2,$(this).text());
            });

        });

        $('.activityBtn').each(function(){
            $(this).click(function(){
                $(this).prop('disabled',true);
                $.post('$!utilWebconfig.getActionDefaultFontPath()'+'/B2C/activityManage/setIsStatus/' + $(this).attr('activityId') ,{'isStatus':$(this).attr('isStatus')} ,function(data){
                    if(data.status == 200){
                        var msg = new $.zui.Messager('操作成功', {placement: 'center',type:'success',time:'1000'});
                        msg.show();
                        //TODO暂时先刷新页面
                        setTimeout(function(){
                            window.location.href = window.location.href;
                        },1050);
                        //window.location.href = window.location.href;
                    }else{
                        var msg = new $.zui.Messager('操作失败', {placement: 'center',type:'warning',time:'1000'});
                        msg.show();
                        $(this).prop('disabled',false);
                    }
                })
            });
        });
    });
</script>