#set($layout = "/layout/layout-jiuxiu-order.vm")	
#set($selectMenu = "/order/assessmentList")

	<script src="$utilWebconfig.getStaticResourcesPath()/resources/js/jquery.js?version=20160414"></script>
<head>
	#parse("layout/layout-meta.vm")
    <title>评价管理</title>
    <link rel="stylesheet" href="$rs_js_css_path_jiuxiu/css/sevice.css">
</head>

	<input type="hidden" id="subpath" class="subpath" value="$!root_path/order/assessmentList">
    <form class="form-signin" id="tradeListForm" name="tradeListForm"
          action="" role="form">
			<div class = "rewiewMag reW clearfix">
				<p class = "first">
					<em>订单编号：</em><input type="text" name = "orderNO" value="$!assessmentListQuery.orderNO"/>
					<em class = "right">用户昵称：</em><input type="text" name = "nickName" value = "$!assessmentListQuery.nickName"/>
				<p>
				<p>
					<em>商品编号：</em><input type="text" name = "itemNo" value="$!assessmentListQuery.itemNo"/>
					<em class = "right">评论时间：</em><input class = "time"  id = "tm"  readonly="readonly" name = "beginDate" value="$!assessmentListQuery.beginDate"/>
					<strong>至</strong><input class = "time" id = "td"  readonly="readonly" name = "endDate" value="$!assessmentListQuery.endDate"/>
					<button type="submit" class = "searchBtn">查询</button>
					<button type="button" class = "delBtn">清空</button>
				<p>
			</div>
       	<div class = "reviewReslut">
			<div class ="rewiewID reW">
				<p>查询结果</p>
			</div>
			#foreach($assessment in $assessmentList)
				<div class = "rewiewInfo reW clearfix">
					<dl class = "infoleft">
						#if("$!assessment.userPhoto" == "")
						<img src="$!rs_path_jiuxiu/img/default_1.png">
						#else
						<img src="$!tfs$!assessment.userPhoto">
						#end
						</br>
						<strong title = "$!assessment.nickName" class = "gray6 infonick">$!assessment.nickName</strong>
					</dl>
					<dl class = "inforight clearfix">
						<p>
							<em>订单编号：</em><span class = "black">$!assessment.orderId</span>
							<em class="emW">商品编号：</em><span class = "black">$!assessment.itemId</span>
							<em class="emW">商品名称：</em>
								<span class = "black sName" title = "$!assessment.itemName">
									$!assessment.itemName
								</span>
						</p>
						<p class = "rightGrade">
							<em>综合评分：</em><span>$!assessment.score_</span>
							#foreach($dimension in $assessment.dimensionInfoResultList)
								<em>$!dimension.dimensionName：</em><span>$!dimension.dimensionScore</span>
							#end
						</p>
						<span class = "infoP">
							$!assessment.content
						</span>
						<div class = "upload upload$!{velocityCount} clearfix">
							<ul>
								#foreach($picUrl in $assessment.picUrls)
									<li><img src = "$!tfs$!picUrl"><b></b></li>
								#end
							</ul>
						</div>
						<div class = "showImg">
							<img>
						</div>
						<p class = "infotime">$!date.format('yyyy-MM-dd HH:mm:ss',$!assessment.gmtCreated)</p>
					</dl>
				</div>
			#end
        </div>
    #*分页*#
        #parse("/page.vm")
        #pageStyle("tradeListForm")
    </form>

 <!-- 尾部结束 -->
#parse("layout/layout-js.vm")
<script>seajs.use("review");</script>	

