<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>修改订单价格</title>
    <link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/zui/css/zui.min.css?version=20160414">
    <link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/layer-v2.1/skin/layer.css">
    <link rel="stylesheet" href="$utilWebconfig.getStaticResourcesPath()/resources/layer-v2.1/skin/mySkin/style.css">
    <style type="text/css">
    .change-price-modal {
        padding: 10px;
    }
    
    .change-price-modal .table {
        margin-bottom: 0;
    }
    
    .orgin-price,
    .real-price {
        height: 50px;
        line-height: 50px;
    }
    
    .orgin-price .price,
    .real-price .price {
        color: #f00;
    }
    
    .change-price-modal .model-button {
        margin-top: 20px;
        text-align: center;
    }
    
    .error {
        border-color: #a94442;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    </style>
</head>

<body>
    <div id="page"></div>
    <script type="text/x-handlebars-template" id="tpl_change_price">
        <div class="change-price-modal">
            <div class="orgin-price">
                <span>订单原价：</span>
                <span class="price">￥{{main_order_price}}</span>
                <span>元</span>
            </div>
            <table class="table table-hover table-bordered">
                <tr>
                    <th style="width:200px">商品名称</th>
                    <th style="width:100px">原价</th>
                    <th style="width:100px">数量</th>
                    <th style="width:100px">实付价</th>
                    <th style="width:200px">修改后价格</th>
                </tr>
                {{#each son_order_list}}
                <tr>
                    <td class="middle">{{son_order_product_name}}</td>
                    <td class="middle">{{son_order_price}}</td>
                    <td class="middle">{{son_order_number}}</td>
                    <td class="middle">{{son_order_real_price}}</td>
                    <td class="middle">
                        <input class="form-control" id="{{son_order_id}}" placeholder="{{son_order_real_price}}" />
                    </td>
                </tr>
                {{/each}}
            </table>
            <div class="real-price">
                <span>买家实付：</span>
                <span>1</span>
                <span>+</span>
                <span>1</span>
                <span>=</span>
                <span class="price">2</span>
                <span>元</span>
            </div>
        </div>
    </script>
    <script src="$utilWebconfig.getStaticResourcesPath()/resources/js/jquery.js?version=20160414"></script>
    <script src="$utilWebconfig.getStaticResourcesPath()/resources/layer-v2.1/layer.js?version=20160414"></script>
    <script src="$utilWebconfig.getStaticResourcesPath()/resources/js/handlebars.js"></script>
    <script>
    function getOrderId() {
        var reg = new RegExp('(^|&)orderid=([^&]*)(&|$)', 'i');
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return unescape(r[2]);
        }
        return null;
    }
    var page = {
        init: function() {
            page.renderPage();
            page.attachEvent();
        },
        getOrderId: function() {
            var reg = new RegExp('(^|&)orderid=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        },
        renderPage: function() {
            var orderid = page.getOrderId();
            var order = parent.getOrderInfo(orderid);
            page.order = order;
            var template = Handlebars.compile($("#tpl_change_price").html());
            $(template(page.order)).appendTo("#page");
            page.formatRealPrice();
        },
        attachEvent: function() {

            $(document).on("blur", ".form-control", function() {
                var _this = $(this);
                var val = _this.val();
                if (val.length > 0) {
                    var fval = parseFloat(val);
                    _this.removeClass("error");
                    var reg = /^((?!0)\d+(\.\d{1,2})?)$/;
                    if (!reg.test(val) && isNaN(fval)) {
                        _this.addClass("error");
                    } else {
                        _this.val(fval.toFixed(2));
                    }
                }

                page.changeRealPrice();
            });
        },
        formatRealPrice: function() {
            if (page.order == null) {
                return;
            }

            var temp = [];
            var sonOrderLength = page.order.son_order_list.length;
            if (sonOrderLength == 1) {
                $(".real-price").html('<span>买家实付：</span><span class="price">￥' + page.order.main_order_price + '</span><span>元</span>');
                return;
            }

            temp.push("<span>买家实付：</span>");
            for (var index = 0; index < sonOrderLength; index++) {
                var sonOrder = page.order.son_order_list[index];
                if (index == sonOrderLength - 1) {
                    temp.push('<span>' + sonOrder.son_order_real_price + '</span>');
                } else {
                    temp.push('<span>' + sonOrder.son_order_real_price + '</span><span>+</span>');
                }
            }
            temp.push('<span>=</span><span class="price">￥' + page.order.main_order_price + '</span><span>元</span>');
            $(".real-price").html(temp.join(''));
        },
        changeRealPrice: function() {
            if (page.order == null) {
                return;
            }

            var temp = [];
            var total = 0;
            var sonOrderLength = page.order.son_order_list.length;
            if (sonOrderLength == 1) {
                total = $("#" + page.order.son_order_list[0].son_order_id).val();
                if (total == '' || $("#" + page.order.son_order_list[0].son_order_id).hasClass("error")) {
                    total = page.order.main_order_price;
                }
                $(".real-price").html('<span>买家实付：</span><span class="price">￥' + parseFloat(total).toFixed(2) + '</span><span>元</span>');
                return;
            }
            temp.push("<span>买家实付：</span>");
            for (var index = 0; index < sonOrderLength; index++) {
                var sonOrder = page.order.son_order_list[index];
                var input = $("#" + sonOrder.son_order_id);
                var newPrice = input.val();
                var hasError = input.hasClass("error");
                var sonRealPrice = newPrice == "" || hasError ? parseFloat(sonOrder.son_order_real_price) : parseFloat(newPrice);
                if (index == sonOrderLength - 1) {
                    temp.push('<span>' + sonRealPrice.toFixed(2) + '</span>');
                } else {
                    temp.push('<span>' + sonRealPrice.toFixed(2) + '</span><span>+</span>');
                }
                total += sonRealPrice;
            }
            temp.push('<span>=</span><span class="price">￥' + total.toFixed(2) + '</span><span>元</span>');
            $(".real-price").html(temp.join(''));
        },
        isValid: function() {
            var result = {
                isValid: false,
                msg: ""
            };

            if ($(".form-control.error").length > 0) {
                result.msg = "请输入正确的修改后价格";
                return result;
            }

            $(".form-control").each(function() {
                if ($(this).val() != "") {
                    result.isValid = true;
                    return;
                }
            });
            if (!result.isValid) {
                result.msg = "请至少输入一个修改后价格。";
            }
            return result;
        },
        getChangedResult: function() {
            var newOrder = {};
            newOrder.main_order_id = page.order.main_order_id;
            newOrder.main_order_price = 0;
            newOrder.son_order_list = $.map(page.order.son_order_list, function(son) {
                var input = $("#" + son.son_order_id);
                var newPrice = input.val();
                newPrice = newPrice == ""? parseFloat(sonOrder.son_order_real_price) : parseFloat(newPrice);
                newOrder.main_order_price += newPrice;
                return {
                    son_order_id: son.son_order_id,
                    son_order_price: newPrice
                };
            });

            return newOrder;
        }
    };
    $(function() {
        page.init();
    });
    </script>
</body>

</html>
