<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link rel="shortcut icon" href="../../img/jiuxiu_favicon.ico" mce_href="../../img/jiuxiu_favicon.ico" type="image/x-icon" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改密码</title>
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/base.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/common.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="http://s0.test.jiuxiulvxing.com/busines/src/css/eredar.css">
</head>
<body>
	<div class="header">
		<div class="comwidth content clearfix">
			<a class="fl block"><img src="../../img/logo.jpg"></a>
			<div class="fr user-block">
				<a class="user-block-link mr15 not-a">
					<span class="circle mr10"><img src="../../img/default_1.png"><i></i></span>
					<span>Hi：</span><span>13655545879</span>
				</a>
				<a class="ext">退出</a>
			</div>
		</div>
	</div>
	<!-- 面包屑 -->
	<div class = "comwidth crumbs f12">您所在的位置：店铺管理><a class = "f12 gray6">修改密码</a></div>
	<div class = "comwidth clearfix" id = "eredar">
		<div class = "eredar-left">
			<dl class = "first">
				<dd>商品管理</dd>
				<dt class = "one">添加商品</dt>
				<dt>商品列表</dt>
			</dl>
			<dl>
				<dd>订单管理</dd>
				<dt class = "one">订单列表</dt>
			</dl>
			<dl>
				<dd>店铺管理</dd>
				<dt>基本信息</dt>
				<dt>账户信息</dt>
				<dt  class = "one on">修改密码</dt>
			</dl>
			<dl>
				<dd>对账管理</dd>
				<dt class = "one">月结账单</dt>
			</dl>
		</div>
		<div class = "eredar-right">
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">修改密码</li>
				</ul>
			</div>
			<div class = "eredar-list eredar-list1 changePass">
				 <form class="registerform" method="post">
					<table width='100%'>
						<tr>
							<td class="tbtxt w280"><span>请输入原源码：</span></td>
							<td><input type="password" class="setpwd4 passinput" value="" name="userpassword" datatype="*6-15" errormsg="密码范围在6~15位之间"></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>请输入新源码：</span></td>
							<td><input type="password" class="setpwd4 passinput" value="" name="userpassword" datatype="*6-15" errormsg="密码范围在6~15位之间"></td>
						</tr>
						<tr>
							<td class="tbtxt w280"><span>请重复新源码：</span></td>
							<td><input type="password" class="setpwd5 passinput" value="" name="userpassword2" datatype="*" recheck= "userpassword" errormsg="您两次输入的账号密码不一致"></td>
						</tr>
						<tr class = "distanceID">
							<td colspan = "2"><button class = "saveBtn">保存</button></td>
						</tr>
					</table>
				</form> 
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../src/js/sea.js"></script>
	<script type="text/javascript" src="../../src/js/seajs-preload.js"></script>
	<script type="text/javascript" src="../../src/js/config.js"></script>		
	<script>seajs.use("eredar");</script>
</body>
</html>