#set($layout = "/layout/layout-account.vm")
#set($title = "登录-九休商户后台")
#parse("/layout/layout-meta.vm")	
	
    <!-- 首页的中心部分开始 -->
	<div id="ym-login-banner" class="login">
		<div class="login-body">
			
			<h1 class="title">用户登录</h1>
			<form action="$root_path/user/login" method="post" id="loginForm">
				<input type='hidden' name='callback' value='$!{callback}'/>					
				<p class="btngroup">
					<input type="text" class="textinput" name="username" id="loginname" placeholder="请输入手机号" datatype="m" nullmsg="请输入手机号"  errormsg="请您输入正确的手机号" autocomplete="off"/>
					<span class="Validform_checktip"></span>
				</p>
				<p class="btngroup">
					<input type="hidden" id="loginpwd_" name="password">
					<input type="password" class="textinput"  id="loginpwd" placeholder="请输入密码" datatype="*" nullmsg="请输入您的密码" autocomplete="off"/>
					<span class="Validform_checktip"></span>
				</p>
				#if($!isPop=='true')
                    <p class="btngroup clearfix">
                        <input type="text" class="textinput sortinput" name="imageCode" id="imgcode" value="" placeholder="请输入验证码" datatype="/^[0-9A-Za-z]{4,4}$/" nullmsg="请输入验证码" errormsg="请输入4位验证码" autocomplete="off"/>
                        <img src="$!{utilWebconfig.rootPath}/user/getPerfectImgCode" class="imgcode" width="152" height="48" onclick="this.src='$root_path/user/getPerfectImgCode?d='+Math.random();"/>
                        <span class="Validform_checktip"></span>
                    </p>
				#end
				<p class="first clearfix">
					<label><input type="checkbox" class="saveuser"/>记住用户名</label>
					<a href="$root_path/user/retrievePassword" target="_blank">忘记密码？</a>
				</p>
				<input type="submit" id="loginSubmitBtn" class="winloginbtn" value="登录"/>
				<p class="last">还没有账号 <a href="$root_path/user/register">立即注册</a></p>
			</form>			
		</div>
	</div>
