#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/meta.vm")
	<title>修改密码</title>
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/eredar.css">
</head>
	
	<div class = "eredar-info clearfix">
		<ul>
			<li class = " first on">修改密码</li>
		</ul>
	</div>
	<div class = "eredar-list eredar-list1 changePass">
		<form class="registerform" method="post">
			<table width='100%'>
				<tr>
					<td class="tbtxt w280"><label class="bred">*</label><span>请输入原密码：</span></td>
					<td><input type="password" id = "oldpassword" class="setpwd4 passinput" value="" name="oldpassword"></td>
				</tr>
				<tr>
					<td class="tbtxt w280"><label class="bred">*</label><span>请输入新密码：</span></td>
					<td><input type="password" id = "newpassword" class="setpwd4 passinput" value="" name="newpassword"></td>
				</tr>
				<tr>
					<td class="tbtxt w280"><label class="bred">*</label><span>请重复新密码：</span></td>
					<td><input type="password" id = "renewpassword" class="setpwd5 passinput" value="" name="newpassword2"></td>
				</tr>
				<tr class = "distanceID">
					<td colspan = "2"><button class = "saveBtn" id = "changSaveBtn">保存</button></td>
				</tr>
			</table>
		</form> 
	</div>
    #parse("layout/layout-js.vm")
	<script>seajs.use("password");</script>
