#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/meta.vm")
	<title>修改密码</title>
	<link rel="stylesheet" href="$!rs_path_jiuxiu/src/css/eredar.css">
</head>
	
	<div class = "eredar-info clearfix">
		<ul>
			<li class = " first on">修改密码</li>
		</ul>
	</div>
	<div class = "eredar-list eredar-list1 changePass">
		 <form class="modifyPasswordForm" method="post" action="$!root_path/user/modifyPassword">
			<table width='100%'>
				<tr>
					<td class="tbtxt w280"><span>请输入原源码：</span></td>
					<td><input type="password" class="setpwd4 passinput" value="" name="oldPassword" id="oldPassword" datatype="*6-15" errormsg="密码范围在6~15位之间"></td>
				</tr>
				<tr>
					<td class="tbtxt w280"><span>请输入新源码：</span></td>
					<td><input type="password" class="setpwd4 passinput" value="" name="newPassword" id="newPassword" datatype="*6-15" errormsg="密码范围在6~15位之间"></td>
				</tr>
				<tr>
					<td class="tbtxt w280"><span>请重复新源码：</span></td>
					<td><input type="password" class="setpwd5 passinput" value="" name="newPassword2" id="newPassword2" datatype="*6-15" recheck="newPassword" errormsg="您两次输入的账号密码不一致"></td>
				</tr>
				<tr class = "distanceID">
					<td colspan = "2"><button class = "saveBtn">保存</button></td>
				</tr>
			</table>
		</form> 
	</div>
	
    #parse("layout/js.vm")
	<script>seajs.use("eredar");</script>
