#set($layout = "/layout/layout-account.vm")

#set($title = "注册成功-九休商户")
#parse("/layout/layout-meta.vm")	

	<!-- 首页的中心部分开始 -->
	<div id="ym-login-banner">
		<div class="login-body regsuccess">
			<h1 class="title">恭喜您注册成功</h1>
			<h2>欢迎来到九休旅行</h2>
			<a href="$root_path/home" class="winloginbtn">立即入住</a>
			<p>页面将在<em id="dtime"> 3 </em>秒后自动跳转</p>
		</div>		
	</div>
	
	
	<script>
		var i = 3;
		var tt = window.setInterval(function(){
			if(i==0){
				clearInterval(tt);
				window.location.href= "${loginUrl}";
			}
			document.getElementById("dtime").innerHTML = " "+i+" ";
			i--;
		},1000);
	</script>	
