<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		#parse("layout/meta.vm")
		<title>找回密码-怡美假日</title>
		#parse("layout/link.vm")
    	<link rel="stylesheet" href="$rs_js_css_path/css/login.css">
	</head>
	<body>
		<!-- 头部开始 -->
		#parse("layout/header-login.vm")
		<!-- 头部完成 -->
       <!-- 首页的中心部分开始 -->
       <!-- 
		<div id="ym-login-banner">
			<div class="login-body register findpwd">
				<h1 class="title">找回密码</h1>
				<form action="$root_path/user/retrievePassword" method="post" id="resetPwdForm">					
					<p class="btngroup clearfix">
						<input type="text" class="textinput" name="username" id="regmobile" placeholder="请输入您的手机号" autocomplete="off" datatype="m" nullmsg="请输入您的手机号" errormsg="请您输入正确的手机号"/>
						<span class="Validform_checktip"></span>
					</p>
					<p class="btngroup clearfix">
						<input type="text" class="textinput sortinput" name="verifyCode" id="mobilecode" value="" placeholder="请输入短信验证码" autocomplete="off" datatype="/^\d{6,6}$/" nullmsg="请输入短信验证码" errormsg="请输入6位数字验证码"/>
						<button class="getcodebtn" name="getcodebtn" id="getcodebtn" sendurl="$root_path/user/sendRetrievePasswordVerifyCode">获取验证码</button>
						<span class="Validform_checktip"></span>
					</p>
					<p class="btngroup clearfix">
						<input type="password" class="textinput" name="password" id="userpwd" placeholder="请输入您的新密码" datatype="/[0-9A-Za-z]{6,16}/" autocomplete="off" nullmsg="请输入您的密码" errormsg="请输入6-16位字母、数字组成的密码"/>
						<span class="Validform_checktip"></span>
					</p>
					<input type="submit" id="resetPwdBtn" class="winloginbtn" value="提交"/>
				</form>			
			</div>
		</div>
		-->
		
		<div id="ym-login-banner">
			<div class="login-body register findpwd">
				<h1 class="title">找回密码</h1>
				<form action="$root_path/user/retrievePassword" method="post" id="resetPwdForm">					
					<p class="btngroup clearfix">
						<input type="text" class="textinput" name="username" id="regmobile" placeholder="请输入您的手机号" autocomplete="off" datatype="m" nullmsg="请输入您的手机号" errormsg="请您输入正确的手机号"/>
						<span class="Validform_checktip"></span>
					</p>
					<p class="btngroup clearfix">
						<input type="text" class="textinput sortinput" name="imageCode" id="imgcode" value="" placeholder="请输入验证码" datatype="/[0-9A-Za-z]{4,4}/" nullmsg="请输入验证码" errormsg="请输入4位验证码" autocomplete="off"/>
						<img src="$root_path/user/getImgCode" class="imgcode" width="152" height="48" onclick="this.src='$root_path/user/getImgCode?d='+Math.random();"/>
						<span class="Validform_checktip"></span>
					</p>						
					<p class="btngroup clearfix">
						<input type="text" class="textinput sortinput" name="verifyCode" id="mobilecode" value="" placeholder="请输入短信验证码" autocomplete="off" datatype="/^\d{6,6}$/" nullmsg="请输入短信验证码" errormsg="请输入6位数字验证码"/>
						<button class="getcodebtn" name="getcodebtn" id="getcodebtn" sendurl="$root_path/user/sendRetrievePasswordVerifyCode">获取验证码</button>
						<span class="Validform_checktip"></span>
					</p>
					<p class="btngroup clearfix">
						<input type="password" class="textinput" name="password" id="userpwd" placeholder="请输入您的新密码" datatype="/^[0-9A-Za-z]{6,16}$/" autocomplete="off" nullmsg="请输入您的密码" errormsg="请输入6-16位字母、数字组成的密码"/>
						<span class="Validform_checktip"></span>
					</p>
					<input type="submit" id="resetPwdBtn" class="winloginbtn" value="提交"/>
				</form>			
			</div>
		</div>
		
       <!-- 尾部开始 -->
		#parse("layout/bottom-login.vm")
	</body>
</html>