#set($layout = "/layout/layout-account.vm")

#set($title = "找回密码成功")
#parse("/layout/layout-meta.vm")	


       <!-- 头部完成 -->
       <!-- 首页的中心部分开始 -->
		<div id="ym-login-banner">
			<div class="login-body regsuccess">
				<h1 class="title">密码修改成功</h1><br>
				<a href="$root_path/user/login" class="winloginbtn">返回登陆</a>
				<p>页面将在<em id="dtime"> 3 </em>秒后自动跳转</p>
			</div>		
		</div>
		
		
		<script>
			var i = 3;
			var tt = window.setInterval(function(){
				if(i==0){
					clearInterval(tt);
					window.location.href= "${loginUrl}";
				}
				document.getElementById("dtime").innerHTML = " "+i+" ";
				i--;
			},1000);
		</script>	
	</body>
</html>