#set($layout = "/layout/layout-account.vm")

#set($title = "找回密码-九休")
#parse("/layout/layout-meta.vm")

	<div id="ym-login-banner">
		<div class="login-body register findpwd">
			<h1 class="title">找回密码</h1>
			<form action="$root_path/user/retrievePassword" method="post" id="resetPwdForm">					
				<p class="btngroup clearfix">
					<input type="text" class="textinput" name="username" id="regmobile" placeholder="请输入您的手机号" autocomplete="off" datatype="m" nullmsg="请输入您的手机号" errormsg="请您输入正确的手机号"/>
					<span class="Validform_checktip"></span>
				</p>
				<p class="btngroup clearfix">
					<input type="text" class="textinput sortinput" name="imageCode" id="imgcode" value="" placeholder="请输入验证码" datatype="/[0-9A-Za-z]{4,4}/" nullmsg="请输入验证码" errormsg="请输入4位验证码" autocomplete="off"/>
					<img src="$root_path/user/getImgCode" class="imgcode" width="152" height="48" onclick="this.src='$root_path/user/getImgCode?d='+Math.random();"/>
					<span class="Validform_checktip"></span>
				</p>						
				<p class="btngroup clearfix">
					<input type="text" class="textinput sortinput" name="verifyCode" id="mobilecode" value="" placeholder="请输入短信验证码" autocomplete="off" datatype="/^\d{6,6}$/" nullmsg="请输入短信验证码" errormsg="请输入6位数字验证码"/>
					<button class="getcodebtn" name="getcodebtn" id="getcodebtn" sendurl="$root_path/user/sendRetrievePasswordVerifyCode">获取短信验证码</button>
					<span class="Validform_checktip"></span>
				</p>
				<p class="btngroup clearfix">
					<input type="password" class="textinput" name="password" id="userpwd" placeholder="请输入您的新密码" datatype="/^(?=.{6,16}$)(?![0-9]+$)(?![a-zA-Z]+$)[0-9a-zA-Z]+$/" autocomplete="off" nullmsg="请输入您的密码" errormsg="请输入6-16位密码，需同时包含字母及数字！"/>
					<span class="Validform_checktip"></span>
				</p>
				<p class="btngroup clearfix">
					<input type="password" class="textinput" name="password2" id="userpwd2" placeholder="请重新输入您的新密码"  recheck="password" datatype="/^[0-9A-Za-z]{6,16}$/" autocomplete="off" nullmsg="请输入您的密码" errormsg="请输入相同的密码"/>
					<span class="Validform_checktip"></span>
				</p>
				<input type="submit" id="resetPwdBtn" class="winloginbtn" value="提交"/>
			</form>			
		</div>
	</div>