
<div style="margin: 15px;">
    <form class="form-signin" id="userListForm" name="userListForm" action="$!utilWebconfig.getActionDefaultFontPath()/trade/userManage/selectUserList" method="GET" role="form">
        <div class="inputGroup" style="margin-bottom: 10px;">
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">会员名</button>
                    </span>
                    <input type="text" class="form-control" name="userName" value="$!userListQuery.userName">
                </div>
                <div class="input-group inpSingle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">手机号</button>
                    </span>
                    <input type="text" class="form-control" name="tel" value="$!userListQuery.tel">
                </div>
                <div class="input-group inpSingle">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">城市</button>
                        </span>
                    <input type="text" class="form-control" name="cityName" value="$!userListQuery.cityName">
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">查询</button>
                </div>

        </div>

        <div class="tableGroup">
            <table class="table table-hover">
                <tr>
                    <th><input class="allChecked" type="checkbox">全选</th>
                    <th>会员名</th>
                    <th>真实姓名</th>
                    <th>性别</th>
                    <th>手机号</th>
                    <th>身份证</th>
                    <th>年龄</th>
                    <th>籍贯</th>
                    <th>省</th>
                    <th>城市</th>
                    <th>注册时间</th>
                    <th>备注</th>
                </tr>
                    #foreach($user in $userList)
                    <tr class="subCheckedTR">
                        <td><input class="subChecked" userName="$!user.userName" type="checkbox" value="$!user.id"></td>
                        <td>$!user.userName</td>
                        <td>$!user.realName</td>
                        <td>#GENDER($!user.gender)</td>
                        <td>$!user.tel</td>
                        <td>$!user.card</td>
                        <td>$!user.age</td>
                        <td>$!user.homePlace</td>
                        <td>$!user.provinceName</td>
                        <td>$!user.cityName</td>
                        <td>$utilDate.dateToString($!user.gmtCreated,"yyyy-MM-dd HH:mm:ss")</td>
                        <td>$!user.remark</td>
                    </tr>
                    #end
            </table>
        </div>
        #*<div class="btn-group">
            <button type="button" class="btn btn-primary selectBtn">选择</button>
        </div>*#
    #*分页*#
    #parse("/page.vm")
    #pageStyle("userListForm")
    </form>
    <script>
       var selUserList = function(){
            var resultValue = new Array();
            $('.subChecked:checked').each(function(){
                var user = {id:$(this).val(),name:$(this).attr('userName')}
                resultValue.push(user);
            });
            top.resultValue = resultValue;
        }
        $(function(){

            $('.allChecked').click(function(){
                $('.subChecked').prop('checked',$(this).prop('checked'));
                selUserList();
            });
            $('.subCheckedTR').click(function(){
                $(this).find('.subChecked').prop('checked',!$(this).find('.subChecked').prop('checked'));
                selUserList();
            });
        });

    </script>
</div>
</div>
