#set($layout = "/layout/layout-account.vm")
#set($title = "服务协议-九休后台")
#parse("/layout/layout-meta.vm")
       
       <!-- 服务条款的中心部分开始 -->
		<div id ="servicenter">
		  <div class="servicenterB">
				<div class="title">服务条款</div>
				<p class="bottom-line"></p>
				<div class="content">
					<p>欢迎您（即“用户”）来到怡美假日。怡美假日所提供的各项服务和内容的所有权和运作权均归北京怡美假日信息科技有限公司（以下简称“公司”）及其关联公司所有。如果用户在怡美假日提供的移动应用或软件上（以下简称“怡美假日”）访问、预定或使用我们的产品或服务（以上统称为“服务”），便视为用户接受了以下服务协议，请仔细阅读以下内容。如果用户不同意以下任何内容，请立刻停止访问怡美假日或使用怡美假日提供的服务。</p>
					<div class="fu-title">协议总则</div>
						<p>
							(1)本协议内容包括协议正文及公司其他已经发布的或将来可能发布的各类规则。除另行明确声明外，任何怡美假日提供的服务均受本协议约束。<br/>
	                        (2)公司如制订、修改本协议及/或各类规则向用户提供基于互联网以及移动网的相关服务的，应在怡美假日提前公布通知，用户应该定期登录怡美假日，了解最新的协议内容。变更后的协议和规则在怡美假日公布后七天，将自动生效。如用户不同意相关变更，应当立即停止访问怡美假日或使用怡美假日服务。若用户在怡美假日协议和规则变更七日后继续使用怡美假日服务的，即表示用户接受已经修订的协议和规则。<br/>
	                       (3)若用户作为公司的关联公司或合作公司的用户登录怡美假日平台，访问怡美假日或使用怡美假日服务，即视为用户同意本协议的所有条款及公司公布的其他规则、说明和操作指引。
						</p>
					<div class="fu-title">服务内容</div>
						<p>
							(1)怡美假日的具体服务内容由公司根据实际经营情况提供，公司保留随时变更、中断或终止部分或全部服务的权利。公司不承担因业务调整给用户造成的损失。除非本协议另有其它明示规定，增加或强化目前本服务的任何新功能，包括所推出的新产品，均受到本协议之规范。用户了解并同意，怡美假日服务仅依其当前所呈现的状况提供，对于任何用户通讯或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，公司均不承担任何责任。<br/>
	                       (2)怡美假日在提供服务时，可能会对部分服务的用户收取一定的费用。在此情况下，怡美假日会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相关的服务。<br/>
	                       (3)用户理解，怡美假日仅提供相关的服务，除此之外与相关服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及移动上网费）均应由用户自行负担。
						</p>
					<div class="fu-title">使用规则</div>
						<p>
	                       (1)用户注册成功后，怡美假日将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户负责保管，通过用户的账号和密码操作或实施的行为，将视为用户本人的行为，由用户本人承担相应的责任和后果。如果用户发现他人不当使用用户的账户或有任何其他可能危及用户的账户安全的情形时，用户应当立即以书面、有效方式通知公司，要求公司暂停相关服务。在此，用户理解公司对用户的请求采取行动需要合理时间，公司对在采取行动前已经产生的后果（包括但不限于用户的任何损失）不承担任何责任。<br/>
	                       (2)用户须对在怡美假日的注册信息的真实性、合法性、有效性承担全部责任，用户应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽准确的要求。用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐户导致其他用户误认。因用户以虚假信息骗取账号名称注册，或用户账号头像、简介等注册信息存在违法和不良信息的，或利用怡美假日账号实施侵权行为的， 公司有权采取通知用户想起盖章、立即停止提供服务、注销登记等措施，收回其帐号并由用户独自承担由此而产生的一切法律责任。<br/>
	                       (3)用户承诺不得以任何方式利用怡美假日直接或间接从事违反中国法律、以及社会公德的行为，公司有权对违反上述承诺的内容予以删除。<br/>
	                       (4)用户不得利用怡美假日服务制作、上载、复制、发布、传播、转载或以其他方式传送含有下列内容之一的信息：<br>
	                       •     违反宪法或法律法规规定的;<br/>
	                       •     危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;<br/>
	                       •     损害国家荣誉和利益的，损害公共利益的;<br/>
	                       •     煽动民族仇恨、民族歧视，破坏民族团结的;<br/>
	                       •     破坏国家宗教政策，宣扬邪教和封建迷信的;<br/>
	                       •     散布谣言，扰乱社会秩序，破坏社会稳定的;<br/>
	                       •     散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;<br/>
	                       •     侮辱或者诽谤他人，侵害他人合法权益的;<br/>
	                       •     含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容;<br/>
	                       •     含有法律、行政法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其他内容的信息。<br/>
	                       (5)公司有权对用户使用怡美假日的情况进行审查和监督，如用户在使用怡美假日时违反任何上述规定，公司或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容、暂停或终止用户使用怡美假日的权利）以减轻用户不当行为造成的影响。<br/>
	                       (6)用户须对自己在使用怡美假日服务过程中的行为承担法律责任，包括但不限于：对受到侵害者进行赔偿，以及在公司在先承担了因用户的行为导致的行政处罚或侵权损害赔偿责任后，用户应给予公司等额的赔偿。
	                     </p>
	                <div class="fu-title">免责声明</div>
						<p>
						   (1)用户将照片、个人信息等资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识此类风险的存在。用户明确同意其使用怡美假日服务所存在的风险（包括但不限于受到第三方侵权或对第三方造成侵权）将完全由其自己承担；因其使用怡美假日服务而产生的一切后果也由其自己承担，公司对此不承担任何责任。<br/>
						   (2)公司不担保本服务一定能满足用户的要求，也不担保本服务不会中断，对本服务的及时性、安全性、准确性、真实性、完整性也都不作担保。如给用户带来的损失公司公司不承担赔偿责任。<br/>
						   (3)对于因不可抗力或公司不能控制的原因造成的本服务中断或其它缺陷，公司不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。公司需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成服务（包括收费服务）在合理时间内的中断，公司无需为此承担任何责任，但公司应尽可能事先进行通知。
						</p>

				</div>
			</div>
		</div>
