#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>商品草稿箱</title>
</head>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/base.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/common.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/eredar.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/sevice.css">

	<!-- 面包屑 -->
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">商品草稿箱</li>
				</ul>
			</div>
			<div class = "draft">
				<p>
					<em class ="gray6">商品类型：</em>
					<select id="edu">
						<option value="">全部</option>
					</select>
					<button type="submit" class = "searchBtn">查询</button>
				</p>
				<table width= "892px">
					<tr>
						<th class = "name">草稿名称</th>
						<th class = "style">类型</th>
						<th class = "time">发布时间</th>
						<th class = "handle">操作</th>
					</tr>
					<tr>
						<td class = "name">昆明大理丽江8天7晚自驾游</td>
						<td class = "style">国内跟团游</td>
						<td class = "time">2016-05-30   15:23:06</td>
						<td class = "handle"><a>编辑</a><a class ="del">删除</a></td>
					</tr>
					<tr>
						<td class = "name">昆明大理丽江8天7晚自驾游</td>
						<td class = "style">国内跟团游</td>
						<td class = "time">2016-05-30   15:23:06</td>
						<td class = "handle"><a>编辑</a><a class ="del">删除</a></td>
					</tr>
					<tr>
						<td class = "name">昆明大理丽江8天7晚自驾游</td>
						<td class = "style">国内跟团游</td>
						<td class = "time">2016-05-30   15:23:06</td>
						<td class = "handle"><a>编辑</a><a class ="del">删除</a></td>
					</tr>
					<tr>
						<td class = "name">昆明大理丽江8天7晚自驾游</td>
						<td class = "style">国内跟团游</td>
						<td class = "time">2016-05-30   15:23:06</td>
						<td class = "handle"><a>编辑</a><a class ="del">删除</a></td>
					</tr>
				</table>
			</div>
			<div class = "skip clearfix">
				<ul>
					<li class = "first"><a><img src ="$!rs_path_jiuxiu/img/revLeft.png"></a></li>
					<li><a>1</a></li>
					<li><a>2</a></li>
					<li><a>3</a></li>
					<li><a>...</a></li>
					<li><a>10</a></li>
					<li><a><img src ="$!rs_path_jiuxiu/img/revRight.png"></a></li>
					<li><strong>跳转到：</strong></li>
					<li class = "a"><input type = "text"></input></li>
					<li><a>GO</a></li>
				</ul>
			</div>
	#parse("layout/layout-js.vm")
	<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
	<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>		
	<script>seajs.use("draft");</script>	
