#set($layout = "/layout/layout-jiuxiu.vm")

<head>
	#parse("layout/layout-meta.vm")
	<title>商品草稿箱</title>
</head>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/base.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/common.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/jquery-ui-1.10.4.custom.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/eredar.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/sevice.css">
<link rel="stylesheet" href="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/css/zui.min.css"/>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/sea.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/seajs-preload.js"></script>
<script type="text/javascript" src="$rs_js_css_path_jiuxiu/js/config.js"></script>
<script src="$!{utilWebconfig.getStaticResourcesPath()}/resources/zui/js/zui.min.js" type="text/javascript" ></script>		
<script>seajs.use("draft");</script>	

	<!-- 面包屑 -->
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">商品草稿箱</li>
				</ul>
			</div>
			<div class = "draft">
			    <form class="form-signin" id="draftListForm" action="$!utilWebconfig.getActionDefaultFontPath()/draft/list" method="POST" role="form">
				<p>
					<em class ="gray6">商品类型：</em>
					<select id="edu" name="subType">
						<option value="0" #if(!$query.subType) selected #end>全部</option>
        					#foreach($itemType in $itemTypeList)
        					<option value="$!{itemType.value}" #if($query.subType == $itemType.value) selected #end >$!{utilDraft.getDraftSubTypeName($itemType.value)}</option>
        					#end
					</select>
					<button type="submit" class = "searchBtn">查询</button>
				</p>
				<table width= "892px">
					<tr>
						<th class = "name">草稿名称</th>
						<th class = "style">类型</th>
						<th class = "time">发布时间</th>
						<th class = "handle">操作</th>
					</tr>
					<tr>
						<td class = "name">昆明大理丽江8天7晚自驾游</td>
						<td class = "style">国内跟团游</td>
						<td class = "time">2016-05-30   15:23:06</td>
						<td class = "handle"><a>编辑</a><a class ="del">删除</a></td>
					</tr>
				</table>
				#*分页*#
            #parse("/page.vm")
            #pageStyle("draftListForm")
			</div>
			
		</form>
		<!-- 删除弹窗 -->
		<div class = "draftPop">
			<p>确定删除该草稿？</p>
			<p class = "p">
				<button class = "del-list">删除</button>
				<button class ="cancel">取消</button>
			</p>
		</div>
	#parse("layout/layout-js.vm")
