#set($layout = "/layout/layout-jiuxiu.vm")
<head>
	#parse("layout/layout-meta.vm")
	<title>商品草稿箱</title>
</head>
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/eredar.css">
<link rel="stylesheet" href="$!rs_js_css_path_jiuxiu/css/sevice.css">
<script type="text/javascript" src="$rs_js_css_path_admin/js/jquery.js"></script>
<script type="text/javascript" src="$rs_js_css_path_admin/layer/layer.js"></script>
	<!-- 面包屑 -->
			<div class = "eredar-info clearfix">
				<ul>
					<li class = " first on">商品草稿箱</li>
				</ul>
			</div>
			<div class = "draft">
			    <form class="form-signin" id="draftListForm" action="$!utilWebconfig.getActionDefaultFontPath()/draft/list" method="POST" role="form">
				<p>
				<input type="hidden"  name="mainType" value="$!query.mainType"/>
					<em class ="gray6">商品类型：</em>
					<select id="edu" name="subType">
						<option value="0" #if(!$query.subType) selected #end>全部</option>
        					#foreach($draftType in $draftTypeList)
        					<option value="$!{draftType.value.value}" #if($query.subType == $draftType.value.value) selected #end >$!{utilDraft.getDraftSubTypeName($draftType.value.value)}</option>
        					#end
					</select>
					<button type="submit" class = "searchBtn">查询</button>
				</p>
				<table width= "892px">
					<tr>
						<th class = "name">草稿名称</th>
						<th class = "style">类型</th>
						<th class = "time">发布时间</th>
						<th class = "handle">操作</th>
					</tr>
					#foreach($draft in $pageVo.resultList)
                            <tr id="draft_$!{draft.id}" draft-id="$!draft.id">
                                <td class = "name">$!draft.draftName</td>
        						<td class = "style">$!draft.subTypeName</td>
        						<td class = "time">$!{utilDate.date2String($draft.gmtCreated)}</td>
								<td class = "handle">
									<a href="$!utilWebconfig.getActionDefaultFontPath()/draft/edit/$!draft.id">编辑</a>
									<a class ="del" draft-id="$!draft.id">删除</a>
								</td>
                            </tr>
        			#end
				</table>
				#*分页*#
				#parse("/page_jiuniu.vm")
			</div>
			
		</form>
		<!-- 删除弹窗 -->
		<div class = "draftPop">
			<p>确定删除该草稿？</p>
			<p class = "p">
				<button class = "del-list">删除</button>
				<button class ="cancel">取消</button>
			</p>
		</div>
		
#parse("layout/layout-js.vm")
<script>
	$(".del").click(function(){
		var id = $(this).attr("draft-id");
		operateUrl = "$!{utilWebconfig.getActionDefaultFontPath()}/draft/delete/"+id;
		layer.confirm('是否确认删除？', {icon: 3, title:'提示'}, function(index){
    		$.post(operateUrl,function(result) {
    			if(result.success) {
    				window.location.reload();
    			} else {
    				layer.msg('操作失败', {
        				icon : 2,
        				time : 1000
        			});
    			}
    		},"json");
			layer.close(index);
        });
    });
</script>
<script>seajs.use("draft");</script>
