#set($layout="layout/blank.vm")
<html>
    <head>
        #parse("layout/layout-meta.vm")
		<title>选择出发地</title>
        <meta name="keywords" content=""></meta>
        <meta name="description" content=""></meta>
		#parse("layout/base-link.vm")
        <style>
        	.startlistbox{padding: 20px 25px;font-size: 16px; overflow: hidden;}
            .startlistbox label,.startlistbox input,.startlistbox span{vertical-align:middle;margin:0;padding:0;outline:none;}
            .startlistbox label{font-size:14px;line-height:14px;color:#666;display:inline-block;margin-right:10px;cursor:pointer;}
            .startlistbox input.ck{height:14px;margin-bottom:2px;margin-right:5px;cursor:pointer;}
			.table .tdl{width: 50px;font-weight: 700;}
			.table .tdp{width: 160px;font-weight: 700;}

        </style>
    </head>
    <body>
    	<div class="startlistbox">
			<input type="hidden" name="destData" value='$!destMap' />
		</div><br>
        <!--#foreach($entry in $departMap.entrySet())
        <div id="$!{entry.key}" class="choosecity">
        	<label>$!{entry.key}:</label>
        	#foreach($depart in $entry.value)  
        	<label><input type="checkbox" class="city ck" #foreach($ds in $item.baseInfo.departs) #if($ds.id == $depart.id) checked="checked" #end #end depart-id="$!{depart.id}" depart-code="$!{depart.city.code}" depart-name="$!{depart.city.name}">$!{depart.city.name}</label>
        	#end
        </div>
        #end
        <br><br><br>-->
		#parse("layout/base-js.vm")
        <script>
            function getSelected() {
                var result = [];
            	$("input:checkbox:checked")
            	$(".ck:checked").each(function(){
            		result.push({
            			id:$(this).attr("depart-id"),
            			name:$(this).attr("depart-name"),
            			code:$(this).attr("depart-code")
            		});
            	});
            	return result;
            }
            $(function(){
            	$.ajax({
            		type:"get",
            		url:"$!{utilWebconfig.getActionDefaultFontPath()}/resourceForSelect/selectInlandDeparts",
            		success:function (destDataObj) {
            			if (destDataObj.status==200) {
				      			var inlandProArr = destDataObj.data.destinationNodeVOs;
								var $html = '';
								$html += '<table class="table"><tbody>'
								for (var i=65;i<91;i++ ) {
									var myLetter = String.fromCharCode(i);
									var sameProArr = inlandProArr.filter(function(a){if(a.destinationVO.simpleCode==myLetter) return a;});
									for (var j=0;j<sameProArr.length;j++){
										$html += '<tr>';
										if (j == 0) $html += '<td rowspan='+sameProArr.length+' class="tdl">'+myLetter+'</td>';
										$html += '<td class="tdp">'+sameProArr[j].destinationVO.name+'</td>';
										var cityArr = sameProArr[j].child;
										$html += '<td>';
										for (var k=0;k<cityArr.length;k++) {
											var singleCity = cityArr[k].destinationVO;
											$html += '<label><input type="checkbox" class="city ck"  depart-id='+ singleCity.id +' depart-code='+ singleCity.code +' depart-name='+ singleCity.name +'>'+ singleCity.name +'</label>';
										};
										$html += '</td>';
										$html += '</tr>';
									};
								};
								$html += '</tbody></table>';
								$('.startlistbox').append($html);
            			} else{
            				layer.msg('请求失败，请稍后重试',{icon:2});
            			}
                        var selectedDeparts = parent.getBaseInfo().departs;
                        //console.log(selectedDeparts);
                        $("input:checkbox").each(function(){
                            for(var j=0;j<selectedDeparts.length;j++) {
                                if($(this).attr("depart-code")==selectedDeparts[j].code){
                                    $(this).attr("checked","checked");
                                }
                            }
                        });
                    }

            	});

            });
        </script>
    </body>
</html>