@charset "UTF-8";

table{border: 1px solid #ddd;}
/**********************************俱乐部********************************/
/***************创建表格*************/
.createClubTable .spColor{color: #ff0000;font-size: 18px;}
.createClubTable tr td:nth-child(1){font-size: 14px;font-weight: bold;min-width: 95px;}
.createClubTable .fileImg{position: relative;float: left;padding-top: 20px;}
.createClubTable .fileImg .btn{width: 100px;}
.createClubTable .fileImg .fileInp{position: absolute;top: 19px;left: 0;font-size: 25px;width: 102px;height: 33px;opacity: 0;filter:alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;-webkit-opacity: 0;}
.createClubTable .fileImg p{font-size: 12px;margin-top: 8px;}
.createClubTable .logoView{float: left;border-radius: 200px;overflow: hidden;margin-left: 15px;}
.createClubTable .logoView img{width: 100px;height: 100px;border-radius: 200px;}
.createClubTable .propagandaView{float: left;overflow: hidden;margin-left: 15px;}
.createClubTable .propagandaView img{height: 100px;}
.createClubTable .userBtn{float: left;padding-top: 10px;}
.createClubTable .userBtn .btn{width: 100px;}
.createClubTable .userView{float: left;border-radius: 200px;overflow: hidden;margin-left: 38px;}
.createClubTable .userView img{width: 50px;height: 50px;border-radius: 200px;}
.createClubTable .userView span{margin-left: 10px;}
.createClubTable .radioTwo{margin-left: 20px;}
.createClubTable .radioSel input{float: left;margin-right: 3px;}
.createClubTable .radioSel .sp{float: left;}
.createClubTable .radioSel .radSp{font-weight: normal;margin-bottom: 0;}
.clubBotBtn{text-align: center;}
.clubBotBtn .btn{width: 100px;}
.clubBotBtn .btn-group:nth-child(1){margin-right: 20px;}
/***************创建活动*************/
.createClubTable .activeImg{float: left;overflow: hidden;margin-left: 15px;}
.createClubTable .activeImg img{width: 150px;margin-right: 10px;margin-bottom: 5px;}
.createClubTable .dateTo{float: left;display: block;height: 30px;line-height: 30px;}
.createClubTable .activeFile{margin: 0;padding: 0;}
.createClubTable .activeFile p{margin-bottom: 0;}
.createClubTable .selCity{width: 48%;float: left;}
.createClubTable .selCity:nth-last-child(1){width: 48%;float: right;}
.activeMnyPane{border: 1px solid #ddd;overflow: hidden;border-top: none;}
.activeMnyPane .pNote{padding: 15px;margin: 0;}
.activeMnyPane .col-md-10{width: 100%;padding: 0;}
.activeMnyPane .radioActive{width: 100%;padding: 10px 25px 0 38px;border-bottom: 1px solid #ddd;margin: 0;}
.activeMnyPane .radioActive .checkActiveType{font-weight: normal;}
.activeMnyPane .radioActive:nth-child(1){padding-top: 0;}
.activeMnyPane .radioActive .checkboxLeft{margin-left: 10px;}
.activeMnyPane .radioActive input[type="checkbox"]{margin-right: 5px;margin-top: 3px;}
.activeMnyPane .radioActive .totalSp{margin-left: 10px;}
.activeMnyPane table{text-align: center;margin-top: 10px;}
.activeMnyPane table th{text-align: center;}
.activeBotBtn{width: 100%;float: left;margin-top: 20px;}
/***************创建活动1*************/
.clubCreateActivePage{text-align: center;padding: 20px;}
.clubCreateActivePage select{display: inline-block;width: 50%;}
.clubCreateActivePage button{margin-top: 20px;width: 100px;}
/***************动态管理*************/
.clubDynamicPage .dynamicTop{margin-bottom: 12px;}
.clubDynamicPage .dynamicTop .illegalBtn{display: block;}
.clubDynamicPage .dynamicTop .recoveryBtn{display: block;}
.clubDynamicPage .dynamicTop textarea{width: 82%;border: 1px solid #ddd;display: inline-block;}
.clubDynamicPage .dynamicTop button{width: 13%;height: 52px;padding: 10px 0;float: right;min-width: 40px;}
.clubDynamicPage table .imgCircle{width: 70px;height: 70px;}
.clubDynamicPage table .imgRectangular{width: 100px;height: 100px;margin-bottom: 5px;cursor: pointer;}
.clubDynamicPage table tr td:nth-child(1){font-weight: bold;min-width: 80px;}
.clubDynamicPage table .viewBtn{margin-left: 10px;}

/**********************************资源********************************/
/***************添加酒店*************/
.grogInfoWrap{margin-top: -1px;}
.grogUserLogo{width: 50px;height: 50px;margin-bottom: 10px;margin-right: 10px;}
.grogBatchWrap{overflow: hidden;margin-top: 10px;display: block;}
.grogBatchUpload{position: relative;float: left; margin-right: 15px;}
.grogBatchUpload .btnFile{position: absolute;top: 0;width: 80px;opacity: 0;}
.getAddress{margin-left: 10px;}
.grogCheckSel span{margin-right: 5px;}
.grogImgsWrap{overflow: hidden;margin-top: 10px;display: none;}
@media (min-width: 1200px) {.grogImgWrap{width: 20%;}}
@media (min-width: 992px) and (max-width: 1199px){.grogImgWrap {width: 25%;}}
@media (min-width: 768px) and (max-width: 991px){.grogImgWrap {width: 33.333333%;}}
@media (min-width: 400px) and  (max-width: 767px){.grogImgWrap {float: left;width: 50%;}}
.grogImgFlag{position: absolute;top: 10px;left: 10px;display: none;width: 40px;height: 40px;}
.grogImgFlag i{font-size: 40px;color: #6B674F;}
.grogImgCircle{position: absolute;top: 10px;right: 10px;display: none;width: 40px;height: 40px;}
.grogImgCircle i{font-size: 40px;color: #6B674F;}
.grogImgCircle i.icon-circle-thin{font-weight: 600}
.grogCards{border: 1px solid #ddd;margin-bottom: 10px;border-radius: 6px;}

.grogBatchAddWrap{display: none;}












