#img-manage{width:1200px;margin:0 auto;}

#img-manage ul li{width:228px;margin:5px;position:relative;float:left;border:1px solid #e2e2e2;}
#img-manage ul li img{width:228px;height:192px;vertical-align:top;}
#img-manage ul li span{display:block;position:absolute;left:0;right:0;bottom:0;text-align:center;height:30px;line-height:30px;background:rgba(0,0,0,0.5);color:#fff;}
#img-manage ul li span a{display:inline-block;margin:0 7px;color:#fff;text-decoration:none;}

#img-manage .save-btn{width:120px;height:33px;line-height:33px;background:#ff3c3c;color:#fff;text-align:center;border:none;cursor:pointer;}