<div>
    <div class='input-group'>
		<span class='input-group-addon'>*出发城市：</span>
		<input type='text' name="from" id="from" class='form-control'/>
	</div>
	<div class='input-group'>
		<span class='input-group-addon'>*到达城市：</span>
		<input type='text' name="to" id="to" class='form-control'/>
	</div>
	<div class='input-group'>
		<span class='input-group-addon'>*交通方式：</span>
		<select class="form-control" name="way" id="way">
			#foreach($way in $ways)
			<option value="${way.key}">${way.value}</option>
			#end
        </select>
	</div>
</div>
<script type="text/javascript">
	function getTraffic() {
		if($("#from").val() == '') {
			layer.alert("请输入出发城市");
			return null;
		}
		if($("#to").val() == '') {
			layer.alert("请输入到达城市");
			return null;
		}
		return {
			from: $("#from").val(),
			to: $("#to").val(),
			way: $("#way").val()
		};
	}
</script>