<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<!-- <context:component-scan base-package="com.yimayhd.palacee.service, com.yimayhd.palacee.task"
		/> -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.UserRPCServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.PictureRPCServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.TradeServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.RefundServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.OrderServiceImpl"></bean>

	<bean class="com.yimayhd.sellerAdmin.service.impl.ClubServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.ActivityServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.PointRuleServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.TrendServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.TravelOfficialImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.RegionServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.LiveServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.ThemeServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.ShowcaseServiceImpl"></bean>
	<!-- 资源管理 -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.RestaurantRPCServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.HotelRPCServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.FacilityIconServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.ScenicServiceImpl"></bean>

	<!-- <bean id="config" class="com.yimayhd.palacee.config.ResourceConfig" init-method="init">
		</bean> -->

	<!-- resources -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.RcBoothServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.RcOperationServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.RcShowcaseServiceImpl"></bean>

	<!-- home config -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.HomeCfgServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.PeripheryCfgServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.DiscoveryCfgServiceImpl"></bean>
	<!-- <bean id="config" class="com.yimayhd.palacee.config.ResourceConfig" init-method="init">
		</bean> -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.TfsServiceImpl"></bean>
	<!-- commodity -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.CommodityServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.CategoryServiceImpl"></bean>
	<bean class="com.yimayhd.sellerAdmin.service.impl.CommTravelServiceImpl"></bean>
	<bean id="systemManageService" class="com.yimayhd.sellerAdmin.service.impl.SystemManageServiceImpl" />
	<bean class="com.yimayhd.sellerAdmin.service.impl.FlightRPCServiceImpl"></bean>
	<!-- comment -->
	<bean class="com.yimayhd.sellerAdmin.service.impl.TagRPCServiceImpl"></bean>
</beans>