<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
        >
    
    <import resource="spring-consumer-item-test.xml"/>
    <import resource="spring-consumer-resource-test.xml"/>
    <import resource="spring-consumer-user-test.xml"/>
    <import resource="spring-consumer-paycore-test.xml"/>
    <import resource="spring-consumer-trade-test.xml"/>
    <import resource="spring-consumer-member-test.xml"/>
</beans>